@media only screen and (max-width: 550px) {
}


@media only screen and (max-width: 480px) {
    .checkout-order-head {
        &__vendor {
            display: block;
            float: none;
            clear: both;
        }
    }

    .checkout-summary {
        .table_cell {
            display: block;
            &:first-child {
                margin: 0 -10px 10px;
                padding-bottom: 10px;

                text-align: center;

                border-bottom: 1px solid #a6a6a6;
            }
        }
    }
    .checkout-sale-code {
        &__button{
            margin-top: 10px;
        }
    }
    .sale-select{
        &__item{
            width: 100%;
        }
    }
}
