/* ==========================================================================
   Шапка сайта .header
   ========================================================================== */
.header {
    position: fixed;
    z-index: 1010;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    color: @white;
    border-bottom: 1px solid #858585;
    background: @black;
    &-center {
        position: relative;

        width: 100%;
        padding-right: 130px;
        padding-left: 40px;
        text-align: center;

        .box-sizing();
    }
    &-nav-link {
        line-height: 50px;

        position: relative;
        z-index: 2;

        display: block;
        float: left;

        height: 50px;
        padding: 0 10px;
    }
    &__logotype {
        height: 50px;
        .inline-block();
        &-link {
            width: 63px;
            height: 50px;
            margin: auto;

            background: url('@{common-url}/header/logo.png') no-repeat 50% 50%;

            .inline-block();
        }
    }
    &-controls {
        font-size: 0;

        position: relative;
        z-index: 2;

        float: right;
        &__item {
            line-height: 50px;

            height: 50px;

            list-style-type: none;

            vertical-align: middle;

            .inline-block();
        }
        &__link {
            display: block;

            padding: 0 10px;
        }
    }

    &.search {
        .header__logotype {
            float: left;
        }
        .search-form {
            display: block;
            padding-left: 70px;
        }
        .header-controls__item--search {
            display: none;
        }
        .header-center {
            padding-right: 90px;
        }
    }
}

.search-form {
    .inline-block();
    position: relative;
    display: none;

    &__it {
        border: none;
        .rounded(5px);
        padding: 7px 22px 7px 38px;
        margin: 8px 0 0;
        width: 100%;
        .box-sizing();
    }

    .i-search--search-selected {
        position: absolute;
        left: 78px;
        top: 12px;
    }

    .i-search--search-clear {
        position: absolute;
        right: 7px;
        top: 18px;
    }
}

.main-banner-slider {
	margin: 0 0 10px;
    display: none;
}

.content {
	padding: 50px 0 10px;
	overflow: hidden;
}

.inn {
	padding: 10px;
	background-color: #fafafa;
}

.i-header {
    background-image: url("@{common-url}/header/i-header.png");

    &--cart {
        .i-sprite(0, 0, 25px, 22px);
        vertical-align: middle;
    }

    &--cart-full {
        .i-sprite(-25px, 0, 25px, 22px);
        vertical-align: middle;
    }

    &--menu {
        .i-sprite(-50px, 0, 19px, 17px);
        vertical-align: middle;
    }

    &--search {
        .i-sprite(-69px, 0, 24px, 23px);
        vertical-align: middle;
    }

    &--user {
        .i-sprite(-93px, 0, 20px, 22px);
        vertical-align: middle;
    }

    &--user-ep {
        .i-sprite(-113px, 0, 21px, 26px);
        vertical-align: middle;
    }

    &--user-log {
        .i-sprite(-134px, 0, 20px, 22px);
        vertical-align: middle;
    }
}

.i-shop-info {
    background-image: url("@{common-url}/main/i-shop-info.png");

    &__delivery {
        .i-sprite(0, 10px, 37px, 44px);
    }

    &__phone {
        .i-sprite(-37px, 50%, 20px, 44px);
    }

    &__self-delivery {
        .i-sprite(-57px, 11px, 29px, 44px);
    }

    &__shops {
        .i-sprite(-86px, 10px, 26px, 44px);
    }
}

.i-search {
    background-image: url("@{common-url}/header/i-search.png");

    &--search-clear {
        .i-sprite(0, 0, 14px, 14px);
    }

    &--search-selected {
        .i-sprite(-14px, 0, 24px, 24px);
    }
}

// <i class="i-search i-search-search-clear"></i>
// <i class="i-search i-search-search-selected"></i>

// <i class="i-shop-info i-shop-info-shops-info__delivery"></i>
// <i class="i-shop-info i-shop-info-shops-info__phone"></i>
// <i class="i-shop-info i-shop-info-shops-info__self-delivery"></i>
// <i class="i-shop-info i-shop-info-shops-info__shops"></i>

// <i class="i-header i-header__cart"></i>
// <i class="i-header i-header__cart-full"></i>
// <i class="i-header i-header__menu"></i>
// <i class="i-header i-header__search"></i>

html {
    font-size: 100%;
}

body {
    font-size: 100%;
}
// grids
.grid-4cols {
    margin-right: -10px;
    &__item {
        float: left;

        width: 25%;
        padding-right: 10px;

        .box-sizing(border-box);
    }
}

.grid-2cols {
    margin-right: -10px;
    &__item {
        float: left;
        background-color: #fff;

        width: 50%;
        padding-right: 10px;

        .box-sizing(border-box);
    }
}

.main-banner-slider {
	&__item {
		text-align: center;
	}

	&__img {
		max-width: 100%;
	}

	.slick-list {
		margin-bottom: 8px;
	}

	.slick-slide {
		margin: 0 5px;
	}

	.slick-dots {
        line-height: 1;

        height: 5px;
        margin: auto;

        text-align: center;
        li {
            width: 6px;
            height: 6px;
            margin: 0 3px;

            .inline-block();
            &.slick-active {
                button {
                    background-color: #a0a0a0;
                }
            }
            button {
                width: 6px;
                height: 6px;
                margin: 0;
                padding: 0;

                text-indent: -9999px;

                border: none;
                background-color: #d9d9d9;

                .inline-block();
                .rounded(50%);
            }
        }
    }
}

.slider-parent {

    &.m-loader {
        max-height: 200px;
        min-height: 150px;
    }
}

.items-slider {
    border: 1px solid #a0a0a0;
    border-top-width: 5px;
    &--left {
        border-color: #c1d837;
    }
    &--right {
        border-color: #49c7ed;
    }
    &-nav {
        padding: 8px;
        .box-shadow(0 3px 7px -2px rgba(0,0,0,0.2));
        margin: 0 0 8px;

        text-align: center;
        &__desc {
            margin: 0 40px;

            .inline-block();
        }
        &__title {
            font-size: 1em;

            margin: 0 0 5px;

            color: #363636;
        }
        &__btn {
            width: 10px;
            height: 22px;
            padding: 5px 10px;

            .inline-block();
            &--prev {
                background: no-repeat 50% 50% url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAnUlEQVR4AWNABq5SLiscdBhQgctM1/8uNqhCUS4fXBZ58iEL8bscd35tq4Wizjne9b9TAoqQo77LA+fFDiJIQg4CzrNdvjpYoKoLdvvvPBtFyE3W+bHzBTdFJKFQNuepLp+c41Fdp+vyx2UZnIsQdF4OYmFoh7sQ0yICTsJ0PMKbzvch3sQMkEQoBzPoMALZebEnH5bocLYFMzEjDgAlaTveSK5ZEgAAAABJRU5ErkJggg==');
            }
            &--next {
                background: no-repeat 50% 50% url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAh0lEQVQY02Owk3VZ46bIgAocdJx/u6xEEwxlc5rk8tk5GU3YUtr5ocslBxU0YecA1/9O89AEXfidZ7h8d7JCF9Z1vuOyzFYUTdg11u0/hnWefC5HXN666aAbEebyzmWZJx+68HSgK+wICzqHY2jHahEWJ2FxPMSbzpaEAgRL0GENZKzRgS3iAEP8O9WGZbdFAAAAAElFTkSuQmCC');
            }
        }
    }
    &-slides {
    	padding: 0 0 10px;
        display: none;

    	&--images {
    		height: 100px;

    		.items-slider__img {
			  max-height: 80px;
			    margin: 5px 0;
			}

    		.items-slider-slides__item {
    			padding: 0;
    		}
    	}

    	&--goods {
    		.items-slider__img-link {
			  height: 90px;
			  margin: 0 0 8px;
			}
    	}
    	.slick-track {
    		margin: auto;
    	}
        .slick-dots {
            line-height: 1;

            position: absolute;
            top: -23px;
            right: 0;
            left: 0;

            height: 5px;
            margin: auto;

            text-align: center;
            li {
                width: 5px;
                height: 5px;
                margin: 0 3px;

                .inline-block();
                &.slick-active {
                    button {
                        background-color: #a0a0a0;
                    }
                }
                button {
                    width: 5px;
                    height: 5px;
                    margin: 0;
                    padding: 0;

                    text-indent: -9999px;

                    border: none;
                    background-color: #d9d9d9;

                    .inline-block();
                    .rounded(50%);
                }
            }
        }
        &__item {
            padding: 0 20px;

            text-align: center;

            .box-sizing(border-box);
        }
    }
    &__img-link {
        .flexbox();
        .justify-content(center);
    }
    &__img {
        display: block;

        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    &__name {
        font-size: .688em;
        line-height: 1.2;

        display: block;
        overflow: hidden;

        height: 26px;
        margin: 0 0 5px;
    }

    &__old-price {
		font-size: 0.875em;
		display: block;
		line-height: 1.2;
    }

    &__now-price {
		font-size: 1.125em;
		display: block;
		line-height: 1.2;
		margin: 0 0 6px;
    }
}

.shop-info {
    border-top: 1px dotted #a0a0a0;
    border-bottom: 1px dotted #a0a0a0;
    &__item {
        line-height: 44px;

        text-align: center;

        border-right: 1px dotted #a0a0a0;
        &:last-child {
            border-right: none;
        }
        &-icon {
            margin-right: 3px;

            vertical-align: middle;

            .inline-block();
        }
        &-text {
            font-size: 1.125em;

            color: #666;

            .inline-block();
        }
    }
    &__link {
        display: block;
    }
}

.categories-grid {
    border-top: 1px dotted #a0a0a0;
    border-bottom: 1px dotted #a0a0a0;
    &__item {
        line-height: 1;

        float: left;

        width: 12.5%;
        height: 93px;

        text-align: center;

        border-right: 1px dotted #a0a0a0;
        border-bottom: 1px dotted #a0a0a0;

        .box-sizing(border-box);
    }
    &__link {
        line-height: 1;

        display: block;
    }
    &__icon {
        line-height: 57px;

        display: block;

        height: 57px;
    }
    &__img {
        max-height: 40px;
    }
    &__char {
        font-family: 'menuIconFont';
        font-size: 100px;

        display: inline-block;

        height: 57px;
        margin: 0 0 15px;

        vertical-align: top;

        .opacity(.9);
    }
    &__text {
        font-size: .75em;
        line-height: 1;
    }
}

.stitches-i-shop(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

@media only screen and (min-width: 750px) {
    .categories-grid {
        &__item {
            .box-sizing(border-box);
            &:nth-child(8n) {
                border-right: 0;
            }
            &:nth-child(8n+1):nth-last-child(-n+8) ,
            &:nth-child(8n+1):nth-last-child(-n+8) ~ li {
                border-bottom: none;
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .grid-4cols {
        &__item {
            width: 50%;
        }
    }
    .items-slider {
        border-bottom: none;
    }
    .inn {
        padding: 0;
    }
    .grid-2cols {
        &__item {
            width: 100%;
            margin-bottom: 10px;
            &:nth-child(2n) {
                margin-bottom: 0;
            }
        }
    }

    .main-banner-slider {
        .slick-slide {
            margin: 0;
        }
    }

    .categories-grid {
        &__item {
            width: 33.333%;
            &:nth-child(3n) {
                border-right: 0;
            }
            &:nth-child(3n+1):nth-last-child(-n+3) ,
            &:nth-child(3n+1):nth-last-child(-n+3) ~ li {
                border-bottom: none;
            }
        }
    }
    .items-slider-nav__desc {
        margin: 0 20px;
    }

    .shop-info {
        border-bottom: none;
        &__item {
            border-bottom: 1px dotted #a0a0a0;
            &:nth-child(2n+1):nth-last-child(-n+2) ,
            &:nth-child(2n+1):nth-last-child(-n+2) ~ li {
                border-bottom: none;
            }
            &-text {
                font-size: .9em;
            }
        }
    }
}

