.i-header {
    background-image: url("@{common-url}/header/i-header.png");

    &--cart {
        .i-sprite(-2px, -2px, 27px, 22px);
        vertical-align: middle;
    }

    &--cart-full {
        .i-sprite(-32px, -2px, 27px, 22px);
        vertical-align: middle;
    }

    &--menu {
        .i-sprite(-63px, -2px, 20px, 18px);
        vertical-align: middle;
    }

    &--search {
        .i-sprite(-87px, -2px, 24px, 23px);
        vertical-align: middle;
    }

    &--user {
        .i-sprite(-189px, -2px, 20px, 23px);
        vertical-align: middle;
    }

    &--user-ep {
        .i-sprite(-164px, -2px, 21px, 27px);
        vertical-align: middle;
    }

    &--user-log {
        .i-sprite(-140px, -2px, 20px, 23px);
        vertical-align: middle;
    }
}

// <i class="i-header i-header__cart"></i>
// <i class="i-header i-header__cart-full"></i>
// <i class="i-header i-header__menu"></i>
// <i class="i-header i-header__search"></i>

.i-search {
    background-image: url("@{common-url}/header/i-search.png");

    &--search-clear {
        .i-sprite(0, 0, 14px, 14px);
        vertical-align: middle;
    }

    &--search-selected {
        .i-sprite(-14px, 0, 24px, 24px);
    }
}

// <i class="i-search i-search-search-clear"></i>
// <i class="i-search i-search-search-selected"></i>