/* ==========================================================================
   Шапка сайта .header
   ========================================================================== */
// хлебные крошки, если ширина меньше 450, то не показываем
@media only screen and (min-width: 450px) {
    .header {
        &.breadcrumbs {
            .header-center {
                //position: relative;
                //z-index: 1;

                text-align: left;
            }
            .header__logotype {
                //float: left;
            }
            .header-controls {
                //position: relative;
                //z-index: 2;

                background: #000;
            }
            .header-nav-link {
                //position: relative;
                //z-index: 2;

                background: #000;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .header {
        &.search {


            .header__logotype ,
            .header-controls__item--user {
                display: none;
            }
            .search-form {
                padding-left: 0px;
                padding-right: 0px;
            }
            .header-center{
                padding-right: 48px;
            }
        }
        .bread-crumbs {
            display: none;
        }
        .header-center {
            padding-left: 120px;
        }
    }
}
