<div class="product-card-lst js-widget {{widgetId}}" data-template-selector="#tpl-product-slider-large">
    <div class="product-card-lst__row">
        {{#productCards}}
            <div class="product-card-lst__item">
                <div class="catalogList__item-inner">
                    <a href="{{url}}" class="product-card-lst__img-block">
                        <img class="image product-card-lst__img" src="{{image}}" />
                    </a>

                    <div class="product-card-lst__desc">
                        <a href="{{url}}" class="">
                            <div class="product-card-lst__name"><div>{{&name}}</div></div>
                        </a>

                        <div class="product-card-lst__rating">
                            {{#rating}}
                                {{>partial/rating/star-list}}
                            {{/rating}}
                        </div>


                        {{#stateLabel}}
                            <div class="product-card-lst__availability product-card-lst__availability_gray {{cssClassName}}">
                                <span>{{name}}</span>
                            </div>
                        {{/stateLabel}}

                        {{^stateLabel}}
                            <div class="product-card-lst__availability">
                                <span></span>
                            </div>
                        {{/stateLabel}}

                            <div class="product-card-lst__price">
                                {{#shownOldPrice}}
                                    <span class="product-card-lst__price__old">
                                        <span>{{shownOldPrice}}</span> <span class="rubl">p</span>
                                    </span>
                                {{/shownOldPrice}}
                                <div class="price product-card-lst__price-now">{{shownPrice}} <span class="rubl">p</span></div>
                            </div>

                            <div class="product-card-lst__btn-buy">
                                {{#cartButton}}
                                    {{>partial/cart/button-new}}
                                {{/cartButton}}
                            </div>
                    </div>
                </div>
            </div>
        {{/productCards}}
    </div>

</div>