// float
.clear-r {
	clear: right;
}

.clear-l {
	clear: left;
}

.clear {
	clear: both;
}


.flex-hor-vertical-between {
    .flexbox();

    .justify-content(space-between);
    .align-items();
    width: 100%;
    max-width: 100%;
}

.flex-hor-vertical {
    .flexbox();

    .align-items();
    width: 100%;
    max-width: 100%;
}
