.product {
    margin: 0 auto;
    padding: 60px 0 20px;
    &__wrap {
        position: relative;
        padding: 0 20px;
    }
    &__buy-block {
        display: table;

        width: 100%;
        margin-top: 35px;
    }
    &-price {
        font-size: 22px;

        display: table-cell;

        width: 100%;
        max-width: 0;

        vertical-align: middle;
        &__old {
            color: #666;

            .inline-block(middle);
        }
        &__curr {
            .inline-block(middle);
        }
    }
    &__buy {
        display: table-cell;

        vertical-align: middle;
    }
    &__info {
        width: 50%;
        float: left;
        .box-sizing(border-box);

    }
    &-recommend {
        clear: both;
        &__tl {
            font-size: 16px;

            margin: 10px 0 6px;

            color: #616161;
        }
    }
}
