.product-card-lst {
    .clearfix();
    font-size: 0;
    &__i {
        .inline-block(top);

        width: 33.3%;
        padding: 10px 20px;

        text-align: center;

        border-right: 1px solid #c7c7c7;
        border-top: 1px solid #c7c7c7;
        font-size: 12px;

        .box-sizing(border-box);
        &:nth-child(3n) {
            border-right: 0;
        }

        &:nth-last-child(3) ~ & {
            border-top: 1px solid #c7c7c7;
        }
    }
    &__img {
        line-height: 200px;

        width: 200px;
        height: 200px;
        margin: 0 auto;

        text-align: center;
        .image {
            max-width: 98%;
            height: auto;
            max-height: 100%;
        }
    }
    &__lk {
        font-size: 14px;
    }
    &__categ {
        font-size: 14px;

        text-align: left;

        color: #616161;
    }
    &__name {
        font-size: 14px;

        height: 19px;
        margin-bottom: 5px;

        text-align: left;
        &.ellipsis:after {
            top: -16px;

            height: 1.5em;
        }
    }
    &__img {
        max-width: 98%;
        max-height: 100%;

        .inline-block(middle);
    }
    &__price {
        text-align: center;
        font-size: 22px;
        .price {
            .inline-block(middle);
        }
        .old-price {
            margin-right: 10px;

            color: #666;

            .inline-block(middle);
        }
    }
    &__rating {
        float: none;
        height: 17px;

        .rating__star {
            margin-right: 0;
        }
        &.rating{
            text-align: center;
        }
    }
    &__status {
        font-size: 14px;

        height: 22px;
        margin: 5px 0;
        text-align: center;

        color: #666;
        &-inn {
            display: block;

            padding: 2px 5px 3px;

            background-color: #f7f7f7;
        }
        &.self, &.availability--on-display {
            .product-card-lst__status-inn {
                background-color: rgba( 193, 216, 53, .2);
            }
        }
    }
    &__buy {
        margin: 10px 0;
        .btn-buy{
            font-size: 14px;
            //кнопка в табах аксессуаров, доп товаров

            width: 113px;
            padding: 2px 0;

            text-align: center;

            border: 1px solid #f99b1c;

            .inline-block();
            &.watch-only {
                color: #616161;
                border-color: #c7c7c7;
                background: #fff;
                &:hover {
                    color: #616161;
                }
            }
        }
    }
}
