.product-tabs {
    font-size: 0;
    clear: both;

    &__head {
        display: inline-block;
        width: 25%;
        min-width: 100px;
        font-size: 16px;
        text-align: center;
        .box-sizing(border-box);
        padding: 10px;
        border: 1px solid #c7c7c7;
        border-right: 0;
        background-color: #f7f7f7;
        cursor: pointer;

        &:last-child {
            border-right: 1px solid #c7c7c7;
        }
        &.active {
            border-bottom: 0;
            background-color: #fff;
        }
    }
    &__body{
        display: none;

        &.active{
            display: block;
        }
    }
}