.product-props {
    font-size: 14px;

    display: table;

    width: 100%;
    margin-top: 15px;
    &__i {
        position: relative;

        display: table-row;

        width: 100%;
    }
    &__tl {
        position: relative;

        display: table-cell;
        overflow: hidden;

        width: 100%;
        max-width: 150px;
        padding: 4px 5px 0 0;

        white-space: nowrap;
        text-overflow: ellipsis;

        .box-sizing(border-box);
        &:after {
            position: absolute;
            right: 3px;
            bottom: 1px;
            left: 0;

            height: 1px;

            content: '';

            border-bottom: 1px dotted #c7c7c7;
        }
        &-inn {
            position: relative;
            z-index: 2;

            overflow: hidden;

            max-width: 100%;

            text-overflow: ellipsis;

            color: #616161;
            background-color: #fff;

            .inline-block();
        }
    }
    &__val {
        display: table-cell;
        overflow: hidden;

        max-width: 150px;
        padding: 4px 0 0;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__more-link {
        margin-top: 10px;

        color: #616161;
        border-bottom: 1px dotted;

        .inline-block();
    }
}
