.product-reviews {
    padding: 0 30px;

    .reviews-add{
        margin: 15px 0 10px;
    }
    .reviews-add-icon{
        font-size: 12px;
        color: #616161;
    }
    .reviews-add-title{
        font-size: 16px;
        color: #616161;
        border-bottom: 1px dotted;
    }
    .reviews{
        margin: 10px 0;
        font-size: 14px;
        &__sbtl{
            font-weight: bold;
            margin: 10px 0 5px;
            color: #000;
        }
        &__rating{
            .inline-block(middle);
            margin-top: -1px;
            margin-right: 3px;
            .rating__star{
                margin: 0px;
            }
        }
        &__date{
            .inline-block(middle);
            color: #616161;
        }
        &__name{
            .inline-block(middle);
            margin-right: 3px;
        }
        &__txt{
            clear: both;
            color: #616161;
        }
    }
}