.product-name {
    margin: 0 30px 30px 0;
    &__categ {
        font-size: 14px;

        margin: 4px 0 2px;

        color: #797979;
    }
    &__tl {
        font-size: 16px;

        overflow: hidden;

        max-height: 22px;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: #000;
    }
    &__art {
        font-size: 12px;

        margin: 0 0 5px;

        color: #797979;
    }
    &__vendor {
        margin: 0 0 5px;
        &-link {
            line-height: 15px;

            .inline-block(middle);

            color: #9c9c9c;

            &:after {
                content: '';
                .inline-block(middle);
                width: 15px;
                height: 15px;
                margin-left: 5px;
                background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAA70lEQVR4AY2SJXBEQQyGY8rgyq1X1WVVVLV15+rtumO0z/uC9zNFP28CD/S69WWG7PF9aiH5g6CkK5GRa7b8yFauI5OuQCvJiDTIYUB7tIDDtEB7GJCTRjLi68zyPZ2Hc9BEOEfnfJ/O/ivxPVbgl9x0YTU3Cb9ghe9/FaVB56pROa28lzN6p3NpfCdOzg9X2SlfltabQrt0BSKDAfQEg8iAXNMeeBSPy2HxCDxoT66BLS2Aormp2QJb4Ecc7m2Gw/w4oJrm1mLWkptW6pu1Vqp9azFr6VvrFMqZylPppGUKLTNVWmY6yIYMvm8Dbu8HCFu+2E7VJeUAAAAASUVORK5CYII=');
                background-size: 15px 15px;
            }
        }
    }
    .mobile {
        display: none;
    }
    .rating {
        margin: 0;
    }
}
