<div class="content js-content">
    <div class="contentBox960 js-content-hidden">

        {{#categoryBlock}}
            <ul class="catalogCategories clearfix">
                {{#categories}}
                <li class="catalogCategories_item">
                    <a href="{{url}}" class="catalogCategories_link">
                        <div class="catalogCategories-img-container">
                            <img src="{{image}}" alt="{{name}}" class="catalogCategories_img">
                        </div>
                        <span class="catalogCategories_text">{{name}}</span>
                    </a>
                </li>
                {{/categories}}
            </ul>
        {{/categoryBlock}}

        {{>partial/navigation}}

        {{#filterBlock}}
            {{>partial/product-list/filterBlock}}
        {{/filterBlock}}

        {{#productBlock}}
            {{>partial/product-list/default}}
        {{/productBlock}}
    </div>
</div>

