<div class="content js-content">
    <div class="contentBox960 js-content-hidden">

        {{#categoryBlock}}
            <div class="catalogCategories">
               <div class="catalogCategories__row">
                   {{#categories}}
                       <div class="catalogCategories__item">
                           <a href="{{url}}" class="catalogCategories__link">
                               <div class="catalogCategories__img-block">
                                   <img src="{{image}}" alt="{{name}}" class="catalogCategories__img">
                               </div>
                               <span class="catalogCategories__name">{{name}}</span>
                           </a>
                       </div>
                   {{/categories}}
               </div>
            </div>
        {{/categoryBlock}}

        {{>partial/navigation}}

        {{#filterBlock}}
            {{>partial/product-list/filterBlock}}
        {{/filterBlock}}

        {{#productBlock}}
            {{>partial/product-list/default}}
        {{/productBlock}}
    </div>
</div>

