<!-- шапка оформления заказа -->
<header class="checkout-head">
	<div class="contentBox640">
	    <img class="checkout-head__logo" src="/css/modules/order/img/logo.png" />

	    <ul class="checkout-head-steps">
	        <!-- если шаг пройден то passive, текущий шаг active -->
	        <li class="checkout-head-steps__item passive"><span class="checkout-head-steps__text">Получатель</span></li>
	        <li class="checkout-head-steps__item active"><span class="checkout-head-steps__text">Самовывоз <i class="block"></i>и доставка</span></li>
	        <li class="checkout-head-steps__item"><span class="checkout-head-steps__text">Оплата</span></li>
	    </ul>
    </div>
</header>
<!--/ шапка оформления заказа -->

<div class="content">
    <div class="contentBox640">
	    <section class="checkout">
	        <h1 class="checkout__tl">Оформление заказа</h1>

	        <form class="checkout-form form-control clearfix" action="" method="" accept-charset="utf-8">
	        	<fieldset class="order-authorize__container">
		            <div class="order-authorize">
			            <div class="order-authorize__t">Уже заказывали у нас?</div>
			            <button class="order-authorize__btn btn1"><span class="btn-inner">Войти с паролем</span></button>
			        </div>
		        </fieldset>

	            <fieldset class="form-control__container">
	                <div class="form-control-group">
	                    <input class="form-control-group__tx textfield" type="text" name="" value="" placeholder="">
	                    <label class="form-control-group__lbl required" for="">Телефон</label>
	                    <span class="form-control-group__hint">Для смс о состоянии заказа</span>
	                </div>

					<div class="form-control-group">
	                    <input class="form-control-group__tx textfield" type="text" name="" value="" placeholder="">
	                    <label class="form-control-group__lbl required" for="">E-mail</label>
	                </div>

	                <div class="form-control-group">
	                    <input class="form-control-group__tx textfield" type="text" name="" value="" placeholder="">
	                    <label class="form-control-group__lbl" for="">Имя</label>
	                    <span class="form-control-group__hint">Как к вам обращаться?</span>
	                </div>
	            </fieldset>

	            <fieldset class="form-control__container">
	                {{! Чтобы показать/скрыть поле с картой, надо добавить/убрать класс active: }}
	                <div class="bonus-cnt active">
	                	<div class="bonus-cnt__head">Начислить баллы</div>
						<div class="bonus-cnt-card">
							<img class="bonus-cnt-card__img" src="/css/modules/order/img/m-mnogoru.png">

							<span class="bonus-cnt-card__tl">Карта Много.ру</span>
						</div>
						<div class="form-control-group">
		                    <input class="form-control-group__tx textfield jsOrderV3MnogoRuCardField" type="text" name="user_info[mnogo_ru_number]" value="" placeholder="xxxx xxxx" data-mask="xxxx xxxx">
		                    <label class="form-control-group__lbl" for="">Карта</label>
	                    </div>
	                </div>
	                <div class="bonus-cnt">
	                	<div class="bonus-cnt__head">Начислить баллы</div>
						<div class="bonus-cnt-card">
							<img class="bonus-cnt-card__img" src="/css/modules/order/img/m-mnogoru.png">

							<span class="bonus-cnt-card__tl">Карта Много.ру</span>
						</div>
						<div class="form-control-group">
		                    <input class="form-control-group__tx textfield jsOrderV3MnogoRuCardField" type="text" name="user_info[mnogo_ru_number]" value="" placeholder="xxxx xxxx" data-mask="xxxx xxxx">
		                    <label class="form-control-group__lbl" for="">Карта</label>
	                    </div>
	                </div>
	            </fieldset>
	        </form>

	        <div class="btn-container btn-container--orange">
	            <button class="btn btn--submit btn--orange btn--big">Далее</button>
	        </div>
	    </section>

	    <section class="checkout">
	        <h1 class="checkout__tl">Самовывоз и доставка</h1>

	        <p class="orderInf">Товары будут оформлены как  <strong class="mdb">3 отдельных заказа</strong></p>

	        <div class="orderInf clearfix">
	            <div class="orderInf_tx">Ваш регион: <strong>Москва</strong></div>

	            <div class="orderInf_l">От региона зависят доступные способы получения и оплаты заказов.</div>

	            <button class="orderInf_r btn-transparent btn-transparent--normal"><span class="bb-dotted">Изменить регион</span></button>
	        </div>

	        {{! разбиение заказа, адрес доставки не выбран }}
	        <div class="checkout-order">
                <div class="checkout-order-head checkout-order__box checkout-order__box--head">
                    <strong class="checkout-order-head__title">Заказ №1</strong>
                    <a class="checkout-order-head__info checkout-order-head__right" href=""><span class="bb-dotted">Информация и оферта</span></a>
                    <span class="checkout-order-head__vendor checkout-order-head__right">продавец: ООО «Связной»</span>
                </div>

				<div class="checkout-order__box checkout-order__box--stretch">
	                <menu class="checkout-delivery-type clearfix">
	                    <li class="checkout-delivery-type__item active js-delivery-type-name" data-type="delivery-type-self">
	                    	<span class="checkout-delivery-type__text">Самовывоз</span>
	                    </li>

	                    <li class="checkout-delivery-type__item js-delivery-type-name" data-type="delivery-type-buy">
	                    	<span class="checkout-delivery-type__text">Доставка</span>
	                    </li>
	                </menu>

					<div class="checkout-order__inn box-show js-delivery-type" id="delivery-type-self">
			            <div class="btn-container">
				            <button class="btn-transparent btn-transparent--normal js-order-btn" data-btn="select-shop">
				            	<span class="bb-dotted">Выбрать точку самовывоза</span>
				            </button>
			            </div>
	                </div>

	                <div class="checkout-order__inn js-delivery-type" id="delivery-type-buy">
						<div class="checkout-celendar js-popup-box-celendar-link">15 сентября 2014, воскресенье</div>

		                <div class="custom-select custom-select--button">
	                        <span class="custom-select__value js-order-btn" data-btn="select-time">10:00…18:00 <i class="caret"></i></span>

	                        <ul class="custom-select-list js-order-box" data-box="data-select-time">
	                            <li class="custom-select-list__item">10:00…18:00</li>
	                            <li class="custom-select-list__item">8:00…12:00</li>
	                            <li class="custom-select-list__item">12:00…18:00</li>
	                        </ul>
	                    </div>

		                <div class="checkout-address">
							<div class="checkout-address__title"><strong>Адрес</strong> для всех заказов с доставкой</div>

							<button class="orderInf_r btn-transparent btn-transparent--normal"><span class="bb-dotted">Указать адрес</span></button>
						</div>
		            </div>
                </div>

				<div class="checkout-order__box checkout-order__box--light">
	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="http://fs03.enter.ru/1/1/163/4a/108293.jpg">
	                    </div>

						<div class="checkout-order-items__right table_cell">
		                    <div class="checkout-order-items__name">
			                    <a href="">
			                        Самокат<br>
			                        JD Bug Classic MS-305 синий JD Bug Classic MS-305 синий
			                    </a>
		                    </div>

		                    <div class="checkout-order-items__data l">5 200 <span class="rubl">p</span></div>
		                    <div class="checkout-order-items__data l ta-c">1 шт.</div>
		                    <div class="checkout-order-items__data l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>

	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="http://fs03.enter.ru/1/1/163/4a/108293.jpg">
	                    </div>

						<div class="checkout-order-items__right table_cell">
		                    <div class="checkout-order-items__name">
			                    <a href="">
			                        Самокат<br>
			                        JD Bug Classic MS-305 синий JD Bug Classic MS-305 синий
			                    </a>
		                    </div>

		                    <div class="checkout-order-items__data l">5 200 <span class="rubl">p</span></div>
		                    <div class="checkout-order-items__data l ta-c">1 шт.</div>
		                    <div class="checkout-order-items__data l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>
                </div>

				{{! ввести код скидки или сертефиката }}
                <div class="checkout-order__box checkout-order__box--light js-order-box" data-box="data-select-sale">
                	<div class="checkout-sale-code">
						<div class="checkout-sale-code__title">Код скидки или подарочный сертификат</div>

						<div class="checkout-sale-code__fields">
							<input type="text" class="checkout-sale-code__it textfield">

							<div class="checkout-sale-code-pin">
								<label class="checkout-sale-code-pin__label">PIN-код</label>
								<input type="text" class="checkout-sale-code__it checkout-sale-code__it--pin textfield">
							</div>
						</div>

						<button class="checkout-sale-code__button btn-type btn-type--default js-order-btn" data-btn="selected-sale">Применить</button>
					</div>

					<a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>
                </div>
				{{! ввести код скидки или сертефиката }}

				{{! примененные скидки }}
                <div class="checkout-order__box checkout-order__box--light js-order-box" data-box="data-selected-sale">
	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="/css/modules/order/img/fishka_act.png">
	                    </div>

						<div class="checkout-order-items__right table_cell">
							<div class="checkout-order-items__name">
		                        - 2% на категорию Электроника<br>
		                        Минимальная сумма заказа 6999 руб
		                    </div>

							<div class="checkout-order-items__data">&nbsp;</div>
							<div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
		                    <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>

	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="/css/modules/order/img/fishka_act.png">
	                    </div>

						<div class="checkout-order-items__right table_cell">
							<div class="checkout-order-items__name">
		                        - 2% на категорию Электроника<br>
		                        Минимальная сумма заказа 6999 руб
		                    </div>

							<div class="checkout-order-items__data">&nbsp;</div>
							<div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
		                    <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>
                </div>
                {{! примененные скидки }}

            	{{! общая стоимость заказа }}
                <div class="checkout-summary checkout-order__box table">
            		<div class="table_cell">
            			<button class="btn-transparent btn-transparent--normal"><span class="bb-dotted">Добавить скидку</span></button>
            		</div>

            		<div class="table_cell ta-r">
            			<div class="checkout-summary__item checkout-summary__item--val mb-10">150 <span class="rubl">p</span></div>
	                    <div class="checkout-summary__item mb-10">Доставка:</div>

	                    <div class="checkout-summary__item checkout-summary__item--val mb-5 grey-light clear-r l">42 334 <span class="rubl">p</span></div>

	                    <div class="checkout-summary__item checkout-summary__item--val clear-r l">2 334 <span class="rubl">p</span></div>
	                    <div class="checkout-summary__item l">Итого:</div>
            		</div>
                </div>
            	{{! общая стоимость заказа }}

            	{{! Оплата }}
            	<div class="checkout-checkbox">
            		<ul class="checkout-checkbox-lst">
            			<li class="checkout-checkbox-lst__i">
				            <input type="radio" id="type1" name="paynow" class="custom-input custom-input--defradio" checked>
							<label class="custom-label" for="type1">
								<span class="custom-label_tx">При получении</span>

							</label>
            			</li>
            			<li class="checkout-checkbox-lst__i">
				            <input type="radio" id="type2" name="paynow" class="custom-input custom-input--defradio" checked>
							<label class="custom-label" for="type2" checked>
								<span class="custom-label_tx">Онлайн-оплата
									<span class="custom-label_tx--gray custom-label_tx--small">Банковская карта, Яндекс.Деньги, PayPal и др.</span>

								</span>

							</label>
            			</li>
            		</ul>
            	</div>
            	{{! Оплата - end }}
	        </div>
	        {{! разбиение заказа, адрес доставки не выбран }}
	        <div class="btn-container btn-container--orange">
                <input type="checkbox" class="custom-input custom-input--check" id="accept" name="" value="" />
                <label class="order-accept custom-label custom-label--top" for="accept">Я ознакомлен и согласен с информацией о продавце и его офертой</label>

	            <button class="btn btn--submit btn--orange btn--big">Оформить</button>
	        </div>

	        {{! разбиение заказа, адрес доставки выбран }}
	        <div class="checkout-order">
                <div class="checkout-order-head checkout-order__box checkout-order__box--head">
                    <strong class="checkout-order-head__title">Заказ №1</strong>
                    <a class="checkout-order-head__info checkout-order-head__right" href=""><span class="bb-dotted">Информация и оферта</span></a>
                    <span class="checkout-order-head__vendor checkout-order-head__right">продавец: ООО «Связной»</span>
                </div>

				<div class="checkout-order__box checkout-order__box--stretch complete">
	                <menu class="checkout-delivery-type clearfix">
	                    <li class="checkout-delivery-type__item active js-delivery-type-name" data-type="delivery-type-self-1">
	                    	<span class="checkout-delivery-type__text">Самовывоз</span>
	                    </li>

	                    <li class="checkout-delivery-type__item js-delivery-type-name" data-type="delivery-type-buy-1">
	                    	<span class="checkout-delivery-type__text">Доставка</span>
	                    </li>
	                </menu>

					<div class="checkout-order__inn box-show js-delivery-type" id="delivery-type-self-1">
						<div class="checkout-celendar">15 сентября 2014, воскресенье</div>

						<div class="checkout-address">
							<div class="checkout-address__title"><strong>Магазин</strong></div>

							<div class="shop-snippet clearfix">
								<div class="shop-snippet-name">
									<img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
									<span class="shop-snippet-name__text">Магазин Enter</span>
								</div>

								<div class="shop-snippet-info">
									<div class="shop-snippet-metro">
										<span class="shop-snippet-metro__bullet" style="background: green;"></span>
										<span class="shop-snippet-metro__text">м. Белорусская</span>
									</div>

									<div class="shop-snippet-address">ул. Линии Октябрьской Железной Дороги, д. 1, стр. 2 <br/>c 9.00 до 22.00</div>
								</div>

								<div class="table_cell"><a href="" class="bb-dotted">Изменить</a></div>
							</div>
						</div>
	                </div>

	                <div class="checkout-order__inn js-delivery-type" id="delivery-type-buy-1">
						<div class="checkout-celendar js-popup-box-celendar-link">15 сентября 2014, воскресенье</div>

		                <div class="custom-select custom-select--button">
	                        <span class="custom-select__value js-order-btn" data-btn="select-time">10:00…18:00 <i class="caret"></i></span>

	                        <ul class="custom-select-list js-order-box" data-box="data-select-time">
	                            <li class="custom-select-list__item">10:00…18:00</li>
	                            <li class="custom-select-list__item">8:00…12:00</li>
	                            <li class="custom-select-list__item">12:00…18:00</li>
	                        </ul>
	                    </div>

		                <div class="checkout-address">
							<div class="checkout-address__title"><strong>Адрес</strong> для всех заказов с доставкой</div>

							<p class="checkout-address__selected">ул. Линии Октябрьской Железной Дороги, 12/1, кв.23</p>

							<div class="checkout-address__select custom-select">
    	                        <span class="custom-select__value js-order-btn" data-btn="select-address">
	    	                        <span class="bb-dotted">Указать адрес</span>
	    	                        <i class="caret"></i>
    	                        </span>

    	                        <ul class="custom-select-list js-order-box" data-box="data-select-address">
    	                            <li class="custom-select-list__item">ул. Линии Октябрьской Железной Дороги, 12/1, 23</li>
    	                            <li class="custom-select-list__item">ул. Орджоникидзе, 10</li>
    	                            <li class="custom-select-list__item custom-select-list__item--add"><span class="icon-plus">+</span> <span class="bb-dotted">Добавить адрес</span></li>
    	                        </ul>
    	                    </div>
						</div>
		            </div>
                </div>

				<div class="checkout-order__box checkout-order__box--light">
	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="http://fs03.enter.ru/1/1/163/4a/108293.jpg">
	                    </div>

						<div class="checkout-order-items__right table_cell">
		                    <div class="checkout-order-items__name">
			                    <a href="">
			                        Самокат<br>
			                        JD Bug Classic MS-305 синий JD Bug Classic MS-305 синий
			                    </a>
		                    </div>

		                    <div class="checkout-order-items__data l">5 200 <span class="rubl">p</span></div>
		                    <div class="checkout-order-items__data l ta-c">1 шт.</div>
		                    <div class="checkout-order-items__data l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>

	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="http://fs03.enter.ru/1/1/163/4a/108293.jpg">
	                    </div>

						<div class="checkout-order-items__right table_cell">
		                    <div class="checkout-order-items__name">
			                    <a href="">
			                        Самокат<br>
			                        JD Bug Classic MS-305 синий JD Bug Classic MS-305 синий
			                    </a>
		                    </div>

		                    <div class="checkout-order-items__data l">5 200 <span class="rubl">p</span></div>
		                    <div class="checkout-order-items__data l ta-c">1 шт.</div>
		                    <div class="checkout-order-items__data l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>
                </div>

				{{! ввести код скидки или сертефиката }}
                <div class="checkout-order__box checkout-order__box--light js-order-box" data-box="data-select-sale">
                	<div class="checkout-sale-code">
						<div class="checkout-sale-code__title">Код скидки или подарочный сертификат</div>

						<div class="checkout-sale-code__fields">
							<input type="text" class="checkout-sale-code__it textfield">

							<div class="checkout-sale-code-pin">
								<label class="checkout-sale-code-pin__label">PIN-код</label>
								<input type="text" class="checkout-sale-code__it checkout-sale-code__it--pin textfield">
							</div>
						</div>

						<button class="checkout-sale-code__button btn-type btn-type--default js-order-btn" data-btn="selected-sale">Применить</button>
					</div>
					<a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>

	                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
	                	<img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

						<span class="sale-select__right">- 2% на категорию Электроника</span>
	                </a>
                </div>
				{{! ввести код скидки или сертефиката }}

				{{! примененные скидки }}
                <div class="checkout-order__box checkout-order__box--light js-order-box" data-box="data-selected-sale">
	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="/css/modules/order/img/fishka_act.png">
	                    </div>

						<div class="checkout-order-items__right table_cell">
							<div class="checkout-order-items__name">
		                        - 2% на категорию Электроника<br>
		                        Минимальная сумма заказа 6999 руб
		                    </div>

							<div class="checkout-order-items__data">&nbsp;</div>
							<div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
		                    <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>

	                <div class="checkout-order-items table">
	                    <div class="checkout-order-items__left table_cell">
	                        <img alt="" src="/css/modules/order/img/fishka_act.png">
	                    </div>

						<div class="checkout-order-items__right table_cell">
							<div class="checkout-order-items__name">
		                        - 2% на категорию Электроника<br>
		                        Минимальная сумма заказа 6999 руб
		                    </div>

							<div class="checkout-order-items__data">&nbsp;</div>
							<div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
		                    <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">5 200 <span class="rubl">p</span></div>
	                    </div>
	                </div>
                </div>
                {{! примененные скидки }}

				{{! общая стоимость заказа }}
                <div class="checkout-summary checkout-order__box table">
            		<div class="table_cell">
            			<button class="btn-transparent btn-transparent--normal"><span class="bb-dotted">Добавить скидку</span></button>
            		</div>

            		<div class="table_cell ta-r">
            			<div class="checkout-summary__item checkout-summary__item--val mb-10">150 <span class="rubl">p</span></div>
	                    <div class="checkout-summary__item mb-10">Доставка:</div>

	                    <div class="checkout-summary__item checkout-summary__item--val clear-r l">2 334 <span class="rubl">p</span></div>
	                    <div class="checkout-summary__item l">Итого:</div>
            		</div>
                </div>
            	{{! общая стоимость заказа }}
	            {{! Оплата }}
	        	<div class="checkout-checkbox">
	        		<ul class="checkout-checkbox-lst">
	        			<li class="checkout-checkbox-lst__i">
				            <input type="radio" id="type1" name="paynow" class="custom-input custom-input--defradio" checked>
							<label class="custom-label" for="type1">
								<span class="custom-label_tx">При получении</span>

							</label>
	        			</li>
	        			<li class="checkout-checkbox-lst__i">
				            <input type="radio" id="type2" name="paynow" class="custom-input custom-input--defradio" checked>
							<label class="custom-label" for="type2" checked>
								<span class="custom-label_tx">Онлайн-оплата
									<span class="custom-label_tx--gray custom-label_tx--small">Банковская карта, Яндекс.Деньги, PayPal и др.</span>

								</span>

							</label>
	        			</li>
	        		</ul>
	        	</div>
	        	{{! Оплата - end }}
	        </div>
	        {{! разбиение заказа, адрес доставки выбран }}

	        <div class="btn-container btn-container--orange">
                <input type="checkbox" class="custom-input custom-input--check" id="accept" name="" value="" />
                <label class="order-accept custom-label custom-label--top" for="accept">Я ознакомлен и согласен с информацией о продавце и его офертой</label>

	            <button class="btn btn--submit btn--orange btn--big">Оформить</button>
	        </div>
	    </section>

	    <section class="checkout">
	        <h1 class="checkout__tl">Ваши заказы</h1>

            <div class="confirm">
                <div class="confirm__box confirm__box--normal">
	                <strong class="confirm__title">Заказ</strong>
	                <a href="" class="confirm__number">COXD-305176</a>
                </div>

                <div class="confirm__box confirm__box--items table table--2col">
            		<div class="table_cell">
						<ul class="confirm-items">
	                        <li class="confirm-items__i">Бумажный конструктор 3 шт.</li>
	                        <li class="confirm-items__i">Батарейки AAAA 18 шт.</li>
	                        <li class="confirm-items__i"><a class="confirm-items__lk" href="">и ещё 3 товара</a></li>
	                    </ul>
            		</div>

					<div class="table_cell">
						<div>Самовывоз 11 июл. 2014</div>

						<div class="shop-snippet clearfix">
							<div class="shop-snippet-name">
								<img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
								<span class="shop-snippet-name__text">Магазин Enter</span>
							</div>

							<div class="shop-snippet-info">
								<div class="shop-snippet-metro">
									<span class="shop-snippet-metro__bullet" style="background: green;"></span>
									<span class="shop-snippet-metro__text">м. Белорусская</span>
								</div>

								<div class="shop-snippet-address">ул. Грузинский вал, д. 28/45 <br/>c 9.00 до 22.00</div>
							</div>
						</div>
					</div>
                </div>

                <div class="confirm__box confirm__box--normal comfirm-summary">
                    <span class="comfirm-summary__title">Сумма заказа:</span>
                    <span class="comfirm-summary__price">42 740 <span class="rubl">p</span></span>
                </div>
            </div>

            <div class="confirm">
                <div class="confirm__box confirm__box--normal">
	                <strong class="confirm__title">Заказ</strong>
	                <a href="" class="confirm__number">COXD-305176</a>
                </div>

                <div class="confirm__box confirm__box--items table table--2col">
            		<div class="table_cell">
						<ul class="confirm-items">
	                        <li class="confirm-items__i">Бумажный конструктор 3 шт.</li>
	                        <li class="confirm-items__i">Батарейки AAAA 18 шт.</li>
	                        <li class="confirm-items__i"><a class="confirm-items__lk" href="">и ещё 3 товара</a></li>
	                    </ul>
            		</div>

					<div class="table_cell">
						<div>Доставка 11 июл. 2014 9:00…18:00</div>
						<div>Оплата при получении: наличные, банковская карта</div>
					</div>
                </div>

                <div class="confirm__box confirm__box--payment confirm-payment">
            		<div class="confirm-payment__title confirm-payment__cell">Требуется предоплата</div>

					<div class="confirm-payment__cell">
						<button class="confirm-payment__btn btn-transparent btn-transparent--normal js-popup-link">
							<span class="bb-dotted m">Оплатить онлайн</span>
						</button>

						<span class="confirm-payment__types">
							<img class="confirm-payment__card" width="25" src="/css/modules/order/img/master.png" alt="" />
                            <img class="confirm-payment__card" width="25" src="/css/modules/order/img/Visa.png" alt="" />
                            <img class="confirm-payment__card" width="16" src="/css/modules/order/img/psb.png" alt="" />
						</span>
					</div>
                </div>

                <div class="confirm__box confirm__box--normal comfirm-summary">
                    <span class="comfirm-summary__title">Сумма заказа:</span>
                    <span class="comfirm-summary__price">42 740 <span class="rubl">p</span></span>
                </div>
            </div>

            <div class="confirm">
                <div class="confirm__box confirm__box--normal">
	                <strong class="confirm__title">Заказ</strong>
	                <a href="" class="confirm__number">COXD-305176</a>
	                <strong class="confirm__status">оформлен</strong>
                </div>

                <div class="confirm__box confirm__box--items table table--2col">
            		<div class="table_cell">
						<ul class="confirm-items">
	                        <li class="confirm-items__i">Бумажный конструктор 3 шт.</li>
	                        <li class="confirm-items__i">Батарейки AAAA 18 шт.</li>
	                        <li class="confirm-items__i"><a class="confirm-items__lk" href="">и ещё 3 товара</a></li>
	                    </ul>
            		</div>

					<div class="table_cell">
						<div>Доставка 11 июл. 2014 9:00…18:00</div>
						<div>Оплата при получении: наличные, банковская карта</div>
					</div>
                </div>

                <div class="confirm__box confirm__box--normal comfirm-summary">
                    <span class="comfirm-summary__title">Сумма заказа:</span>
                    <span class="comfirm-summary__price">42 740 <span class="rubl">p</span></span>
                </div>

                <div class="confirm__box confirm__box--payment confirm-payment">
            		<div class="confirm-payment__title confirm-payment__cell">Требуется предоплата</div>

					<div class="confirm-payment__cell">
						<button class="confirm-payment__btn btn-transparent btn-transparent--normal js-popup-link">
							<span class="bb-dotted m">Оплатить онлайн</span>
						</button>

						<span class="confirm-payment__types">
							<img class="confirm-payment__card" width="25" src="/css/modules/order/img/master.png" alt="" />
                            <img class="confirm-payment__card" width="25" src="/css/modules/order/img/Visa.png" alt="" />
                            <img class="confirm-payment__card" width="16" src="/css/modules/order/img/psb.png" alt="" />
						</span>
					</div>
                </div>
            </div>

            <div class="confirm">
                <div class="confirm__box confirm__box--normal">
	                <strong class="confirm__title">Заказ</strong>
	                <a href="" class="confirm__number">COXD-305176</a>
	                <strong class="confirm__status">оформлен</strong>
                </div>

                <div class="confirm__box confirm__box--items table table--2col">
            		<div class="table_cell">
						<ul class="confirm-items">
	                        <li class="confirm-items__i">Бумажный конструктор 3 шт.</li>
	                    </ul>
            		</div>

					<div class="table_cell">
						<div>Доставка 11 июл. 2014 9:00…18:00</div>
						<div>Оплата при получении: наличные, банковская карта</div>
					</div>
                </div>

                <div class="confirm__box confirm__box--normal comfirm-summary">
                    <span class="comfirm-summary__title">Сумма заказа:</span>
                    <span class="comfirm-summary__price">42 740 <span class="rubl">p</span></span>
                </div>

                <div class="confirm__box confirm__box--payment confirm-payment">
            		<div class="confirm-payment__title confirm-payment__cell">Требуется предоплата</div>

					<div class="confirm-payment__cell">
						<button class="confirm-payment__btn btn-transparent btn-transparent--normal js-popup-link">
							<span class="bb-dotted m">Оплатить онлайн</span>
						</button>

						<span class="confirm-payment__types">
							<img class="confirm-payment__card" width="25" src="/css/modules/order/img/master.png" alt="" />
                            <img class="confirm-payment__card" width="25" src="/css/modules/order/img/Visa.png" alt="" />
                            <img class="confirm-payment__card" width="16" src="/css/modules/order/img/psb.png" alt="" />
						</span>
					</div>
                </div>
            </div>

            <div class="btn-stretch btn-stretch--default"><a class="btn-stretch__link" href="" title="">Вернуться на главную</a></div>
	    </section>

	    <section class="checkout checkout-done">
		    <h1 class="checkout__tl">Оформлен заказ № COXD-1234567</h1>
		    <div class="checkout__sum">На сумму <b>47 222</b> рублей</div>

		    <div class="checkout-done-order-cnt">
		    	<span class="checkout-done-order-cnt__tl">Ждём Вас 27.12.2014</span>
		    	<div class="shop-snippet">
					<div class="shop-snippet-name">
						<img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
						<span class="shop-snippet-name__text">Магазин Enter</span>
					</div>

					<div class="shop-snippet-info">
						<div class="shop-snippet-metro">
							<span class="shop-snippet-metro__bullet" style="background: green;"></span>
							<span class="shop-snippet-metro__text">м. Белорусская</span>
						</div>

						<div class="shop-snippet-address">ул. Линии Октябрьской Железной Дороги, д. 1, стр. 2 <br/>c 9.00 до 22.00</div>
					</div>
				</div>
		    	<span class="checkout-done-order-cnt__place-link">Как добраться</span>
		    	<div class="checkout-done-order-cnt__info">Оплата при получении — наличными или картой.</div>
		    </div>
		    <div class="checkout-done-order-cnt checkout-done-order-cnt-online-payment">
		    	<span class="checkout-done-order-cnt__tl">Скидка 5%</span>
		    	<ul class="discount-list">
		    		<li class="discount-list-i">
		    			<span class="discount-list-i__txt">Сумма заказа:</span>
		    			<span class="discount-list-i__sum">47 767 <span class="rubl">p</span></span>
		    		</li>
		    		<li class="discount-list-i">
		    			<span class="discount-list-i__txt">При оплате онлайн:</span>
		    			<span class="discount-list-i__sum">46 167 <span class="rubl">p</span></span>
		    		</li>
		    	</ul>
		    	<div class="payment-opt">
		    		<button class="btn btn--submit btn--orange btn--medium">Оплатить сейчас</button>
		    		<span class="confirm-payment__types">
		    			<img class="confirm-payment__card" width="25" src="/css/modules/order/img/visa2.png" alt="">
						<img class="confirm-payment__card" width="25" src="/css/modules/order/img/mcard.png" alt="">
                        <img class="confirm-payment__card" width="16" src="/css/modules/order/img/psb.png" alt="">
					</span>
		    	</div>
		    </div>
		    <div class="checkout-done-order-cnt">
		    	<span class="checkout-done-order-cnt__tl">Онлайн-оплата в два клика</span>
		    	<div class="payment-opt">
		    		<button class="btn btn--submit btn--orange btn--medium">Оплатить сейчас</button>
		    		<span class="confirm-payment__types">
		    			<img class="confirm-payment__card" width="25" src="/css/modules/order/img/visa2.png" alt="">
						<img class="confirm-payment__card" width="25" src="/css/modules/order/img/mcard.png" alt="">
                        <img class="confirm-payment__card" width="16" src="/css/modules/order/img/psb.png" alt="">
					</span>
		    	</div>
		    </div>

			<div class="btn-stretch btn-stretch--default">
				<a class="btn-stretch__link" href="" title="">Вернуться на главную</a>
			</div>

		</section>

	</div>
</div>

{{! Нужно убрать свойство данного блока max-width: 300px, которое ставится js-ом }}
<div class="popupBox order-popup js-popup-box">
	<div class="order-popup__head">
		<span class="popup-close js-popup-close">Отмена</span>
		<span class="popup-title">Адрес доставки</span>
	</div>

	<ul class="checkout-checkbox-lst">
		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="adr1" name="paynow" class="custom-input custom-input--defradio" checked>

			<label class="custom-label" for="adr1">
				<span class="custom-label_tx">ул. Линии Октябрьской Железной Дороги, 12/1, 23</span>
			</label>
		</li>

		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="adr2" name="adrnow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="adr2">
				<span class="custom-label_tx">ул. Орджоникидзе, 10</span>
			</label>
		</li>

		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="adr3" name="adrnow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="adr3">
				<span class="custom-label_tx">Улицв Умывальников Начальника</span>
			</label>
		</li>
		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="adr3" name="adrnow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="adr3">
				<span class="custom-label_tx"><span class="custom-label_tx--gray">Другой адрес</span></span>
			</label>
		</li>
		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="adr4" name="adrnow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="adr4">

				<span class="custom-label_tx"><span class="custom-label_tx--gray">Изменить адрес</span>
					Улица Мочалок Командира</span>
			</label>
		</li>
	</ul>

	<div class="btn-container"><a href="" class="btn btn--orange btn--pay">Выбрать</a></div>

</div>
<div class="popupBox order-popup js-popup-box">
	<div class="order-popup__head">
		<span class="popup-close js-popup-close">Отмена</span>
		<span class="popup-title">Оплатить онлайн</span>
	</div>

	<ul class="checkout-checkbox-lst">
		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="pay1" name="paynow" class="custom-input custom-input--defradio" checked>

			<label class="custom-label" for="pay1">
				<div class="custom-label-flex">
					<span class="custom-label_tx">Банковская карта</span>
					<span class="checkout-payment__icon-wrap">
						<img src="/css/modules/order/img/visa2.png" alt="">
						<img src="/css/modules/order/img/mcard.png" alt="">
					</span>
				</div>
			</label>
		</li>

		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="pay2" name="paynow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="pay2">
				<div class="custom-label-flex">
					<span class="custom-label_tx">Pay Pal</span>
					<span class="order-popup__icon-wrap"><img src="/css/modules/order/img/paypal3.png" alt=""></span>
				</div>
			</label>
		</li>

		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="pay3" name="paynow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="pay3">
				<div class="custom-label-flex">
					<span class="custom-label_tx">Яндекс.деньги</span>
					<span class="checkout-payment__icon-wrap"><img src="/css/modules/order/img/yandexmoney.png" alt=""></span>
				</div>
			</label>
		</li>

		<li class="checkout-checkbox-lst__i">
			<input type="radio" id="pay4" name="paynow" class="custom-input custom-input--defradio">

			<label class="custom-label" for="pay4">
				<div class="custom-label-flex">
					<span class="custom-label_tx">Интернет-банк</span>
					<span class="checkout-payment__icon-wrap"><img src="/css/modules/order/img/psbfull.png" alt=""></span>
				</div>
			</label>
		</li>
	</ul>

	<div class="btn-container"><a href="" class="btn btn--orange btn--pay">Оплатить</a></div>

	<p class="checkout-checkbox-lst__desc">Вы будете перемещены на сайт платежной системы.</p>
</div>

<div class="order-popup clearfix">
	<div class="order-popup__head">
		<span class="popup-close js-popup-close">Отмена</span>
		<span class="popup-title">Адрес доставки</span>
	</div>

	<div class="address-pick-snippet">
		<div class="order-popup__top-block search">
    		<form class="search__section">
    			<div class="search-control ">
    				<i class="sprite-icon sprite-icon--search"></i>

    				<input class="search-control__input" type="text" placeholder="Искать по улице, метро">
    				<input class="search-control__submit" type="submit" value="">
    				<div class="form-control-group__suggest suggest-control">
                        <ul class="suggest-control-lst">
                        	<li class="suggest-control-lst-i">Первый Нижний Мойдодыровский проезд</li>
                        	<li class="suggest-control-lst-i">Площадь Умывальников Начальника</li>
                        	<li class="suggest-control-lst-i">Улица Мочалок Командира</li>
                        	<li class="suggest-control-lst-i">Первый Нижний Мойдодыровский проезд</li>
                        	<li class="suggest-control-lst-i">Площадь Умывальников Начальника</li>
                        	<li class="suggest-control-lst-i">Улица Мочалок Командира</li>
                        </ul>
                    </div>
    			</div>
    			<div class="btn btn--white btn--medium"><span class="map-link">Список</span></div>
    		</form>
    	</div>
		<div class="order-popup-map">
			<div class="order-popup-map-ctrl pointer"><i class="map-icon map-icon-pointer"></i></div>
			<div class="order-popup-map-ctrl zoom-in">+</div>
			<div class="order-popup-map-ctrl zoom-out">−</div>
		</div>
		<div class="address-pick-snippet__form">
			<form>
				<div class="form-control__container">
	                <div class="form-control-group suggest-open">
	                {{! без класса suggest-open - саджест будет скрыт}}
	                    <input class="form-control-group__tx textfield" type="text" name="" value="" placeholder="">
	                    <label class="form-control-group__lbl" for="">Улица</label>
	                    <div class="form-control-group__suggest suggest-control">
		                    <ul class="suggest-control-lst">
		                    	<li class="suggest-control-lst-i">Первый Нижний Мойдодыровский проезд</li>
		                    	<li class="suggest-control-lst-i">Площадь Умывальников Начальника</li>
		                    	<li class="suggest-control-lst-i">Улица Мочалок Командира</li>
		                    	<li class="suggest-control-lst-i">Первый Нижний Мойдодыровский проезд</li>
		                    	<li class="suggest-control-lst-i">Площадь Умывальников Начальника</li>
		                    	<li class="suggest-control-lst-i">Улица Мочалок Командира</li>
		                    </ul>
	                    </div>
	                </div>

					<div class="form-control-group half-wide">
	                    <input class="form-control-group__tx textfield" type="text" name="" value="" placeholder="">
	                    <label class="form-control-group__lbl" for="">Дом</label>
	                </div>

	                <div class="form-control-group half-wide">
	                    <input class="form-control-group__tx textfield" type="text" name="" value="" placeholder="">
	                    <label class="form-control-group__lbl" for="">Квартира</label>
	                </div>
	                <div class="btn-container">
	                	<button class="btn btn--submit btn--orange btn--medium">Готово</button>
	                </div>
	            </div>
			</form>
		</div>
	</div>
</div>

<div class="order-popup clearfix">
	<div class="order-popup__head">
		<span class="popup-close js-popup-close"><i class="icon-close"></i></span>
	</div>
	<div class="order-popup__top-block search">
		<form class="search__section">
			<div class="search-control {{! suggest-open }}">
				<i class="sprite-icon sprite-icon--search"></i>

				<input class="search-control__input" type="text" placeholder="Искать по улице, метро">
				<input class="search-control__submit" type="submit" value="">
				<div class="form-control-group__suggest suggest-control">
                    <ul class="suggest-control-lst">
                    	<li class="suggest-control-lst-i">Первый Нижний Мойдодыровский проезд</li>
                    	<li class="suggest-control-lst-i">Площадь Умывальников Начальника</li>
                    	<li class="suggest-control-lst-i">Улица Мочалок Командира</li>
                    	<li class="suggest-control-lst-i">Первый Нижний Мойдодыровский проезд</li>
                    	<li class="suggest-control-lst-i">Площадь Умывальников Начальника</li>
                    	<li class="suggest-control-lst-i">Улица Мочалок Командира</li>
                    </ul>
                </div>
			</div>
			<div class="btn btn--white btn--medium"><span class="map-link">Карта</span></div>
		</form>
	</div>
	<div class="custom-select__kit">
		<div class="custom-select">
            <span class="custom-select__value js-order-btn" data-btn="select-point-type">
                <span class="bb-dotted">Все точки</span>
                <i class="caret"></i>
            </span>

            <ul class="custom-select-list js-order-box" data-box="data-select-point-type">
                <li class="custom-select-list__item">
                	<input type="checkbox" id="shop1" name="paynow" class="custom-input custom-input--square-check" checked>

					<label class="custom-label flex-hor-vertical-between" for="shop1">
					<span class="custom-label_tx">Магазины Enter.ru</span>
                </li>
                <li class="custom-select-list__item">
                	<input type="checkbox" id="shop2" name="paynow" class="custom-input custom-input--square-check" >

					<label class="custom-label flex-hor-vertical-between" for="shop2">
					<span class="custom-label_tx">Постаматы Pick-Point</span>
                </li>
                <li class="custom-select-list__item">
                	<input type="checkbox" id="shop3" name="paynow" class="custom-input custom-input--square-check" >

					<label class="custom-label flex-hor-vertical-between" for="shop3">
					<span class="custom-label_tx">Почта России</span>
				</li>
                <li class="custom-select-list__item">
                	<input type="checkbox" id="shop4" name="paynow" class="custom-input custom-input--square-check" >

					<label class="custom-label flex-hor-vertical-between" for="shop4">
					<span class="custom-label_tx">HermesDhd</span>
                </li>
            </ul>
        </div>

        <div class="custom-select">
            <span class="custom-select__value js-order-btn" data-btn="select-price">
                <span class="bb-dotted">Стоимость</span>
                <i class="caret"></i>
            </span>

            <ul class="custom-select-list js-order-box" data-box="data-select-price">
                <li class="custom-select-list__item">
					<input type="checkbox" id="price1" name="paynow" class="custom-input custom-input--square-check" >

					<label class="custom-label flex-hor-vertical-between" for="price1">
					<span class="custom-label_tx">Бесплатно</span>
                </li>
                <li class="custom-select-list__item">
					<input type="checkbox" id="price2" name="paynow" class="custom-input custom-input--square-check">

					<label class="custom-label flex-hor-vertical-between" for="price2">
					<span class="custom-label_tx">100 <span class="rubl">p</span></span>
				</li>
            </ul>
        </div>

        <div class="custom-select">
            <span class="custom-select__value js-order-btn" data-btn="select-date">
                <span class="bb-dotted">Дата</span>
                <i class="caret"></i>
            </span>

            <ul class="custom-select-list js-order-box" data-box="data-select-date">
                <li class="custom-select-list__item">
					<input type="checkbox" id="date1" name="paynow" class="custom-input custom-input--square-check">

					<label class="custom-label flex-hor-vertical-between" for="date1">
					<span class="custom-label_tx">Сегодня</span>
                </li>
                <li class="custom-select-list__item">
                	<input type="checkbox" id="date2" name="paynow" class="custom-input custom-input--square-check" >

					<label class="custom-label flex-hor-vertical-between" for="date2">
					<span class="custom-label_tx">Завтра</span>
                </li>
                <li class="custom-select-list__item">
                	<input type="checkbox" id="date3" name="paynow" class="custom-input custom-input--square-check">

					<label class="custom-label flex-hor-vertical-between" for="date3">
					<span class="custom-label_tx">Послезавтра</span>
                </li>
                <li class="custom-select-list__item">
                	<input type="checkbox" id="date3" name="paynow" class="custom-input custom-input--square-check">

					<label class="custom-label flex-hor-vertical-between" for="date3">
					<span class="custom-label_tx">с 23.05 по 24.06</span>
                </li>
            </ul>
        </div>
	</div>
	<div class="pick-point">
		<table class="pick-point-list">
			<tbody>
				<tr class="pick-point-list-i shop-snippet">
					<td class="shop-snippet-name">
						<img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
						<span class="shop-snippet-name__text">Магазин Enter</span>
					</td>

					<td class="shop-snippet-info">
						<div class="shop-snippet-metro">
							<span class="shop-snippet-metro__bullet" style="background: green;"></span>
							<span class="shop-snippet-metro__text">м. Белорусская</span>
						</div>

						<div class="shop-snippet-address">ул. Линии Октябрьской Железной Дороги, д. 1, стр. 2 <br/>c 9.00 до 22.00</div>
					</td>

					<td class="deliv-info-snippet">
						<span class="deliv-info-snippet__date">Сегодня</span>
						<span class="deliv-info-snippet__price">100 <span class="rubl">p</span></span>
					</td>
				</tr>

				<tr class="pick-point-list-i shop-snippet">
					<td class="shop-snippet-name">
						<img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
						<span class="shop-snippet-name__text">Магазин Enter</span>
					</td>

					<td class="shop-snippet-info">
						<div class="shop-snippet-metro">
							<span class="shop-snippet-metro__bullet" style="background: green;"></span>
							<span class="shop-snippet-metro__text">м. Белорусская</span>
						</div>

						<div class="shop-snippet-address">ул. Линии Октябрьской Железной Дороги, д. 1, стр. 2 <br/>c 9.00 до 22.00</div>
					</td>

					<td class="deliv-info-snippet">
						<span class="deliv-info-snippet__date">Послезавтра</span>
						<span class="deliv-info-snippet__price">100 <span class="rubl">p</span></span>
					</td>
				</tr>

				<tr class="pick-point-list-i shop-snippet">
					<td class="shop-snippet-name">
						<img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
						<span class="shop-snippet-name__text">Магазин Enter</span>
					</td>

					<td class="shop-snippet-info">
						<div class="shop-snippet-metro">
							<span class="shop-snippet-metro__bullet" style="background: green;"></span>
							<span class="shop-snippet-metro__text">м. Белорусская</span>
						</div>

						<div class="shop-snippet-address">ул. Линии Октябрьской Железной Дороги, д. 1, стр. 2 <br/>c 9.00 до 22.00</div>
					</td>

					<td class="deliv-info-snippet">
						<span class="deliv-info-snippet__date">22.05.2015</span>
						<span class="deliv-info-snippet__price">100 <span class="rubl">p</span></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div style="" class="popupBox popupFl js-popup-box-celendar celedr">
	<div class="popupFl_clsr"></div>

	<div class="celedr_t">11 октября 2014, суббота</div>

	<div class="celedr_tb">
		<div class="celedr_row celedr_row-h clearfix">
			<div class="celedr_col">Пн</div>
			<div class="celedr_col">Вт</div>
			<div class="celedr_col">Ср</div>
			<div class="celedr_col">Чт</div>
			<div class="celedr_col">Пт</div>
			<div class="celedr_col">Сб</div>
			<div class="celedr_col">Вс</div>
		</div>

		<div class="celedr_row clearfix">
			<div class="celedr_month">Октябрь</div>
			<div class="celedr_col celedr_col-disbl">6</div>
			<div class="celedr_col celedr_col-disbl">7</div>
			<div class="celedr_col celedr_col-disbl">8</div>
			<div class="celedr_col celedr_col-disbl">9</div>
			<div class="celedr_col celedr_col-disbl">10</div>
			<div class="celedr_col celedr_col-cur">11</div>
			<div class="celedr_col">12</div>
			<div class="celedr_col">13</div>
			<div class="celedr_col">14</div>
			<div class="celedr_col">15</div>
			<div class="celedr_col">16</div>
			<div class="celedr_col">17</div>
			<div class="celedr_col">18</div>
			<div class="celedr_col">19</div>
			<div class="celedr_col">20</div>
			<div class="celedr_col">21</div>
			<div class="celedr_col">22</div>
			<div class="celedr_col">23</div>
			<div class="celedr_col">24</div>
			<div class="celedr_col">25</div>
			<div class="celedr_col">26</div>
			<div class="celedr_col">27</div>
			<div class="celedr_col">28</div>
			<div class="celedr_col">29</div>
			<div class="celedr_col">30</div>
			<div class="celedr_col">31</div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_month">Ноябрь</div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_col celedr_col-disbl"></div>
			<div class="celedr_col">1</div>
			<div class="celedr_col">2</div>
			<div class="celedr_col">3</div>
			<div class="celedr_col">4</div>
			<div class="celedr_col">5</div>
			<div class="celedr_col">6</div>
			<div class="celedr_col">7</div>
			<div class="celedr_col celedr_col-disbl">8</div>
			<div class="celedr_col celedr_col-disbl">9</div>
		</div>
	</div>
</div>