<!-- шапка оформления заказа -->
<header class="checkout-head">
    <div class="contentBox640">
        <img class="checkout-head__logo" src="/css/modules/order/img/logo.png" />

        <ul class="checkout-head-steps">
            <!-- если шаг пройден то passive, текущий шаг active -->
            <li class="checkout-head-steps__item passive"><span class="checkout-head-steps__text">Получатель</span></li>
            <li class="checkout-head-steps__item active"><span class="checkout-head-steps__text">Самовывоз <i class="block"></i>и доставка</span></li>
            <li class="checkout-head-steps__item"><span class="checkout-head-steps__text">Оплата</span></li>
        </ul>
    </div>
</header>
<!--/ шапка оформления заказа -->
