<!-- шапка оформления заказа -->
<header class="checkout-head">
    <div class="contentBox640">
        <img class="checkout-head__logo" src="/css/modules/order/img/logo.png" />

        <ul class="checkout-head-steps">
        {{! если шаг пройден то passive, текущий шаг active !}}
        {{#steps}}
            <li class="checkout-head-steps__item{{#isPassive}} passive{{/isPassive}}{{#isActive}} active{{/isActive}}">
                {{#url}}<a class="checkout-head-steps__text" href="{{url}}">{{name}}</a>{{/url}}
                {{^url}}<span class="checkout-head-steps__text">{{name}}</span>{{/url}}
            </li>
        {{/steps}}
        </ul>
    </div>
</header>
<!--/ шапка оформления заказа -->
