.header-shops{
    .box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.30));

    .header-center{
        padding: 0 10px;
    }
    .pagetitle__link{
        border: 0;
    }
    .header-link{
        color: #fb9c00;
        float: right;
        padding: 17px 0;
    }
    .header-back{
        color: @white;
        float: left;
        padding: 17px 0;
    }

}
.content.shops{
    padding-bottom: 0;
}
.points-filter{
    padding: 10px 0 0px;
    background-color: @white;
    .box-shadow(0 2px 3px 0 rgba(0, 0, 0, 0.50));
    position: relative;
    z-index: 2;
    text-align: center;

    &__lst{
        font-size: 0;
        text-align: left;
    }
    &__i{
        .inline-block(middle);
        width: 92px;
        height: 43px;
        border: 1px solid #d7d7d7;
        border-bottom-width: 2px;
        .rounded(3px);
        margin: 1px 6px 10px;
        text-align: center;
        position: relative;

        .closer{
            display: none;
            width: 15px;
            height: 15px;
            background: url("modules/shops/img/close@2x.png") no-repeat;
            .background-size(100%);
            position: absolute;
            top: -7px;
            right: -8px;
        }

         img{
             max-width: 80px;
             max-height: 35px;
             .inline-block(middle);
             margin-top: 1px;
         }
        &:after{
            content: '';
            .inline-block(middle);
            width: 0;
            height: 100%;
        }

        &.selected{
            border:2px solid #f99b1c;
            margin: 0 5px 10px;
            .closer{
                display: block;
            }
        }

    }
}
.points-search{
    background-color: #666666;
    padding: 10px;
    position: relative;
    z-index: 2;

    &__inn{
        margin-right: 80px;
    }

    &__form{

        max-width: 520px;
        margin: 0 auto;
    }
    &__input{
        display: block;
        width: 100%;
        height: 24px;
        padding: 5px 10px;
        .rounded(3px);

        .box-sizing(border-box);
        background-color: @white;
        //placeholders line-height fix
        &::-webkit-input-placeholder {
            line-height: normal;
            color: #c7c7c7;
        }
        &::-moz-placeholder {
            line-height: normal;
            color: #c7c7c7;
        }
        &:-ms-input-placeholder {
            line-height: normal;
            color: #c7c7c7;
        }
        &:-moz-placeholder {
            line-height: normal;
            color: #c7c7c7;
        }
    }
    &__btn{
        width: 70px;
        height: 24px;
        line-height: 24px;
        color: @white;
        background-color: @typ-orange;
        .rounded(3px);
        float: right;
        padding: 0;
        border: 0;
    }
}
.index{
    width: 100%;
    height: 100%;

    .flexbox();
    .flex_direction_column();

    .flex-wrap(nowrap);
    .justify-content(flex-start);
    .align-items(stretch);
    .align-content(stretch);

    .map-container{
        .flex(1, 1, auto);
        width: 100%;
        display: none;
    }

}
.points{
    &-top{

        width: 100%;

    }
    &__list{
        max-width: 528px;
        margin: 0 auto;
    }
    &__i{
        border-bottom: 1px solid #e6e6e6;
        padding: 0 4px;
        .table_cell{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &__container{
        .flex(1, 1, auto);
        //position: absolute;
        width: 100%;
        //height: 100%;
        top: 0;
        left: 0;
        //padding-top: 161px;
        /*.box-sizing(border-box);*/
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
