<div class="content">
    <div class="contentBox960">
        <!-- Название товара, артикул, отзывы -->
        <div class="prodHd">

            <h1 class="prodHd_n">
                {{#product.namePrefix}}{{product.namePrefix}}<br />{{/product.namePrefix}}
                {{product.name}}
            </h1>

            {{#product.article}}
                <div class="prodHd_artcl">Артикул: {{product.article}}</div>
            {{/product.article}}

            {{#product.rating}}
                <div class="prodHd_rating">
                    {{#product.rating}}
                        {{>partial/rating/star-list}}
                    {{/product.rating}}
                    <span class="prodHd_rating_count">{{product.rating.reviewCount}}</span>
                </div>
            {{/product.rating}}
        </div>
        <!--/ Название товара, артикул, отзывы -->

        <div class="prodDescr clearfix">

            <!-- Изображение товара -->
            <div class="prodDescr_l slider js-slider-wpar">
                <ul class="slider_lst js-slider-list clearfix">
                    {{#product.photos}}
                        <li class="slider_lst_i js-slider-list-item">
                            <img class="slider_lst_img js-slider-list-img" src="{{url}}" alt="{{&name}}" />
                        </li>
                    {{/product.photos}}
                </ul>

                <div class="slider_btn slider_btn-l js-slider-btn-left"></div>
                <div class="slider_btn slider_btn-r js-slider-btn-right"></div>

                <ul class="slider_pag js-slider-pag"></ul>
            </div>
            <!--/ Изображение товара -->

            <!-- Информация о покупке -->
            <div class="prodDescr_r clearfix">
                {{#product.hasModel}}
                <div class="chooseModel">
                    {{#product.modelBlock}}
                        {{>partial/product-model/propertyList}}
                    {{/product.modelBlock}}

                    {{#product.moreModelBlock}}
                        <!-- Другие параметры выбора модели -->
                        <div class="chooseModel_moreBox">
                            {{>partial/product-model/propertyList}}
                        </div>
                        <!--/ Другие параметры выбора модели -->

                        <div class="chooseModel_moreLink">Ещё модели</div>
                    {{/product.moreModelBlock}}
                </div>
                {{/product.hasModel}}
                
                <div class="prodBuy clearfix">
                    {{! информация о покупке }}
                    <div class="prodBuy_l">
                        <div class="prodBuy_l_w">
                            {{! Цена }}
                            <div class="prodBuy_i">
                                {{#product.credit}}
                                <input class="js-creditButton-remove customInput customInput-radio jsCustomRadio" type="radio" id="buyprice" name="selectbuy" checked="checked" />

                                <label class="customLabel customLabel-bigRadio" for="buyprice">
                                    {{#product.shownOldPrice}}<span class="oldP">{{product.shownOldPrice}} <span class="rubl">p</span></span>{{/product.shownOldPrice}}
                                    <span class="nowP">{{product.shownPrice}} <span class="rubl">p</span></span>
                                </label>
                                {{/product.credit}}

                                {{^product.credit}}
                                    {{#product.shownOldPrice}}<span class="oldP">{{product.shownOldPrice}} <span class="rubl">p</span></span>{{/product.shownOldPrice}}
                                    <span class="nowP">{{product.shownPrice}} <span class="rubl">p</span></span>
                                {{/product.credit}}
                            </div>
                            {{! Цена }}
                            
                            {{! Цена в кредит }}
                            {{#product.credit}}
                                <div class="js-creditPayment prodBuy_i prodBuy_i-credit" data-template-selector="#tpl-creditPayment" data-value="{{&product.credit.dataValue}}" data-price-selector=".{{product.credit.widgetId}}">
                                    <input class="js-creditButton customInput customInput-radio jsCustomRadio" type="radio" id="creditinput" name="selectbuy" />

                                    <label class="{{product.credit.widgetId}} customLabel customLabel-bigRadio" for="creditinput">
                                        <span class="creditP">В кредит</span>
                                    </label>

                                    <script id="tpl-creditPayment" type="text/html">
                                    {{={{{ }}}=}}
                                        <span class="creditP">В кредит от <strong>{{shownPrice}}</strong> <span class="rubl">p</span> в месяц</span>
                                    {{{={{ }}=}}}
                                    </script>
                                </div>
                            {{/product.credit}}
                            {{! Цена в кредит }}

                            {{#product.cartButtonBlock}}
                                {{>page/product-card/buttonBlock}}
                            {{/product.cartButtonBlock}}
                        </div>
                    </div>

                    {{! о доставке }}
                    <div class="prodBuy_r">
                        <div class="prodBuy_b clearfix">
                            <div class="prodBuy_b_t">Есть в магазине</div>

                            <div class="prodBuy_b_r"><a href="" class="delivrB_btn btn2">Резерв</a></div>

                            <div class="prodBuy_b_l">
                                <div style="background: green;" class="shopLst_addrs">
                                    <span class="shopLst_addrs_tx">
                                        <span class="shopLst_addrs_row1">м. Ленинский проспект,</span>
                                        <a href="" class="shopLst_addrs_row2">ул. Орджоникидзе, д. 11, стр. 10&nbsp;</a>
                                        <span class="shopLst_addrs_row3">с 9.00 до 22.00</span>
                                    </span>
                                </div>
                            </div>

                            <div class="prodBuy_b_f"><a href="" class="delivrB_btn btn2">Резерв</a></div>
                        </div>

                        <div class="prodBuy_b ta-c">
                            <div class="prodBuy_b_t">Есть в 5 магазинах</div>

                            <div class="prodBuy_b_f" style="display: block;">
                                <span class="delivrB_btn btn1 js-popup-middle-link">Забрать сегодня</span>
                            </div>
                        </div>

                        {{#product.deliveryBlock}}
                            <div class="deliveryInfo">
                                <ul class="deliveryList">
                                    {{#deliveries}}
                                        <li class="deliveryList_item deliveryList_item-{{token}}">
                                            {{#name}}
                                                {{name}} {{#priceText}}<strong>{{priceText}}</strong>{{/priceText}}
                                            {{/name}}
                                            <span class="{{#name}}descText{{/name}}{{^name}}descTextDotted{{/name}}">{{deliveredAtText}}
                                            </span>

                                            {{#hasShops}}
                                                <ul class="addressShopsList">
                                                    {{#shops}}
                                                        <li class="addressShopsList_item"><a class="" href="{{url}}">{{name}}</a></li>
                                                    {{/shops}}
                                                </ul>
                                            {{/hasShops}}
                                        </li>
                                    {{/deliveries}}
                                </ul>
                            </div>
                        {{/product.deliveryBlock}}
                    </div>
                    {{! о доставке }}
                </div>
            </div>
        </div>
    </div>

    <!-- Информация о товаре - табы -->
    <div class="contentBox960">
        <ul class="productDescTab js-tabs">
            <li class="js-ga-click productDescTab_item js-tabs-item productDescTab_item-active" data-ga-click="{&quot;m_details&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_details&quot;,&quot;{{product.article}}&quot;]}">
                <span class="tabText">Подробности</span>

                {{#product.hasVideo}}
                    <!--<img class="tabImg tabImg_view" src="/css/modules/productDescTab/img/video.png" />-->
                {{/product.hasVideo}}

                {{#product.hasPhoto3d}}
                    <!--<img class="tabImg tabImg_view" src="/css/modules/productDescTab/img/grad260.png" />-->
                {{/product.hasPhoto3d}}
            </li>

            {{#product.reviewBlock}}
            <li class="productDescTab_item js-tabs-item">
                <span class="tabText">Отзывы</span>
                <span class="tabImg reviews">
                    {{#product.rating}}
                        {{>partial/rating/star-list}}
                    {{/product.rating}}
                    <span class="reviewsCount">{{product.rating.reviewCount}}</span>
                </span>
            </li>
            {{/product.reviewBlock}}

            {{#product.accessorySlider}}
            <li class="productDescTab_item js-tabs-item">
                Аксессуары
            </li>
            {{/product.accessorySlider}}

            <li id="id-product-alsoBoughtTab" class="productDescTab_item js-tabs-item" style="display: none;">
                С этим товаром покупают
            </li>
        </ul>
    </div>
    <!-- Информация о товаре - табы -->

    <div class="contentBox940 js-tab-selector">
        <div class="tabContentWrap js-tab-wrap">
            <div class="tabContentInner js-tab">
                <!-- Таб - Подробнее -->
                <div class="tabContent js-cont">
                    <div class="tabContent_title">Подробности</div>

                    <p class="specificationsText">{{product.description}}</p>

                    <div class="specificationsListCol">
                        {{#product.propertyChunks}}
                            <ul class="specificationsList">
                            {{#properties}}
                                {{#isTitle}}
                                    <li class="specificationsList__item specificationsList__item-title">{{name}}</li>
                                {{/isTitle}}

                                {{^isTitle}}
                                    <li class="specificationsList__item">{{name}}: {{value}}</li>
                                {{/isTitle}}
                            {{/properties}}
                            </ul>
                        {{/product.propertyChunks}}
                    </div>
                </div>
                <!--/ Таб - Подробнее -->

                <!-- Таб - Отзывы -->
                {{#product.reviewBlock}}
                <div class="tabContent js-cont">
                    <div class="tabContent_title">Отзывы</div>

                    {{#product.reviewBlock.reviews}}
                        <div class="reviewsBox clearfix">
                            <div class="reviewsBox__left">
                                <div class="reviews">
                                    {{>partial/rating/star-list}}
                                </div>

                                <div class="reviewsName">{{author}}</div>

                                <div class="reviewsDate">{{createdAt}}</div>
                            </div>

                            <div class="reviewsBox__right">
                                <div class="reviewsText">
                                    <span class="reviewsText__mark">«</span>
                                    <p class="reviewsText__par">{{extract}}</p>
                                </div>

                                <div class="reviewsText">
                                    <span class="reviewsText__mark">+</span>
                                    <p class="reviewsText__par">{{pros}}</p>
                                </div>

                                <div class="reviewsText">
                                    <span class="reviewsText__mark">−</span>
                                    <p class="reviewsText__par">{{cons}}</p>
                                </div>
                            </div>
                        </div>
                    {{/product.reviewBlock.reviews}}
                </div>
                {{/product.reviewBlock}}
                <!--/ Таб - Отзывы -->

                <!-- Таб - Аксессуары -->
                <div class="tabContent js-container js-cont" {{^product.accessorySlider.count}}style="display: none;"{{/product.accessorySlider.count}}>

                    <div class="tabContent_title">Аксессуары</div>

                    {{#product.accessorySlider}}
                        {{>partial/product-slider/default}}
                    {{/product.accessorySlider}}
                </div>
                <!--/ Таб - Аксессуары -->
            
                <!-- Таб - С этим товаром покупают -->
                <div class="tabContent js-container js-cont" data-tab-selector="#id-product-alsoBoughtTab" style="display: none;">

                    <div class="tabContent_title">С этим товаром покупают</div>

                    {{#product.alsoBoughtSlider}}
                        {{>partial/product-slider/default}}
                    {{/product.alsoBoughtSlider}}
                </div>
                <!--/ Таб - С этим товаром покупают -->
            </div>
        </div>
    </div>

</div><!--/ Контент -->

<div class="popupBox popupHint js-popup-middle">
    <div class="popupBox_close"></div>

    <div class="popupBox_inn">
        <div class="popupHint_header">Телефон DECT  Panasonic KX-TG1611 черно-серый<br/>850 <span class="rubl">p</span></div>

        <div class="popupHint_cont">
            <ul class="table3Col hintList">
                <li class="table3Col_row table3Col_row-head">
                    <span class="table3Col_col">Магазин</span>
                    <span class="table3Col_col table3Col_col-hdn">Режим работы</span>
                    <span class="table3Col_col"></span>
                </li>

                <li class="table3Col_row">
                    <span class="table3Col_col">
                        <div class="shopLst_addrs" style="background: green;">
                            <span class="shopLst_addrs_tx">
                                <span class="shopLst_addrs_row1">м. Ленинский проспект,</span>
                                <a class="shopLst_addrs_row2" href="">ул. Орджоникидзе, д. 11, стр. 10&nbsp;</a>
                                <span class="shopLst_addrs_row3">с 9.00 до 22.00</span>
                            </span>
                        </div>
                    </span>
                    <span class="table3Col_col table3Col_col-hdn">с 9.00 до 21.00</span>
                    <span class="table3Col_col table3Col_col-right"><a href="" class="hintList_btn btn2">Резерв</a></span>
                </li>

                <li class="table3Col_row">
                    <span class="table3Col_col">
                        <div class="shopLst_addrs" style="background: green;">
                            <span class="shopLst_addrs_tx">
                                <span class="shopLst_addrs_row1">м. Ленинский проспект,</span>
                                <a class="shopLst_addrs_row2" href="">ул. Орджоникидзе, д. 11, стр. 10&nbsp;</a>
                                <span class="shopLst_addrs_row3">с 9.00 до 22.00</span>
                            </span>
                        </div>
                    </span>
                    <span class="table3Col_col table3Col_col-hdn">с 9.00 до 21.00</span>
                    <span class="table3Col_col table3Col_col-right"><a href="" class="hintList_btn btn2">Резерв</a></span>
                </li>

                <li class="table3Col_row">
                    <span class="table3Col_col">
                        <div class="shopLst_addrs" style="background: green;">
                            <span class="shopLst_addrs_tx">
                                <span class="shopLst_addrs_row1">м. Ленинский проспект,</span>
                                <a class="shopLst_addrs_row2" href="">ул. Орджоникидзе, д. 11, стр. 10&nbsp;</a>
                                <span class="shopLst_addrs_row3">с 9.00 до 22.00</span>
                            </span>
                        </div>
                    </span>
                    <span class="table3Col_col table3Col_col-hdn">с 9.00 до 21.00</span>
                    <span class="table3Col_col table3Col_col-right"><a href="" class="hintList_btn btn2">Резерв</a></span>
                </li>

                <li class="table3Col_row">
                    <span class="table3Col_col">
                        <div class="shopLst_addrs" style="background: green;">
                            <span class="shopLst_addrs_tx">
                                <span class="shopLst_addrs_row1">м. Ленинский проспект,</span>
                                <a class="shopLst_addrs_row2" href="">ул. Орджоникидзе, д. 11, стр. 10&nbsp;</a>
                                <span class="shopLst_addrs_row3">с 9.00 до 22.00</span>
                            </span>
                        </div>
                    </span>
                    <span class="table3Col_col table3Col_col-hdn">с 9.00 до 21.00</span>
                    <span class="table3Col_col table3Col_col-right"><a href="" class="hintList_btn btn2">Резерв</a></span>
                </li>

                <li class="table3Col_row">
                    <span class="table3Col_col">
                        <div class="shopLst_addrs" style="background: green;">
                            <span class="shopLst_addrs_tx">
                                <span class="shopLst_addrs_row1">м. Ленинский проспект,</span>
                                <a class="shopLst_addrs_row2" href="">ул. Орджоникидзе, д. 11, стр. 10&nbsp;</a>
                                <span class="shopLst_addrs_row3">с 9.00 до 22.00</span>
                            </span>
                        </div>
                    </span>
                    <span class="table3Col_col table3Col_col-hdn">с 9.00 до 21.00</span>
                    <span class="table3Col_col table3Col_col-right"><a href="" class="hintList_btn btn2">Резерв</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>