<div class="js-widget {{widgetId}}" data-template-selector="#tpl-product-buyButtonBlock">
    <div class="buyInfoBuy">
        {{#cartButton}}
            {{>partial/cart/button}}
        {{/cartButton}}

        {{#cartQuickButton}}
            {{>partial/cart/quickButton}}
        {{/cartQuickButton}}
    </div>
</div>
