<div class="js-widget {{widgetId}}" data-template-selector="#tpl-product-buyButtonBlock">
    {{#cartButton}}
        {{>partial/cart/button-new}}
    {{/cartButton}}

    {{#cartQuickButton}}
        {{>partial/cart/quickButton-new}}
    {{/cartQuickButton}}
</div>
