<div class="product-card-lst">
    <div class="product-card-lst__i" data-category="">
        <a class="js-ga-click product-card-lst__lk" href="#" data-ga-click="">
                        <div class="product-card-lst__img-wrap">
                            <span class="product-card-lst__shield"><img src=""></span>
                            <img class="product-card-lst__img" src="http://a.imgenter.ru/uploads/media/e3/c2/6c/thumb_a63a_product_500.jpeg" />
                        </div>

            <div class="product-card-lst__info">
                <div class="product-card-lst__categ">Планшеты</div>
                <div class="product-card-lst__name ellipsis"><div>Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div></div>
                <div class="product-card-lst__rating rating rating--product">
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                </div>
            </div>
        </a>
        <div class="product-card-lst__status self"><span class="product-card-lst__status-inn">Самовывоз сегодня</span></div>
        <span class="product-card-lst__old-price"><span class="line-through">45 000</span> <span class="rubl">p</span></span>
        <span class="product-card-lst__price">44 999 <span class="rubl">p</span></span>

        <div class="product-card-lst__buy"><a class="btn-buy btn-buy--listing watch-only">Посмотреть</a></div>
    </div>
    <div class="product-card-lst__i" data-category="">
        <a class="js-ga-click product-card-lst__lk" href="#" data-ga-click="">
                        <div class="product-card-lst__img-wrap">
                            <span class="product-card-lst__shield"><img src=""></span>
                            <img class="product-card-lst__img" src="http://a.imgenter.ru/uploads/media/e3/c2/6c/thumb_a63a_product_500.jpeg" />
                        </div>


            <div class="product-card-lst__info">
                <div class="product-card-lst__categ">Планшеты</div>
                <div class="product-card-lst__name ellipsis"><div>Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div></div>
                <div class="product-card-lst__rating rating rating--product">
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                </div>
            </div>
        </a>
        <div class="product-card-lst__status"><!-- Даже если нечего выводить, наличие блока -обязательно --></div>
        <span class="product-card-lst__old-price"><span class="line-through">45 000</span> <span class="rubl">p</span></span>
        <div class="product-card-lst__price">44 999 <span class="rubl">p</span></div>

        <div class="product-card-lst__buy"><a class="btn-buy btn-buy--listing">Купить</a></div>
    </div>
    <div class="product-card-lst__i" data-category="">
        <a class="js-ga-click product-card-lst__lk" href="#" data-ga-click="">
                        <div class="product-card-lst__img-wrap">
                            <span class="product-card-lst__shield"><img src=""></span>
                            <img class="product-card-lst__img" src="http://a.imgenter.ru/uploads/media/e3/c2/6c/thumb_a63a_product_500.jpeg" />
                        </div>


            <div class="product-card-lst__info">
                <div class="product-card-lst__categ">Планшеты</div>
                <div class="product-card-lst__name ellipsis"><div>Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div></div>
                <div class="product-card-lst__rating rating rating--product">
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                    <i class="rating__star icon-star icon-star-full"></i>
                </div>
            </div>
        </a>
        <div class="product-card-lst__status"><span class="product-card-lst__status-inn">Только на витрине</span></div>
      <!--  <span class="product-card-lst__old-price"><span class="line-through">45 000</span> <span class="rubl">p</span></span>-->
        <div class="product-card-lst__price">44 999 <span class="rubl">p</span></div>

        <div class="product-card-lst__buy"><a class="btn-buy btn-buy--listing">Купить</a></div>
    </div>
</div>