<div class="product-card-lst">
    <div class="product-card-lst__i">
        <a href="" class="product-card-lst__img">
            <img class="image" src="//scms.enter.ru/uploads/media/e3/c2/6c/thumb_a63a_product_500.jpeg" />
        </a>

        <div class="product-card-lst__info">
            <a href="" class="">
                <div class="product-card-lst__categ">Планшеты</div>
                <div class="product-card-lst__name ellipsis"><div>Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div></div>
            </a>

            <div class="product-card-lst__rating rating rating--product">
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
            </div>

            <div class="product-card-lst__status self"><span class="product-card-lst__status-inn">Самовывоз сегодня</span></div>

            <div class="product-card-lst__buying">
                <div class="product-card-lst__price">
                    <span class="old-price"><span class="line-through">45 000</span> <span class="rubl">p</span></span>
                    <div class="price">44 999 <span class="rubl">p</span></div>
                </div>

                <div class="product-card-lst__buy"><a class="btn-buy btn-buy--listing watch-only">Посмотреть</a></div>
            </div>
        </div>
    </div>

    <div class="product-card-lst__i">
        <a href="" class="product-card-lst__img">
            <img class="image" src="//scms.enter.ru/uploads/media/e3/c2/6c/thumb_a63a_product_500.jpeg" />
        </a>

        <div class="product-card-lst__info">
            <a href="" class="">
                <div class="product-card-lst__categ">Планшеты</div>
                <div class="product-card-lst__name ellipsis"><div>Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div></div>
            </a>

            <div class="product-card-lst__rating rating rating--product">
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
            </div>

            <div class="product-card-lst__status"><!-- Даже если нечего выводить, наличие блока -обязательно --></div>

            <div class="product-card-lst__buying">
                <div class="product-card-lst__price">
                    <span class="old-price"><span class="line-through">45 000</span> <span class="rubl">p</span></span>
                    <div class="price">44 999 <span class="rubl">p</span></div>
                </div>

                <div class="product-card-lst__buy"><a class="btn-buy btn-buy--listing">Купить</a></div>
            </div>
        </div>
    </div>

    <div class="product-card-lst__i">
        <a href="" class="product-card-lst__img">
            <img class="image" src="//scms.enter.ru/uploads/media/e3/c2/6c/thumb_a63a_product_500.jpeg" />
        </a>

        <div class="product-card-lst__info">
            <a href="" class="">
                <div class="product-card-lst__categ">Планшеты</div>
                <div class="product-card-lst__name ellipsis"><div>Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div></div>
            </a>

            <div class="product-card-lst__rating rating rating--product">
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
                <i class="rating__star icon-star icon-star-full"></i>
            </div>

            <div class="product-card-lst__status"><span class="product-card-lst__status-inn">Только на витрине</span></div>
          <!--  <span class="product-card-lst__old-price"><span class="line-through">45 000</span> <span class="rubl">p</span></span>-->

            <div class="product-card-lst__buying">
                <div class="product-card-lst__price">
                    <div class="price">44 999 <span class="rubl">p</span></div>
                </div>

                <div class="product-card-lst__buy"><a class="btn-buy btn-buy--listing">Купить</a></div>
            </div>
        </div>
    </div>
</div>