{{! окно большого изображения }}
<div class="full-images js-full-images-popup">
    <div class="closer js-full-images-popup-close"></div>

    <div class="full-images-content js-full-images-content">
        {{#product.mainPhoto}}
            <img class="full-images-content__image js-full-images" src="{{product.mainPhoto.originalUrl}}" alt="{{&product.name}}" />
        {{/product.mainPhoto}}
    </div>

    <div class="full-images-thumbs js-full-images-thumbs">
        {{#product.photos}}
            <span class="full-images-thumbs__item js-full-images-thumbs-item" data-fullimg="{{originalUrl}}" data-middleimg="{{url}}">
                <img class="full-images-thumbs__image" src="{{previewUrl}}" />
            </span>
        {{/product.photos}}
    </div>
</div>
{{! END окно большого изображения }}

<div class="content product js-content">
    <div class="product__wrap">
        {{! виджет поделиться и в избранное }}
        <div class="product-widget">
            <div class="product-widget__item favorit"></div>
            <div class="product-widget__item share" style="display: none"></div>
        </div>
        {{! END виджет поделиться и в избранное }}

        {{! Наименование }}
        <div class="product-name">
            <div class="product-name__categ">{{#product.namePrefix}}{{&product.namePrefix}}{{/product.namePrefix}}</div>
            <div class="product-name__tl">{{&product.name}}</div>
            {{#product.article}}
                <div class="product-name__art">Артикул: {{product.article}}</div>
            {{/product.article}}
        </div>
        {{! END Наименование }}

        {{! слайдер фото}}
        <div class="product-img">
            {{#product.labels.0}}
                <div class="product-img__shield">
                    <img src="{{imageUrl}}" alt="{{name}}">
                </div>
            {{/product.labels.0}}
            <div class="product-img__slider js-detailSlider">
                {{#product.photos}}
                   <div class="slide-item">
                        <img class="slider_lst_img js-full-images-open" src="{{url}}" alt="{{&name}}"/>
                   </div>
                {{/product.photos}}
            </div>
            <ul class="slider_pag"></ul>
        </div>
        {{! END слайдер фото}}

        <div class="product__info">
            <div class="product__buy-block">

                <div class="product-price">
                    {{#product.shownOldPrice}}
                        <div class="product-price__old">
                            <span class="line-through">{{product.shownOldPrice}}</span>
                            <span class="rubl">p</span>
                        </div>
                    {{/product.shownOldPrice}}

                    <div class="product-price__curr">
                        {{product.shownPrice}} <span class="rubl">p</span>
                    </div>
                </div>
                {{#product.cartButtonBlock.cartButton}}
                    {{>partial/cart/button}}
                {{/product.cartButtonBlock.cartButton}}
            </div>
            <div class="product-delivery__info">
                {{#product.shopStateBlock}}
                    <span class="product-delivery__info-self">{{shownCount}}</span>
                {{/product.shopStateBlock}}
                {{#product.deliveryBlock}}
                    {{#deliveries}}
                        <div class="product-delvery__row">
                            {{#name}}
                                <span class="product-delivery__type">{{name}}</span>
                            {{/name}}
                            <span class="product-delivery__price">{{deliveredAtText}}</span>
                            {{#name}}
                                {{#priceText}}
                                    <span class="product-delivery__plan">{{priceText}}</span>
                                {{/priceText}}
                            {{/name}}
                        </div>
                    {{/deliveries}}
                {{/product.deliveryBlock}}
            </div>

            {{#product.modelBlock}}
                <div class="product-variations">
                    <span class="product-variations__title">{{properties.0.name}}</span>
                    <span class="product-variations__value">{{shownValue}}</span>

                    <ul class="product-variations-list">
                        {{#properties}}
                            {{#options}}
                                <li class="product-variations-list__item">
                                    <a href="{{url}}" class="product-variations-list__link">{{shownValue}}</a>
                                </li>
                            {{/options}}
                        {{/properties}}
                    </ul>
                </div>
            {{/product.modelBlock}}


            <div class="product__rating">
                {{#product.rating}}
                    <div class="rating rating--product">
                        {{#product.rating}}
                            {{>partial/rating/star-list}}
                        {{/product.rating}}
                        <span class="rating__reviews-count">{{product.rating.reviewCount}}</span>
                    </div>
                {{/product.rating}}
            </div>

            <div class="product-props">
                {{#product.propertiesSummary}}
                    <div class="product-props__i">
                        <div class="product-props__val">{{value}}</div>
                        <div class="product-props__tl"><span class="product-props__tl-inn">{{name}}:</span></div>
                    </div>
                {{/product.propertiesSummary}}
                <a href="#" class="product-props__more-link">Все характеристики</a>
            </div>
        </div>

        {{#product.alsoBoughtSlider}}
            <div class="product-recommend alsoBoughtContainer js-container">
                <div class="product-recommend__tl">С этим товаром покупают</div>
                    {{>partial/product-slider/new-default}}
            </div>
        {{/product.alsoBoughtSlider}}

    </div>
    <div class="product-tabs js-product-tabs">
        <nav class="product-tabs__menu">
            <div class="product-tabs__head js-change-tab active" data-block="js-description-block">Подробности</div>
            <div class="product-tabs__head js-change-tab" data-block="js-reviews-block">Отзывы</div>
            <div class="product-tabs__head js-change-tab" data-block="js-accessories-block">Аксессуары</div>
            <div class="product-tabs__head js-change-tab" data-block="js-simillar-block">Похожие товары</div>
        </nav>

        <div class="product-tabs__content">
            <div class="product-tabs__body js-tabs-block js-description-block active">
                <div class="product-details">
                    <p class="product-details__txt">{{product.description}}</p>
                    <div class="product-details__table">
                        {{#product.propertyChunks}}
                            <div class="product-details__lst">
                                {{#properties}}
                                    {{#isTitle}}
                                        <div class="product-details__i title">{{name}}</div>
                                    {{/isTitle}}

                                    <div class="table">
                                        {{^isTitle}}
                                            <div class="product-details__i table_row">
                                                <div class="product-details__left table_cell">
                                                    <div class="product-details__name">
                                                        <span class="product-details__name-inn">{{name}}:</span>
                                                    </div>
                                                </div>

                                                <div class="product-details__right table_cell">
                                                    <div class="product-details__value">{{value}}</div>
                                                </div>
                                            </div>
                                        {{/isTitle}}
                                    </div>
                                {{/properties}}
                            </div>
                        {{/product.propertyChunks}}
                    </div>
                </div>
            </div>

            <div class="product-tabs__body js-tabs-block js-reviews-block">
                <div class="product-reviews">
                    <div class="reviews-add js-reviews-add"
                         data-product-name="{{#product.namePrefix}}{{product.namePrefix}}{{/product.namePrefix}}
                             {{product.name}}" data-product-id="{{product.id}}">
                        <span class="reviews-add-icon">+</span>
                        <span class="reviews-add-title">Добавить отзыв</span>
                    </div>
                    {{#product.reviewBlock}}
                        <div class="js-productReviewList-container" data-url="{{url}}" data-value="{{&dataValue}}">
                            {{>page/product-card-new/review-list}}
                        </div>
                    {{/product.reviewBlock}}

                    {{#moreLink}}
                        <a href="#" data-container-selector=".js-productReviewList-container" class="js-productReviewList-more catalogMore btnStyleGrey">{{name}}</a>
                    {{/moreLink}}
                </div>
            </div>

            <div class="product-tabs__body product-tabs__body_width js-tabs-block js-accessories-block">
                <div class="product-accessories">
                    {{#product.accessorySlider}}
                        {{>partial/product-slider/large-images}}
                    {{/product.accessorySlider}}
                </div>
            </div>

            <div class="product-tabs__body product-tabs__body_width js-tabs-block js-simillar-block">
                <div class="product-related-items">
                    {{#product.similarSlider}}
                        {{>partial/product-slider/large-images}}
                    {{/product.similarSlider}}
                </div>
            </div>
        </div>
    </div>
</div>{{!контент}}