<div class="content product">
    <div class="product__wrap">
        {{! окно большого изображения }}
        <div class="fullImgCnt js-fullimg-wrap">
            <div class="clsr1 js-fullimg-close"></div>

            <div class="fullImgCnt_img_load js-fullimg-img-loader">
                {{#product.mainPhoto}}
                    <img class="fullImgCnt_img js-fullimg-img" src="{{product.mainPhoto.originalUrl}}" alt="{{&product.name}}" />
                {{/product.mainPhoto}}
            </div>
            <div class="fullImgCnt_thmb js-fullimg-thmb-wrap">
                <ul class="fullImgCnt_thmb_w js-fullimg-thmb">
                    {{#product.photos}}
                        <li class="fullImgCnt_thmb_i js-fullimg-thmb-i">
                        <span class="fullImgCnt_thmb_i_w">
                            <img class="fullImgCnt_thmb_img js-fullimg-thmb-img" src="{{previewUrl}}" data-fullimg="{{originalUrl}}" data-middleimg="{{url}}" />
                        </span>
                        </li>
                    {{/product.photos}}
                </ul>

                <div class="fullImgCnt_thmb_btn fullImgCnt_thmb_btn-l js-fullimg-thmb-btn-l fullImgCnt_thmb_btn-disbl"></div>
                <div class="fullImgCnt_thmb_btn fullImgCnt_thmb_btn-r js-fullimg-thmb-btn-r"></div>
            </div>
        </div>
        {{! END окно большого изображения }}

        {{! виджет поделиться и в избранное }}
        <div class="product-widget">
            <div class="product-widget__i favorit"></div>
            <div class="product-widget__i share"></div>
        </div>
        {{! END виджет поделиться и в избранное }}

        {{! Наименование }}
        <div class="product-name">
            <div class="product-name__categ">Планшеты</div>
            <div class="product-name__tl">Планшетный компьютер ASUS TF103CG-1A056A 10,1" 3G 8 ГБ черный</div>
            <div class="product-name__art">Артикул: 466-8336</div>
        </div>
        {{! END Наименование }}

        {{! слайдер фото}}
        <div class="product-img">
            <div class="product-img__shield"><img src="/css/modules/product-card-new/img/shield.png"></div>
            <div class="product-img__slider">
                <div class="product-img__slider-inn js-detailSlider">
                    {{#product.photos}}
                       <div class="slide-item">
                            <div class="slider_lst_img__container"><img class="slider_lst_img js-slider-list-img js-fullimg-open" src="{{url}}" alt="{{&name}}"/></div>
                       </div>
                    {{/product.photos}}
                </div>
                <ul class="slider_pag"></ul>
            </div>
        </div>
        {{! END слайдер фото}}

        <div class="product__info">
            <div class="product__buy-block">

                <div class="product-price">
                    <div class="product-price__old">
                        <span class="line-through">422 000</span>
                        <span class="rubl">p</span>
                    </div>
                    <div class="product-price__curr">
                        419 000 <span class="rubl">p</span>
                    </div>
                </div>
                <div class="product__buy">
                    <div class="btn btn-buy ">Купить</div>
                </div>
            </div>
            <div class="product-delivery__info">
                <span class="product-delivery__info-self">Забрать сегодня в 12 магазинах</span>
                <div class="product-delvery__row">
                    <span class="product-delivery__type">Самовывоз</span>
                    <span class="product-delivery__price">7.08.2015</span>
                    <span class="product-delivery__plan">Бесплатно</span>
                </div>
                <div class="product-delvery__row">
                    <span class="product-delivery__type">Доставка</span>
                    <span class="product-delivery__price">10.08.2015</span>
                    <span class="product-delivery__plan">290 <span class="rubl">p</span></span>
                </div>
            </div>

            <div class="product-variations">
                <span class="product-variations__title">Цвет</span>
                <span class="product-variations__value">Синий</span>

                <ul class="product-variations-list">
                    <li class="product-variations-list__item"><a href="" class="product-variations-list__link">Красный</a></li>
                    <li class="product-variations-list__item"><a href="" class="product-variations-list__link">Светло-оранжевый</a></li>
                    <li class="product-variations-list__item"><a href="" class="product-variations-list__link">Фуксия - любимый цвет Котькиной</a></li>
                </ul>
            </div>

            <div class="product__rating">
                {{#product.rating}}
                    <div class="rating rating--product">
                        {{#product.rating}}
                            {{>partial/rating/star-list}}
                        {{/product.rating}}
                        <!-- TODO: склонение отзыва/отзывов/отзыв в зависимости от кол-ва -->
                        <a class="rating__reviews-lk" href="#">{{product.rating.reviewCount}} отзыва</a>

                    </div>
                {{/product.rating}}
            </div>
            <div class="product-props">
                <div class="product-props__i">
                    <div class="product-props__val">21'</div>
                    <div class="product-props__tl"><span class="product-props__tl-inn">Диагональ экрана:</span></div>
                </div>
                <div class="product-props__i">
                    <div class="product-props__val">Огромный текст оло-ло</div>
                    <div class="product-props__tl"><span class="product-props__tl-inn">Диагональ экрана:</span></div>
                </div>
                <div class="product-props__i">
                    <div class="product-props__val">21'</div>
                    <div class="product-props__tl"><span class="product-props__tl-inn">Диагональ экрана:</span></div>
                </div>
                <a href="#" class="product-props__more-link">Все характеристики</a>
            </div>
        </div>

        {{#product.alsoBoughtSlider}}
            <div class="product-recommend">
                <div class="product-recommend__tl">С этим товаром покупают</div>
                    {{>partial/product-slider/new-default}}
            </div>
        {{/product.alsoBoughtSlider}}

    </div>
    <div class="product-tabs js-product-tabs">
        <nav class="product-tabs__menu">
            <div class="product-tabs__head js-change-tab active" data-block="js-description-block">Подробности</div>
            <div class="product-tabs__head js-change-tab" data-block="js-reviews-block">Отзывы</div>
            <div class="product-tabs__head js-change-tab" data-block="js-accessories-block">Аксессуары</div>
            <div class="product-tabs__head js-change-tab" data-block="js-simillar-block">Похожие товары</div>
        </nav>

        <div class="product-tabs__content">
            <div class="product-tabs__body js-tabs-block js-description-block active">
                <div class="product-details">
                    <p class="product-details__txt">{{product.description}}</p>
                    <div class="product-details__table">
                        {{#product.propertyChunks}}
                            <div class="product-details__lst">
                                {{#properties}}
                                    {{#isTitle}}
                                        <div class="product-details__i title">{{name}}</div>
                                    {{/isTitle}}

                                    <div class="table">
                                        {{^isTitle}}
                                            <div class="product-details__i table_row">
                                                <div class="product-details__left table_cell">
                                                    <div class="product-details__name">
                                                        <span class="product-details__name-inn">{{name}}:</span>
                                                    </div>
                                                </div>

                                                <div class="product-details__right table_cell">
                                                    <div class="product-details__value">{{value}}</div>
                                                </div>
                                            </div>
                                        {{/isTitle}}
                                    </div>
                                {{/properties}}
                            </div>
                        {{/product.propertyChunks}}
                    </div>
                </div>
            </div>

            <div class="product-tabs__body js-tabs-block js-reviews-block">
                <div class="product-reviews">
                    <div class="reviews-add js-reviews-add"
                         data-product-name="{{#product.namePrefix}}{{product.namePrefix}}{{/product.namePrefix}}
                             {{product.name}}" data-product-id="{{product.id}}">
                        <span class="reviews-add-icon">+</span>
                        <span class="reviews-add-title">Добавить отзыв</span>
                    </div>
                    {{#product.reviewBlock}}
                        <div class="js-productReviewList-container" data-url="{{url}}" data-value="{{&dataValue}}">
                            {{>page/product-card-new/review-list}}
                        </div>
                    {{/product.reviewBlock}}

                    {{#moreLink}}
                        <a href="#" data-container-selector=".js-productReviewList-container" class="js-productReviewList-more catalogMore btnStyleGrey">{{name}}</a>
                    {{/moreLink}}
                </div>
            </div>

            <div class="product-tabs__body js-tabs-block js-accessories-block">
                <div class="product-accessories">
                    {{>page/product-card-new/card-listing}}
                </div>
            </div>

            <div class="product-tabs__body js-tabs-block js-simillar-block">
                <div class="product-related-items">
                    {{>page/product-card-new/card-listing}}
                </div>
            </div>
        </div>
    </div>
</div>{{!контент}}