<div class="js-widget {{widgetId}} cartBar" data-template-selector="#tpl-cart-bar">
        <a class="js-ga-click btn--orange btn--thin" href="{{orderUrl}}" data-ga-click="{{&orderDataGa}}">Оформление заказа</a>

        <div class="cartBar_text">
            Итого: <span class="price">{{shownSum}} <span class="rubl">p</span></span>
        </div>
</div>
