<div class="js-widget {{widgetId}}" data-template-selector="#tpl-product-buyButton">
    {{^isDisabled}}
        <a
            href="{{url}}"
            class="js-ga-click {{id}}{{^isQuick}} js-buyButton{{/isQuick}}{{#isQuick}} js-quickBuyButton{{/isQuick}}{{^isInShopOnly}} btnBuy{{/isInShopOnly}}{{#isInShopOnly}} delivrB_btn btn2{{/isInShopOnly}}{{#isInCart}} btnBuy-incart{{/isInCart}}"
            data-ga-click="{{&dataGa}}"
            data-widget-selector=".{{widgetId}}"
            data-url="{{&dataUrl}}"
            data-value="{{&dataValue}}"
        >{{text}}</a>
    {{/isDisabled}}

    {{#isDisabled}}
        <span class="btnBuy btnBuy-disabled">{{text}}</span>
    {{/isDisabled}}
</div>