<a
    class="js-deleteButton cart-delete {{id}}"
    href="{{url}}"
    data-url="{{&dataUrl}}"
    data-value="{{&dataValue}}"
    data-parent-container-selector=".js-cartProduct-container"
    data-spinner-selector=".{{spinnerSelector}}"
><i class="cart-item__options-item-icon cart-item__options-item-icon_del"></i><span>Удалить из корзины</span></a>