<div class="js-widget {{widgetId}} noselect" data-template-selector="#tpl-product-buyButton">
    {{^isDisabled}}
        <a  href="{{url}}"
            class="{{id}}{{#isSlot}}btn btn--slot btn--slot-lst js-slotButton noselect{{/isSlot}} {{^isSlot}} js-ga-click{{^isQuick}} js-buyButton{{/isQuick}}{{#isQuick}} js-quickBuyButton{{/isQuick}}{{^isInShopOnly}} span items-slider__buy btn--buy btn--extra{{/isInShopOnly}}{{#isInShopOnly}} delivrB_btn btn2{{/isInShopOnly}}{{#isInCart}} btnBuy-incart{{/isInCart}}{{/isSlot}}"
            data-ga-click="{{&dataGa}}"
            {{#widgetId}}data-widget-selector=".{{widgetId}}"{{/widgetId}}
            data-url="{{&dataUrl}}"
            data-value="{{&dataValue}}"
                >{{text}}</a>
    {{/isDisabled}}

    {{#isDisabled}}
        <span class="btnBuy btnBuy-disabled">{{text}}</span>
    {{/isDisabled}}
</div>