{{#properties}}
    {{#name}}
        <div class="chooseModel_title">
            {{name}}
        </div>
    {{/name}}

    <ul class="chooseModelNum clearfix">
        {{#options}}
            <li class="chooseModelNum_item{{#isActive}} chooseModelNum_item-active{{/isActive}}">
                <a class="chooseModelNum_link" href="{{url}}">{{shownValue}}{{#unit}} {{unit}}{{/unit}}</a>
            </li>
        {{/options}}
    </ul>
{{/properties}}





