<form class="js-user-form checkout-form form-control clearfix" action="{{form.url}}" method="post" accept-charset="utf-8" data-error="{{&form.errorDataValue}}" novalidate>
    <div class="global-error js-global-error"></div>

    {{^isUserAuthenticated}}
    <fieldset class="order-authorize__container">
        <div class="order-authorize">
            <div class="order-authorize__t">Уже заказывали у нас?</div>
            <a class="order-authorize__btn btn1 js-auth-link" href="{{authUrl}}"><span class="btn-inner">Войти с паролем</span></a>
        </div>
    </fieldset>
    {{/isUserAuthenticated}}

    <fieldset class="common-control__container lr-padding">
        
        <div class="common-control">
            <div class="common-control-group required">
                <label class="common-control-label" for="id-userForm-phone">Телефон</label>
                <input class="common-control-input js-validator-form-field" id="id-userForm-phone" type="tel" name="user[phone]" value="{{form.phone}}" placeholder="+7(xxx)xxx-xx-xx" data-field="phone">
            </div>
            <span class="common-control-hint">Для смс о состоянии заказа</span>
        </div>
        <div class="common-control">
            <div class="common-control-group required">
                <label class="common-control-label" for="id-userForm-email">E-mail</label>
                <input class="common-control-input js-validator-form-field" id="id-userForm-email" name="user[email]" value="{{form.email}}" placeholder="email@email.ru" data-field="email">
            </div>
            <span class="common-control-hint">&nbsp;</span>
        </div>
         <div class="common-control">
            <div class="common-control-group">
                <label class="common-control-label" for="id-userForm-firstName">Имя</label>
                <input class="common-control-input" id="id-userForm-firstName" name="user[firstName]" value="{{form.firstName}}" data-field="firstName">
            </div>
            <span class="common-control-hint">Как к вам обращаться?</span>
        </div>
    </fieldset>

    <fieldset class="form-control__container lr-padding">
        {{! Чтобы показать/скрыть поле с картой, надо добавить/убрать класс active: }}
        <div class="bonus-cnt toggle js-toggle-wrap">
            <div class="bonus-cnt__head">Начислить баллы</div>

            <div class="bonus-cnt-card toggle-link js-toggle-link">
                <img class="bonus-cnt-card__img" src="/css/modules/order/img/m-mnogoru.png">
                <span class="bonus-cnt-card__tl">Карта Много.ру</span>
            </div>

            <div class="common-control toggle-box">
                <div class="common-control-group">
                    <label class="common-control-label" for="id-userForm-mnogoruNumber">Карта</label>
                    <input class="common-control-input" id="id-userForm-mnogoruNumber" type="text" name="user[bonusCards][0][number]" value="{{form.mnogoruNumber}}" placeholder="xxxx xxxx" data-field="mnogoru">
                    <input type="hidden" name="user[bonusCards][0][type]" value="mnogoru" />
                </div>
                <span class="common-control-hint">&nbsp;</span>
            </div>
        </div>
    </fieldset>
    
    <div class="btn-container btn-container--orange">
        <button type="submit" class="btn btn--submit btn--orange btn--big">Далее</button>
    </div>
</form>