<ul class="private-menu-lst">
    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i private-menu-lst__item-i_big"
                 src="/css/modules/private/img/i-main.png"
                 alt="#">

            <span class="private-menu-lst__item-txt private-menu-lst__item-txt_user">
                <span class="private-menu-lst__user private-menu-lst__user_name">Alex Buller</span>
                <span class="private-menu-lst__user">earlvrotten@ya.ru</span>
                <span class="private-menu-lst__user">+7 (111) 72-32-13</span>
            </span>
        </a>
    </li>

    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i"
                 src="/css/modules/private/img/i-orders.png"
                 alt="#">

            <span class="private-menu-lst__item-txt">
                Заказы
            </span>

            <span class="private-menu-lst__item-number">
                0
            </span>
        </a>
    </li>

    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i"
                 src="/css/modules/private/img/i-subscription.png"
                 alt="#">

            <span class="private-menu-lst__item-txt">
                Подписки
            </span>

            <span class="private-menu-lst__item-number">
               34
            </span>

        </a>
    </li>

    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i"
                 src="/css/modules/private/img/i-favorit.png"
                 alt="#">

            <span class="private-menu-lst__item-txt">
                Избранное
            </span>

            <span class="private-menu-lst__item-number">
                1
            </span>
        </a>
    </li>

    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i"
                 src="/css/modules/private/img/i-address.png"
                 alt="#">

            <span class="private-menu-lst__item-txt">
                Адреса
            </span>

            <span class="private-menu-lst__item-number">
                200
            </span>
        </a>
    </li>

    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i"
                 src="/css/modules/private/img/i-ep.png"
                 alt="#">

            <span class="private-menu-lst__item-txt">
                Фишки EnterPrize
            </span>

        </a>
    </li>

    <li class="private-menu-lst__item active">
        <a href="#" class="private-menu-lst__lk">

            <img class="private-menu-lst__item-i"
                 src="/css/modules/private/img/i-messages.png"
                 alt="#">

            <span class="private-menu-lst__item-txt">
                 Сообщения
            </span>
            <span class="private-menu-lst__item-number">
                100
            </span>
        </a>
    </li>

    {{#userMenu}}
        <li class="private-menu-lst__item{{#isActive}} active{{/isActive}}">
            <a class="private-menu-lst__lk" href="{{url}}">
                {{name}}
            </a>
        </li>
    {{/userMenu}}
</ul>