<ul class="private-menu-lst">
    {{#userMenu}}
        <li class="private-menu-lst-i{{#isActive}} active{{/isActive}}"><a class="private-menu-lst-i__lk" href="{{url}}">{{name}}</a></li>
    {{/userMenu}}
</ul>