<div class="content">
    <div class="contentBox640">
        <section class="checkout">
            <div class="checkout__single-order single-order single-order__message error">
                Не удалось идентифицировать оплату. Обратитесь в <a href="mailto:feedback@enter.ru">службу поддержки</a>.
            </div>

            <div class="btn-stretch btn-stretch--default"><a class="btn-stretch__link" href="/">Вернуться на главную</a></div>
        </section>

    </div>
</div>