<div class="checkout-done-popup">
    <ul class="checkout-checkbox-lst">
    {{#paymentMethods}}
        <li class="checkout-checkbox-lst__i">
            <input
                type="radio"
                id="order-{{order.id}}-delivery-onlinePayment-method-{{id}}"
                name="order-{{order.id}}-onlinePayment"
                class="js-order-delivery-onlinePayment-radio custom-input custom-input--defradio"
                data-container-selector="#order-{{order.id}}-delivery-onlinePayment-container"
                data-value="{{&dataValue}}"
            />

            <label class="custom-label" for="order-{{order.id}}-delivery-onlinePayment-method-{{id}}">
                <div class="custom-label-flex parced-items">
                    <span class="custom-label_tx">{{name}}</span>
                        <span class="checkout-payment__icon-wrap">
                        {{#images}}<img src="/css/modules/order/img/{{.}}" />{{/images}}
                        </span>
                </div>
            </label>
        </li>
    {{/paymentMethods}}
    </ul>

    <div class="btn-container" id="order-{{order.id}}-delivery-onlinePayment-container" data-url="{{url}}"></div>
</div>