<div class="checkout-done-popup checkout-payment">
    <ul class="checkout-checkbox-lst checkout-payment__list">
    {{#paymentMethods}}
        <li class="checkout-checkbox-lst__i checkout-payment__item">
            <input
                type="radio"
                id="order-{{order.id}}-delivery-onlinePayment-method-{{id}}"
                name="order-{{order.id}}-onlinePayment"
                class="js-order-complete-onlinePayment-radio custom-input custom-input--defradio-big"
                data-container-selector="#order-{{order.id}}-delivery-onlinePayment-container"
                data-value="{{&dataValue}}"
                value="{{id}}"
            />

            <label class="custom-label" for="order-{{order.id}}-delivery-onlinePayment-method-{{id}}">
                <div class="custom-label-flex parced-items">
                    <span class="custom-label_tx checkout-payment__item-name">
                        {{name}}
                        <span class="checkout-payment__item-discount">Скидка <span>10000</span> руб</span>
                    </span>
                    <span class="checkout-payment__icon-wrap">
                    {{#image}}<img class="checkout-payment__icon" src="/css/modules/checkout-payment/img/{{image}}" />{{/image}}
                    </span>
                </div>
            </label>
        </li>
    {{/paymentMethods}}
    </ul>

    <div class="btn-container" id="order-{{order.id}}-delivery-onlinePayment-container" data-url="{{url}}"></div>
</div>