<div id="popup" class="private-list__modal js-modal">
    <article class="private-list__modal-body private-list__modal-body_small">
        <header class="private-list__modal-head">{{title}}</header>

        <div class="js-model-content">
            {{&content}}
        </div>

        <a class="private-list__item-del js-modal-close" href="#"></a>
    </article>
</div>