<div class="catalogList_item catalogList_item_new">

    <a class="list-img_lk" href="{{url}}">
        {{#labels.0}}
            <div class="sticker left">
                <img src="{{imageUrl}}" alt="{{name}}" />
            </div>
        {{/labels.0}}



        <div class="img">
            <img src="{{image}}" />
            {{#brand.imageUrl}}
                <div class="sticker right">
                    <img src="{{brand.imageUrl}}" alt="{{brand.name}}" />
                </div>
            {{/brand.imageUrl}}
        </div>
    </a>
    <div class="catalogList_desc">
        <a class="catalogList_lk" href="{{url}}"><span class="name">{{name}}</span>

            <div class="rating">
                {{#rating}}
                    {{>partial/rating/star-list}}
                {{/rating}}
            </div>

            {{#stateLabel}}
                <div class="availability {{cssClassName}}">
                    {{name}}
                </div>
            {{/stateLabel}}
            {{^stateLabel}}
                <div class="availability availability--nobg">&nbsp;</div>
            {{/stateLabel}}

            <div class="price">
                <div class="price_old">{{#oldPrice}}<span class="line-through">{{shownOldPrice}}</span> <span class="rubl">p</span>{{/oldPrice}}</div>
                {{#price}}<div class="price_now{{#oldPrice}} price_now-sale{{/oldPrice}}">{{shownPrice}} <span class="rubl">p</span></div>{{/price}}
            </div>
        </a>
        <div class="btn-container">
            {{#cartButton}}
                {{>partial/cart/button}}
            {{/cartButton}}
        </div>
    </div>
</div>