<div class="catalogList__item">
    <div class="catalogList__item-inner">
        <a class="list-img_lk catalogList__img-block" href="{{url}}">
            {{#labels.0}}
                <div class="sticker left">
                    <img src="{{imageUrl}}" alt="{{name}}" />
                </div>
            {{/labels.0}}



            <img class="catalogList__img" src="{{image}}" />
            {{#brand.imageUrl}}
                <div class="sticker right">
                    <img src="{{brand.imageUrl}}" alt="{{brand.name}}" />
                </div>
            {{/brand.imageUrl}}
        </a>

        <div class="catalogList__desc">
            <a class="catalogList__lk" href="{{url}}"><span class="catalogList__name">{{&name}}</span>

                <div class="catalogList__rating">
                    {{#rating}}
                        {{>partial/rating/star-list}}
                    {{/rating}}
                </div>

                {{#stateLabel}}
                    <div class="availability {{cssClassName}} catalogList__availability catalogList__availability_gray">
                        <span>{{name}}</span>
                    </div>
                {{/stateLabel}}
                {{^stateLabel}}
                    <div class="availability availability--nobg catalogList__availability">
                        <span>

                        </span>
                    </div>
                {{/stateLabel}}

                <div class="price catalogList__price">
                    <div class="price_old catalogList__price-old">{{#oldPrice}}
                        <span>
                       <span>{{shownOldPrice}}</span> <span class="rubl">p</span>
                    </span>
                    {{/oldPrice}}</div>
                    {{#price}}<div class="price_now{{#oldPrice}} price_now-sale{{/oldPrice}} catalogList__price-now">{{shownPrice}} <span class="rubl">p</span></div>{{/price}}
                </div>
            </a>
            <div class="btn-container catalogList__btn{{#cartButton.seeProductBtn}} catalogList__btn_view{{/cartButton.seeProductBtn}}">
                {{#cartButton}}
                    {{>partial/cart/button}}
                {{/cartButton}}
            </div>
        </div>
    </div>
</div>