<a href="{{url}}" class="catalogList_item">
    {{#labels.0}}
        <div class="sticker left">
            <img src="{{imageUrl}}" alt="{{name}}" />
        </div>
    {{/labels.0}}

    {{#brand.image}}
        <div class="sticker right">
            <img src="{{brand.image}}" alt="{{brand.name}}" />
        </div>
    {{/brand.image}}

    <div class="img"><img src="{{image}}" /></div>

    <div class="catalogList_desc">
        <span class="name">{{name}}</span>

        <div class="reviews">
            {{#rating}}
                {{>partial/rating/star-list}}
            {{/rating}}
            <span class="reviews_count">{{rating.reviewCount}}</span>
        </div>

        <div class="price">
            {{#oldPrice}}<div class="price_old">{{shownOldPrice}} <span class="rubl">p</span></div>{{/oldPrice}}
            {{#price}}<div class="price_now{{#oldPrice}} price_now-sale{{/oldPrice}}">{{shownPrice}} <span class="rubl">p</span></div>{{/price}}
        </div>
    </div>
</a>
