<div class="catalogList_item catalogList_item_new">
    <a href="{{url}}">
        {{#stateLabel}}
            <div class="availability availability--top {{cssClassName}}">
                {{name}}
            </div>
        {{/stateLabel}}
        {{^stateLabel}}
            <div class="availability availability--top availability--nobg">&nbsp;</div>
        {{/stateLabel}}

        {{#brand.image}}
            <div class="sticker right">
                <img src="{{brand.image}}" alt="{{brand.name}}" />
            </div>
        {{/brand.image}}

        <div class="img">
            <img src="{{image}}" />
            {{#labels.0}}
                <div class="sticker left">
                    <img src="{{imageUrl}}" alt="{{name}}" />
                </div>
            {{/labels.0}}
        </div>
    </a>

        <!-- width < 490 -->
        <div class="catalogListItemWrapper">
            <div class="catalogList_desc">
                <span class="name">{{name}}</span>
                <div class="rating">
                    {{#rating}}
                        {{>partial/rating/star-list}}
                    {{/rating}}
                    <span class="rating__reviews-count">{{rating.reviewCount}}</span>
                </div>
                {{#isInShopOnly}}
                    <div class="availability availability--on-display">
                        Товар на витрине
                    </div>
                {{/isInShopOnly}}
            </div>

            <div class="priceWrapper">
                <div class="price">
                    {{#oldPrice}}<div class="price_old">{{shownOldPrice}} <span class="rubl">p</span></div>{{/oldPrice}}
                    {{#price}}<div class="price_now{{#oldPrice}} price_now-sale{{/oldPrice}}">{{shownPrice}} <span class="rubl">p</span></div>{{/price}}
                </div>
                <div class="btn-container">
                    {{#cartButton}}
                        {{>partial/cart/button}}
                    {{/cartButton}}
                </div>
            </div>
        </div>
        <!-- /width < 490 -->
        <!-- ========================= -->
        <!-- width > 490 -->
        <div class="mediumScreenItemDescription">
            <div class="catalogList_desc">
                <span class="name">{{name}}</span>
                <div class="rating rating-afterItemName">
                    {{#rating}}
                        {{>partial/rating/star-list}}
                    {{/rating}}
                    <span class="rating__reviews-count">{{rating.reviewCount}}</span>
                </div>
                {{#stateLabel}}
                    <div class="availability {{cssClassName}}">
                        {{name}}
                    </div>
                {{/stateLabel}}
                {{^stateLabel}}
                    <div class="availability availability--nobg">&nbsp;</div>
                {{/stateLabel}}
            </div>
            <div class="priceWrapper">
                <div class="price">
                    {{#oldPrice}}<div class="price_old">{{shownOldPrice}} <span class="rubl">p</span></div>{{/oldPrice}}
                    {{#price}}<div class="price_now{{#oldPrice}} price_now-sale{{/oldPrice}}">{{shownPrice}} <span class="rubl">p</span></div>{{/price}}
                </div>
                <div class="btn-container">
                    {{#cartButton}}
                        {{>partial/cart/button}}
                    {{/cartButton}}
                </div>
            </div>
        </div>
        <!-- /width > 490 -->


</div>

