<div class="private content private-index">
    <section class="main-section">
        {{>partial/user/menu}}

        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>
    <section class="address-section">
        <ul class="private-list">

            <li class="private-list__item">

                <a class="private-list__item-del js-favorites-delete" href=""></a>

                <div class="private-list__item-block" >
                    <span class="private-list__item-block-inner address-section__item">
                        City
                    </span>
                    <span class="private-list__item-block-inner address-section__item">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, libero?
                    </span>
                    <span class="private-list__item-block-inner address-section__item">
                        Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </span>
                </div>

            </li>

            <li class="private-list__item">

                <a class="private-list__item-del js-favorites-delete" href=""></a>

                <div class="private-list__item-block" >
                    <span class="private-list__item-block-inner address-section__item">
                        City
                    </span>
                    <span class="private-list__item-block-inner address-section__item">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, libero?
                    </span>
                    <span class="private-list__item-block-inner address-section__item">
                        Lorem ipsum dolor sit amet, consectetur adipisicing.
                    </span>
                </div>

            </li>

        </ul>

        <div class="btn btn-exit">
            <a class="btn-exit__lnk address-section__btn" href="#">Добавить адресс</a>
        </div>
    </section>

</div>