<div class="private content private-index">
    <section class="main-section">
        {{>partial/user/menu}}

        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>
    <section class="id-content-container address-section">
        {{>page/private/address/content}}
    </section>
</div>