<div class="content private">
    <section class="main-section">
        {{>partial/user/menu}}
        <a class="btn btn-exit" href="/logout">Выход</a>
    </section>
    <section class="id-content-container ep">
        {{>page/private/enterprize/content}}
    </section>
</div>