<div class="private content">
    <section class="main-section">
        {{>partial/user/menu}}
        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>
    <section class="id-content-container favorit-section">
        {{>page/private/favorite/content}}
    </section>
</div>