<div class="content">
    <section class="favorit-section">
                <!-- товар -->
        <div class="cart-item clearfix">

            <a class="cart-delete id-cart-product-deleteButton-153369" href="/cart/delete-product/153369" data-url="/ajax/user/cart/product/delete" data-value="{&quot;product&quot;:{&quot;id&quot;:&quot;153369&quot;,&quot;name&quot;:&quot;Ноутбук Apple MacBook Air 13,3\u0026quot; (MD760RU\/B)&quot;,&quot;token&quot;:&quot;noutbuk-apple-macbook-air-133quot-md760ru-b-2060101029902&quot;,&quot;price&quot;:65379,&quot;url&quot;:&quot;\/product\/electronics\/noutbuk-apple-macbook-air-133quot-md760ru-b-2060101029902&quot;,&quot;quantity&quot;:0}}" data-parent-container-selector=".js-cartProduct-container" data-spinner-selector=".id-cart-product-buySpinner-153369-widget"></a>
            <a class="cart-item__img" href="/product/electronics/noutbuk-apple-macbook-air-133quot-md760ru-b-2060101029902">
                <img src="http://7.imgenter.ru/uploads/media/c2/fc/76/thumb_f370_product_120.jpeg" alt="Ноутбук Apple MacBook Air 13,3&quot; (MD760RU/B)">
            </a>
            <div class="cart-item__descr">
                <a class="cart-item__name" href="/product/electronics/noutbuk-apple-macbook-air-133quot-md760ru-b-2060101029902">Ноутбук Apple MacBook Air 13,3&amp;quot; (MD760RU/B)</a>
            </div>
        </div>


                <!--/ товар -->

    </section>
</div>