<div class="private content">
    <section class="main-section">
        {{>partial/user/menu}}
        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>
    <section class="favorit-section">
        <ul class="private-list">
            {{#content}}
                {{#favoriteItems}}
                    <!-- товар -->
                    <li class="private-list__item">

                        <a class="private-list__item-del js-favorites-delete" href="" data-product-ui="{{ui}}"></a>
                        <a class="private-list__item-block favorit-item__img" href="{{link}}">
                            <img src="{{media}}" alt="{{webName}}">
                        </a>
                        <div class="private-list__item-block">
                            <a class="favorit-section__title" href="{{link}}">
                                <span class="favorit-item__title-type">{{namePrefix}}</span>
                                <span class="favorit-item__title-name">{{&webName}}</span>
                            </a>

                            <div class="private-list__item-rating rating">
                                <i class="rating__star icon-star icon-star-full"></i>
                                <i class="rating__star icon-star icon-star-full"></i>
                                <i class="rating__star icon-star icon-star-full"></i>
                                <i class="rating__star icon-star icon-star-full"></i>
                                <i class="rating__star icon-star icon-star-full"></i>
                            </div>

                            <div class="private-list__item-availability">
                                <span>Самовывоз сегодня</span>
                            </div>

<!--                            <div class="private-list__item-availability private-list__item-availability_gray">
                                <span>На витрине</span>
                            </div>-->

                            <div class="price favorit-item__price">
                                <span class="price_old favorit-item__price-old">
                                    7199 <span class="rubl">p</span>
                                </span>
                                <span class="price_now favorit-item__price-now">799 <span class="rubl">p</span></span>
                            </div>
                        </div>
                    </li>


                    <!--/ товар -->
                {{/favoriteItems}}
            {{/content}}
        </ul>
    </section>
</div>