<div class="content">
    <section class="favorit-section">
        <!-- товар -->
        <div class="favorit-item clearfix">

            <a class="favorit-delete" href="" ></a>
            <a class="favorit-item__img" href="/product/electronics/noutbuk-apple-macbook-air-133quot-md760ru-b-2060101029902">
                <img src="http://7.imgenter.ru/uploads/media/c2/fc/76/thumb_f370_product_120.jpeg" alt="Ноутбук Apple MacBook Air 13,3&quot; (MD760RU/B)">
            </a>
            <div class="favorit-item__descr">

                <a class="favorit-item__name" href="/product/electronics/noutbuk-apple-macbook-air-133quot-md760ru-b-2060101029902">
                    <span class="favorit-item__type">Ноутбук</span>
                    Apple MacBook Air 13,3&amp;quot; (MD760RU/B)
                </a>
            </div>
        </div>


        <!--/ товар -->

    </section>
</div>