<div class="private content private-index">
    <section class="main-section">
        <ul class="private-menu-lst">
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/orders">Заказы</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/edit">Личные данные</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/password">Изменить пароль</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/enterprize">Фишки EnterPrize</a></li>
        </ul>
        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>
</div>