<div class="content">
    <ul>
        <li><a href="/private/orders">Заказы</a></li>
        <li><a href="/private/edit">Личные данные</a></li>
        <li><a href="/private/password">Изменить пароль</a></li>
    </ul>
</div>