<div class="private content js-content private-index">
    <section class="main-section">
        {{>partial/user/menu}}

        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>

    <section class="id-content-container user-section">
        <div class="user-section__row">
            <a class="user-section__edit" href="/private/edit">Изменить</a>
        </div>

        <ul class="private-list">

            <li class="private-list__item subscribe-section__item">

                <div class="private-list__item-block subscribe-section__block">

                    <div class="user-section__inner">
                        {{#user.firstName}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Имя:</span>
                            <span class="user-section__data">{{user.firstName}}</span>
                        </div>
                        {{/user.firstName}}

                        {{#user.middleName}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Отчество:</span>
                            <span class="user-section__data">{{user.middleName}}</span>
                        </div>
                        {{/user.middleName}}

                        {{#user.lastName}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Фамилия:</span>
                            <span class="user-section__data">{{user.lastName}}</span>
                        </div>
                        {{/user.lastName}}
                    </div>

                    <div class="user-section__inner">
                        {{#user.birthday}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Дата рождения:</span>
                            <span class="user-section__data">{{user.birthday}}</span>
                        </div>
                        {{/user.birthday}}

                        {{#user.sex}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Пол:</span>
                            <span class="user-section__data">{{user.sex}}</span>
                        </div>
                        {{/user.sex}}
                    </div>

                    <div class="user-section__inner">
                        {{#user.email}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Email:</span>
                            <span class="user-section__data">{{user.email}}</span>
                        </div>
                        {{/user.email}}

                        {{#user.phone}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Мобильный телефон:</span>
                            <span class="user-section__data">{{user.phone}}</span>
                        </div>
                        {{/user.phone}}

                        {{#user.homePhone}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Домашний телефон:</span>
                            <span class="user-section__data">{{user.homePhone}}</span>
                        </div>
                        {{/user.homePhone}}

                        {{#user.occupation}}
                        <div class="private-list__item-block-inner user-section__inner-block">
                            <span>Род деятельности:</span>
                            <span class="user-section__data">{{user.occupation}}</span>
                        </div>
                        {{/user.occupation}}
                    </div>

                </div>

            </li>

        </ul>

        <div class="btn private-btn">
            <a class="private-btn__link" href="/private/password">Сменить пароль</a>
        </div>

    </section>
</div>

