<div class="private content private-index">
    <section class="main-section">
        {{>partial/user/menu}}

        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>

    <section class="messages-section">
        <ul class="private-list">

            <li class="private-list__item subscribe-section__item">

                <div class="private-list__item-block">
                    <div class="messages-section__img-block">
                        <img src="/css/modules/private/img/no-message.png" alt="no-message">
                    </div>
                    <span class="messages-section__txt">У вас еще нет сообщений</span>
                </div>

            </li>

        </ul>
    </section>
</div>