<div class="content private">
    <section class="main-section">
        {{>partial/user/menu}}
        <a class="btn btn-exit" href="/logout">Выход</a>
    </section>
    <section>
        <table class="private-orders-list">
            {{#orders}}
            <tr class="private-orders-list-i noselect">
                <td class="private-orders-list-i__num"><a href="/private/order/{{id}}">{{numberErp}}</a></td>
                <td class="private-orders-list-i__date"><a href="/private/order/{{id}}">{{createdAt}}</a></td>
                <td class="private-orders-list-i__sum"><a href="/private/order/{{id}}">{{paySum}} <span class="rubl">p</span></a></td>
            </tr>
            {{/orders}}
            {{^orders}}
                <p>Заказов не найдено</p>
            {{/orders}}
        </table>
    </section>
</div>