<div class="content private-order private">
    <section class="main-section">
        {{>partial/user/menu}}
        <a class="btn btn-exit" href="/logout">Выход</a>
    </section>

    <section class="id-content-container">
        {{>page/private/order/content}}
    </section>
</div>

