<div class="content private">
    <section class="main-section">
        <ul class="private-menu-lst">
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/orders">Заказы</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/edit">Личные данные</a></li>
            <li class="private-menu-lst-i active"><a class="private-menu-lst-i__lk" href="/private/password">Изменить пароль</a></li>
        </ul>
        <a class="btn btn-exit">Выход</a>
    </section>
    <section>
        {{#resetPasswordForm}}
            {{>partial/message}}
            <form class="private-form" method="post" action="{{url}}">
                <fieldset>
                    <div class="p-control-head">Пароль</div>
                    <div class="p-control-group{{#resetPasswordForm.errors.old-password}} incorrect{{/resetPasswordForm.errors.old-password}}{{#resetPasswordForm.errors.password}} incorrect{{/resetPasswordForm.errors.password}}">
                        {{#resetPasswordForm.errors.old-password}}
                            <label class="incorrect-error"><span class="err">{{.}}</span></label>
                        {{/resetPasswordForm.errors.old-password}}
                        {{#resetPasswordForm.errors.password}}
                            <label class="incorrect-error"><span class="err">{{.}}</span></label>
                        {{/resetPasswordForm.errors.password}}

                        <input id="old-password" name="old-password" type="password" placeholder="Старый пароль" class="p-control p-control-input">
                    </div>
                    <div class="p-control-group{{#resetPasswordForm.errors.new-password}} incorrect{{/resetPasswordForm.errors.new-password}}{{#resetPasswordForm.errors.password-identity}} incorrect{{/resetPasswordForm.errors.password-identity}}">
                        {{#resetPasswordForm.errors.new-password}}
                            <label class="incorrect-error"><span class="err">{{.}}</span></label>
                        {{/resetPasswordForm.errors.new-password}}
                        {{#resetPasswordForm.errors.password-identity}}
                            <label class="incorrect-error"><span class="err">{{.}}</span></label>
                        {{/resetPasswordForm.errors.password-identity}}
                        <input id="new-password" name="new-password" type="password" placeholder="Новый пароль" class="p-control p-control-input">
                    </div>
                    <div class="p-control-group{{#resetPasswordForm.errors.confirm-password}} incorrect{{/resetPasswordForm.errors.confirm-password}}{{#resetPasswordForm.errors.password-identity}} incorrect{{/resetPasswordForm.errors.password-identity}}">
                        {{#resetPasswordForm.errors.confirm-password}}
                            <label class="incorrect-error"><span class="err">{{.}}</span></label>
                        {{/resetPasswordForm.errors.confirm-password}}
                        {{#resetPasswordForm.errors.password-identity}}
                            <label class="incorrect-error"><span class="err">{{.}}</span></label>
                        {{/resetPasswordForm.errors.password-identity}}
                        <input id="confirm-password" name="confirm-password" type="password" placeholder="Подтверждение пароля" class="p-control p-control-input">
                    </div>
                    <div class="p-control-group btn-container">
                        <input type="submit" value="Сохранить пароль" class="btn btn--submit btn--orange btn--medium"/>
                    </div>
                </fieldset>
            </form>
        {{/resetPasswordForm}}
    </section>
</div>

