<div class="content">
    <div class="contentBox960">
        {{#resetPasswordForm}}
        <form class="form-horizontal" method="post" action="{{url}}">
            <fieldset>
                <div class="form-group">
                    {{#errors.password}}<span class="errorText">{{errors.password}}</span>{{/errors.password}}
                    <label class="col-md-4 control-label" for="old-password">Старый пароль</label>
                    <div class="col-md-4">
                        <input id="old-password" name="old-password" type="password" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="new-password">Новый пароль</label>
                    <div class="col-md-4">
                        <input id="new-password" name="new-password" type="password" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="confirm-password">Потдвержение пароля</label>
                    <div class="col-md-4">
                        <input id="confirm-password" name="confirm-password" type="password" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" value="сохранить пароль"/>
                    </div>
                </div>
            </fieldset>
        </form>
        {{/resetPasswordForm}}
    </div>
</div>