<div class="content private">
    <section class="main-section">
        <ul class="private-menu-lst">
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/orders">Заказы</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/edit">Личные данные</a></li>
            <li class="private-menu-lst-i active"><a class="private-menu-lst-i__lk" href="/private/password">Изменить пароль</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/enterprize">Фишки EnterPrize</a></li>
        </ul>
        <a class="btn btn-exit" href="/logout">Выход</a>
    </section>
    <section>
        {{#resetPasswordForm}}
            {{>partial/message}}
            <form class="private-form" method="post" action="{{url}}">
                <fieldset>
                    <div class="p-control-head">Пароль</div>
                    <span class="password-msg">Надежный пароль должен содержать от 6 до 16 знаков следующих трех видов: прописные буквы, строчные буквы, цифры или символы, но не должен включать широко распространенные слова и имена.</span>
                    <div class="p-control-group{{#resetPasswordForm.errors.old-password}} incorrect{{/resetPasswordForm.errors.old-password}}{{#resetPasswordForm.errors.password}} incorrect{{/resetPasswordForm.errors.password}}">
                    <label class="p-control-label">
                        Старый пароль
                        {{#resetPasswordForm.errors.old-password}}
                            <span class="err">{{.}}</span>
                        {{/resetPasswordForm.errors.old-password}}
                        {{#resetPasswordForm.errors.password}}
                            <span class="err">{{.}}</span>
                        {{/resetPasswordForm.errors.password}}
                    </label>
                        <input id="old-password" name="old-password" type="password" placeholder="Старый пароль" class="p-control p-control-input">
                    </div>
                    <div class="p-control-group{{#resetPasswordForm.errors.new-password}} incorrect{{/resetPasswordForm.errors.new-password}}{{#resetPasswordForm.errors.password-identity}} incorrect{{/resetPasswordForm.errors.password-identity}}">
                        <label class="p-control-label">
                            Новый пароль
                        {{#resetPasswordForm.errors.new-password}}
                            <span class="err">{{.}}</span>
                        {{/resetPasswordForm.errors.new-password}}
                        {{#resetPasswordForm.errors.password-identity}}
                            <span class="err">{{.}}</span>
                        {{/resetPasswordForm.errors.password-identity}}
                            </label>
                        <input id="new-password" name="new-password" type="password" placeholder="Новый пароль" class="p-control p-control-input">
                    </div>
                    <div class="p-control-group{{#resetPasswordForm.errors.confirm-password}} incorrect{{/resetPasswordForm.errors.confirm-password}}{{#resetPasswordForm.errors.password-identity}} incorrect{{/resetPasswordForm.errors.password-identity}}">
                        <label class="p-control-label">
                            Подтверждение пароля
                        {{#resetPasswordForm.errors.confirm-password}}
                            <span class="err">{{.}}</span>
                        {{/resetPasswordForm.errors.confirm-password}}
                        {{#resetPasswordForm.errors.password-identity}}
                            <span class="err">{{.}}</span>
                        {{/resetPasswordForm.errors.password-identity}}
                            </label>
                        <input id="confirm-password" name="confirm-password" type="password" placeholder="Подтверждение пароля" class="p-control p-control-input">
                    </div>
                    <div class="p-control-group btn-container">
                        <input type="submit" value="Сохранить пароль" class="btn btn--submit btn--orange btn--medium"/>
                    </div>
                </fieldset>
            </form>
        {{/resetPasswordForm}}
    </section>
</div>

