<div class="content private">
    <section class="ep">
        <ul class="ep-list">
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl"><span class="rubl">p</span></span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома дома дома дома дома дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl"><span class="icon">D</span></span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl"><span class="rubl">p</span></span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl">%</span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl"><span class="rubl">p</span></span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl"><span class="rubl">p</span></span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>

        </ul>
    </section>
</div>