<div class="content private">
    <section class="ep">
        <div class="ep-coupon">
            <img src="/css/modules/private/img/chip-lime.png">
            <div class="ep-coupon__lbl">
                <span class="icon">D</span>
                <span class="type">Текстиль</span>
                <span class="discount">15%</span>
            </div>
        </div>
        <div class="ep-coupon__info">
            <span class="ep-coupon__txt">Фишка со скидкой 15%<br>на Текстиль</span>
            <span class="ep-coupon__term">Действует c 30.04.2015 по 31.05.2015</span>
            <div class="ep-coupon__disc">Фишка не действует на товары продавцов-партнеров
                Скидка по акции не суммируется со скидками
                по другим акциям ООО "Энтер"<br>
                Минимальная сумма заказа 1500&thinsp;<span class="rubl">p</span>
            </div>
        </div>
    </section>
</div>