<div class="content private">
    <section class="main-section">
        <ul class="private-menu-lst">
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/orders">Заказы</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/edit">Личные данные</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/password">Изменить пароль</a></li>
            <li class="private-menu-lst-i active"><a class="private-menu-lst-i__lk" href="/private/enterprize">Enterprize</a></li>
        </ul>
        <a class="btn btn-exit">Выход</a>
    </section>
    <section class="ep">
        <ul class="ep-list">
            <li class="ep-list-i">
                <div class="ep-list-i__img">
                    <img src="/css/modules/private/img/chip-lime.png">
                    <span class="ep-list-i__lbl"><span class="rubl">p</span></span>
                </div>
                <div class="ep-list-i__txt">
                    <span class="ep-list-i__tl"><span class="accented">100&thinsp;<span class="rubl">p</span></span> на Товары для дома дома дома дома дома дома</span>
                    <span class="ep-list-i__desc">Минимальная сумма заказа 2000&thinsp;<span class="rubl">p</span></span>
                </div>
            </li>
            {{#coupons}}
                <li class="ep-list-i">
                    <div class="ep-list-i__img">
                        <img src="{{backgroundUrl}}">
                        <span class="ep-list-i__lbl"><img src="{{imageUrl}}"></span>
                    </div>
                    <div class="ep-list-i__txt">
                        <span class="ep-list-i__tl"><span class="accented">{{discountAmount}}&thinsp;<span class="rubl">{{discountUnit}}</span></span> на {{category}}</span>
                        <span class="ep-list-i__desc">{{description}}</span>
                    </div>
                </li>
            {{/coupons}}
        </ul>
    </section>
</div>