<div class="content">
    <div class="contentBox960">
        <form class="form-horizontal" method="post" action="/ajax/private/password/change">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username">Имя</label>
                    <div class="col-md-4">
                        <input id="username" name="username" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="middlename">Отчество</label>
                    <div class="col-md-4">
                        <input id="middlename" name="middlename" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastname">Фамилия</label>
                    <div class="col-md-4">
                        <input id="lastname" name="lastname" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="birthdate">Дата рождения</label>
                    <div class="col-md-4">
                        <input id="birthdate" name="birthdate" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sex">Пол</label>
                    <div class="col-md-4">
                        <input id="sex" name="sex" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="phone">Мобильный телефон</label>
                    <div class="col-md-4">
                        <input id="phone" name="phone" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="phone_2">Домашний телефон</label>
                    <div class="col-md-4">
                        <input id="phone_2" name="phone_2" type="text" placeholder="" class="textfield">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="occupation">Род деятельности</label>
                    <div class="col-md-4">
                        <input id="occupation" name="occupation" type="text" placeholder="" class="textfield">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" value="сохранить изменения"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>