<div class="content private">
    <section class="main-section">
        <ul class="private-menu-lst">
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/orders">Заказы</a></li>
            <li class="private-menu-lst-i active"><a class="private-menu-lst-i__lk" href="/private/edit">Личные данные</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/password">Изменить пароль</a></li>
            <li class="private-menu-lst-i"><a class="private-menu-lst-i__lk" href="/private/enterprize">Фишки EnterPrize</a></li>
        </ul>
        <a class="btn btn-exit" href="/logout">Выход</a>
    </section>
    <section>
        {{#editProfileForm}}
            {{>partial/message}}
            <form class="private-form" method="post" action="{{url}}">
            <fieldset>
                <div class="p-control-group">
                    <label class="p-control-label">Имя</label>
                    <input id="username" name="first_name" type="text" placeholder="Имя" class="p-control p-control-input" value="{{firstName}}">
                </div>
                <div class="p-control-group">
                    <label class="p-control-label">Отчество</label>
                    <input id="middlename" name="middle_name" type="text" placeholder="Отчество" class="p-control p-control-input" value="{{middleName}}">
                </div>
                <div class="p-control-group">
                    <label class="p-control-label">Фамилия</label>
                    <input id="lastname" name="last_name" type="text" placeholder="Фамилия" class="p-control p-control-input" value="{{lastName}}">
                </div>
                <div class="p-control-group inline-group">
                    <label class="p-control-label visible" for="birthday">Дата рождения</label>
                    <div class="p-control p-control-date-group">
                        <input class="p-control p-control-input" id="birthday" name="birthday" type="text" value="{{birthday}}">
                        <input class="p-control p-control-input" id="birthday-helper" type="date" value="{{birthday}}">
                    </div>
                </div>
                <div class="p-control-group inline-group">
                    <label class="p-control-label visible" for="sex">Пол</label>

                    <div class="p-control p-control-select-group">
                        <select name="sex" id="sex">
                            <option value="1">Мужской</option>
                            <option value="2">Женский</option>
                        </select>
                    </div>
                </div>
                {{#editProfileForm.errors.empty_fields}}
                    <div class="p-control-group__error">
                        Одно из полей обязательно для заполнения
                    </div>
                {{/editProfileForm.errors.empty_fields}}
                <div class="p-control-group{{#editProfileForm.errors.empty_fields}} required{{/editProfileForm.errors.empty_fields}}"><!-- класс required - для ошибки -->
                    <label class="p-control-label">Email</label>
                    <input id="email" name="email" type="text" placeholder="Email" class="p-control p-control-input" value="{{email}}">
                </div>
                <div class="p-control-group{{#editProfileForm.errors.empty_fields}} required{{/editProfileForm.errors.empty_fields}}">
                    <label class="p-control-label">Мобильный телефон</label>
                    <input id="mobile" name="phone" type="text" placeholder="Мобильный телефон" class="p-control p-control-input" value="{{phone}}">
                </div>
                <div class="p-control-group">
                    <label class="p-control-label">Домашний телефон</label>
                    <input id="phone" name="homePhone" type="text" placeholder="Домашний телефон" class="p-control p-control-input" value="{{homePhone}}">
                </div>
                <div class="p-control-group">
                    <label class="p-control-label">Род деятельности</label>
                    <input id="occupation" name="occupation" type="text" placeholder="Род деятельности" class="p-control p-control-input" value="{{occupation}}">
                </div>

                <div class="p-control-group btn-container">
                    <input type="submit" value="Сохранить изменения" class="btn btn--submit btn--orange btn--medium"/>
                </div>
            </fieldset>
        </form>
        {{/editProfileForm}}
    </section>
</div>