<div class="private content private-index">
    <section class="main-section">
        {{>partial/user/menu}}

        <div class="btn btn-exit">
            <a class="btn-exit__lnk" href="/logout">Выход</a>
        </div>
    </section>

    <section class="subscribe-section">
        <ul class="private-list">

            <li class="private-list__item subscribe-section__item">

                <div class="private-list__item-block subscribe-section__block">
                    <input class="subscribe-section__checkbox" type="checkbox" id="subscribe-check">
                    <label class="subscribe-section__check-label" for="subscribe-check">Новости EnterPrize</label>
                </div>

            </li>

        </ul>
    </section>
</div>