<div class="checkout-order__inn box-show js-delivery-type id-order-{{id}}-delivery" data-data-selector="#order-{{id}}-map-data">
    {{#dateJson}}
    <a href="#" class="checkout-celendar js-order-delivery-celendar-link" data-data-selector="#order-{{id}}-date-data" data-modal-position="fixed-untill-640" data-modal-title="Дата">{{delivery.date}}</a>
    {{/dateJson}}

    {{^delivery.point}}
    <div class="self-delivery-choose">
        <a href="#" class="btn-transparent btn-transparent--normal js-order-delivery-pointPopup-link" data-modal-title="Точки самовывоза" data-modal-position="fixed" data-storage-selector="#order-{{id}}-point-data" data-btn="select-shop">
            <span class="bb-dotted">Выбрать точку самовывоза</span>
        </a>
    </div>
    {{/delivery.point}}

    {{#delivery.point}}
        <div class="checkout-address">
            <div class="checkout-address__title"><strong>{{group.shortName}}</strong></div>

            <div class="shop-snippet clearfix">
                <div class="shop-snippet-name">
                    <img src="/img/points/logos/100x100/{{icon}}" alt="" class="shop-snippet-name__img">
                    <span class="shop-snippet-name__text">{{group.name}}</span>
                </div>

                <div class="shop-snippet-info">
                    {{#subway}}
                    <div class="shop-snippet-metro">
                        <span class="shop-snippet-metro__bullet" style="background: {{color}};"></span>
                        <span class="shop-snippet-metro__text">{{name}}</span>
                    </div>
                    {{/subway}}

                    <div class="shop-snippet-address">{{address}} <br/>{{regime}}</div>
                </div>

            </div>
            <a href="#" class="checkout-address-choose bb-dotted js-order-delivery-pointPopup-link" data-modal-title="Точки самовывоза" data-modal-position="fixed" data-storage-selector="#order-{{order.id}}-point-data">Изменить точку</a>
        </div>
    {{/delivery.point}}
</div>