<div class="checkout-order__inn box-show js-delivery-type id-order-{{id}}-delivery">
    <script id="order-{{id}}-map-data" type="application/json">
        {{&pointDataValue}}
    </script>

    {{^delivery.point}}
        <button class="btn-transparent btn-transparent--normal js-order-delivery-pointPopup-link" data-map-data-selector="#order-{{id}}-map-data" data-btn="select-shop">
            <span class="bb-dotted">Выбрать точку самовывоза</span>
        </button>
    {{/delivery.point}}

    {{#delivery.point}}
        <div class="checkout-celendar">15 сентября 2014, воскресенье</div>
        <div class="checkout-address">
            <div class="checkout-address__title"><strong>Магазин</strong></div>

            <div class="shop-snippet clearfix">
                <div class="shop-snippet-name">
                    <img src="http://www.enter.ru/images/deliv-logo/enter.png" alt="" class="shop-snippet-name__img">
                    <span class="shop-snippet-name__text">{{group.name}}</span>
                </div>

                <div class="shop-snippet-info">
                    {{#subway}}
                    <div class="shop-snippet-metro">
                        <span class="shop-snippet-metro__bullet" style="background: {{color}};"></span>
                        <span class="shop-snippet-metro__text">{{name}}</span>
                    </div>
                    {{/subway}}

                    <div class="shop-snippet-address">{{name}} <br/>{{regime}}</div>
                </div>

                <div class="table_cell"><a href="" class="bb-dotted js-order-delivery-pointPopup-link" data-map-data-selector="#order-{{order.id}}-map-data">Изменить</a></div>
            </div>
        </div>
    {{/delivery.point}}
</div>