<div class="checkout-order__inn box-show js-delivery-type" id="delivery-type-buy-1">
    <div class="checkout-celendar js-order-delivery-celendar-link" data-data-selector="#order-{{id}}-date-data" data-modal-position="center" data-modal-title="Дата">{{delivery.date}}</div>

    <div class="custom-select custom-select--button">
        {{#delivery.interval}}
            <span class="custom-select__value js-order-btn" data-btn="select-time">{{from}}…{{to}} <i class="caret"></i></span>
        {{/delivery.interval}}

        <ul class="custom-select-list js-order-box" data-box="data-select-time">
        {{#delivery.intervals}}
            <li class="custom-select-list__item js-order-delivery-form-control" data-value="{{&dataValue}}">{{from}}…{{to}}</li>
        {{/delivery.intervals}}
        </ul>
    </div>

    <div class="checkout-address">
        {{#user.address}}
            <p class="checkout-address__selected">ул. Линии Октябрьской Железной Дороги, 12/1, кв.23</p>
        {{/user.address}}

        {{^isUserAuthenticated}}
        <div class="checkout-address">
            <div class="checkout-address__title"><strong>Адрес</strong> для всех заказов с доставкой</div>

            <button class="orderInf_r btn-transparent btn-transparent--normal js-order-delivery-addressPopup-link" data-modal-title="Адрес доставки" data-modal-position="fixed"><span class="bb-dotted">Указать адрес</span></button>
        </div>
        {{/isUserAuthenticated}}

        {{#isUserAuthenticated}}
        <div class="checkout-address__select custom-select">
            <span class="custom-select__value js-order-btn" data-btn="select-address">
                <span class="bb-dotted js-order-delivery-addressPopup-link" data-modal-title="Адрес доставки" data-modal-position="fixed">Указать адрес</span>
                <i class="caret"></i>
            </span>

            <ul class="custom-select-list js-order-box" data-box="data-select-address">
                <li class="custom-select-list__item">ул. Линии Октябрьской Железной Дороги, 12/1, 23</li>
                <li class="custom-select-list__item">ул. Орджоникидзе, 10</li>
                <li class="custom-select-list__item custom-select-list__item--add">
                    <span class="icon-plus">+</span>
                    <span class="bb-dotted">Добавить адрес</span>
                </li>
            </ul>
        </div>
        {{/isUserAuthenticated}}
    </div>
</div>
