.private{
    .g-layout;
    .g-layout__row;
    // style for private page - for full-height
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 0;
    padding-top: 50px;
    background: #f5f5f5;

    overflow: hidden;

    section{
        .g-layout__item(12);
        position: relative;
        height: 100%;

        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        padding-left: 10px;

        .box-sizing(border-box);

        @media only screen and (min-width: 768px){
            .g-layout__item(6);

            padding: 10px;
        }

        &.main-section{
            display: table;

            min-height: 100%;

            padding-right: 10px;
            padding-left: 5px;

            .box-shadow(0 0 12px 0 rgba(0, 0, 0, 0.30));
        }

        &.ep{
            margin-bottom: 0;
        }
    }

    &:not(.private-index) section.main-section{
        display: none;

        @media only screen and (min-width: 768px){
            display: block;
        }
    }


    .txEvnt{
        position: static;
        margin: 10px 10px 0 10px;
    }
    // fix for smartbanner
    #smartbanner.shown.android + section, #smartbanner.shown.android + section + section{
        padding-bottom: 75px;
    }
}


.password-msg{
    font-size: 12px;
    color: #616161;
    margin: 0 10px;
    display: block;
}

/* media queries */


body:not(.noIOS){
    .private section:not(.main-section){
        & > * {
            -webkit-transform: translateZ(0px);
            -webkit-transform: translate3d(0,0,0);
        }
    }
}
.snapjs-left{
    .private section{
        overflow: hidden;
    }
}


.private-menu-lst{

    * {
        .box-sizing();
    }

    &__item{
        position: relative;

        display: block;
        margin-top: 10px;

        &.active{
            border-left: 4px solid #82c149;
        }
    }

    &__lk{
        display: block;
        width: 100%;
        height: 100%;

        padding: 15px 10px;

        background: #FFFFFF;

        font-size: 14px;
    }

    &__item-txt{
        display: inline-block;
        vertical-align: middle;

        padding-right: 50px;
    }

    &__user{
        display: block;
        margin-bottom: 6px;

        &_name{
            margin-bottom: 0;

            font-size: 20px;
        }
    }

    &__item-i{
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        margin-right: 10px;

        &_big{
            width: 38px;
        }
    }
    
    &__item-number{
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 20px;

        font-size: 14px;
        color: #82c149;
    }
}

.btn-exit{
    display: block;
    width: 180px;
    height: 45px;
    line-height: 45px;

    margin: 30px auto 0;

    background: #FFFFFF;

    color: #696969;
    font-size: 14px;
    text-align: center;

    .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.10));


    &:hover{
        color: #696969;
    }
}


.private-list{
    width: 100%;

    *{
        .box-sizing();
    }

    &__item{
        position: relative;

        display: table;
        width: 100%;
        margin-bottom: 10px;

        padding: 10px;
        background: #FFFFFF;

        .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.20));
    }

    &__item-block{
        display: table-cell;
        vertical-align: middle;

        padding-right: 10px;

        a{
            display: block;
            position: relative;
        }

        &_num{
            font-size: 14px;

            a {
                width: 90px;
                white-space: nowrap;
                text-align: center;
            }
        }

        &_date{
            vertical-align: baseline;
            width: 100%;
            min-width: 0;
            font-size: 12px;
            text-align: left;

            a {
                color: #616161;
            }
        }

        &_sum{
            position: relative;
            white-space: nowrap;
            font-size: 14px;
            text-align: right;
        }

        &_ep{
            width: 70px;
            height: 60px;
            position: relative;
        }
    }

    &__item-block-status{
        display: block;

        padding-top: 5px;

        text-align: left;

        &_processing{
            color: #80c342;
        }
    }

    &__item-block-inner{
        display: block;
    }

    &__item-del{
        position: absolute;
        right: 10px;
        top: 10px;

        width: 20px;
        height: 20px;
        background: url("@{base-url}/favorit/img/close@2x.png") no-repeat;
        .background-size(cover);
    }

    &__item-rating{
        &.rating{
            margin: 3px 0 0 0;
        }
        .rating__star{
            font-size: 11px;
        }
    }

    &__item-availability{
        display: block;
        min-height: 16px;
        margin: 5px -10px 5px 0;
        
        span{
            display: block;
            width: 100%;

            background: #e5f5e9;

            font-size: 12px;
            color: #666666;
            text-align: center;
        }
        
        &_gray{

            span{
                background: #f2f2f2;
            }
        }
    }
}
