.private{
    .g-layout;
    .g-layout__row;
    // style for private page - for full-height
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 0;
    padding-top: 50px;
    background: #f5f5f5;

    overflow: hidden;

    section{
        .g-layout__item(12);
        position: relative;
        height: 100%;

        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 10px 5px 0 10px;

        .box-sizing(border-box);

        @media only screen and (min-width: 768px){
            .g-layout__item(6);

            padding: 10px 5px 0 10px;
        }

        &.main-section{
            position: relative;

            display: table;

            min-height: 100%;

            padding-right: 10px;
            padding-left: 5px;

            .box-shadow(4px 0 4px 0 rgba(0, 0, 0, 0.30));
        }

        &.ep{
            margin-bottom: 0;
        }
    }

    &:not(.private-index) section.main-section{
        display: none;

        @media only screen and (min-width: 768px){
            display: block;
        }
    }


    .txEvnt{
        position: static;
        margin: 10px 10px 0 10px;
    }
    // fix for smartbanner
    #smartbanner.shown.android + section, #smartbanner.shown.android + section + section{
        padding-bottom: 75px;
    }
}


.password-msg{
    font-size: 12px;
    color: #616161;
    margin: 0 10px;
    display: block;
}

/* media queries */


body:not(.noIOS){
    .private section:not(.main-section){
        & > * {
            -webkit-transform: translateZ(0px);
            -webkit-transform: translate3d(0,0,0);
        }
    }
}
.snapjs-left{
    .private section{
        overflow: hidden;
    }
}


.private-menu-lst{

    * {
        .box-sizing();
    }

    &__item{
        position: relative;

        display: block;
        margin-top: 10px;

        .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.20));

        &.active{
            border-left: 4px solid #82c149;
        }
    }

    &__lk{
        display: block;
        width: 100%;
        height: 100%;

        padding: 15px 10px;

        background: #FFFFFF;

        font-size: 14px;
    }

    &__item-txt{
        display: inline-block;
        vertical-align: middle;

        padding-right: 50px;
    }

    &__user{
        display: block;
        margin-bottom: 6px;

        &_name{
            margin-bottom: 0;

            font-size: 20px;
        }
    }

    &__item-i{
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        margin-right: 10px;

        &_big{
            width: 38px;
        }
    }
    
    &__item-number{
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 20px;

        font-size: 14px;
        color: #82c149;
    }
}

.btn-exit{
    display: block;
    width: 180px;
    height: 45px;
    line-height: 45px;

    margin: 30px auto 0;

    background: #FFFFFF;

    color: @gray;
    font-size: 14px;
    text-align: center;

    .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.10));

    &__lnk{
        color: @gray;

        &:hover{
            color: @gray;
        }
    }
}

.private-btn{
    display: block;
    width: 180px;
    height: 45px;
    line-height: 45px;

    margin: 30px auto 0;

    background: #FFFFFF;

    color: @gray;
    font-size: 14px;
    text-align: center;

    .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.10));


    &:hover{
        color: @gray;
    }

    &__link{
        color: @gray;

        &:hover{
            color:@gray;
        }
    }
}

.private-list{
    width: 100%;

    *{
        .box-sizing();
    }

    &__item{
        position: relative;

        display: table;
        width: 100%;
        margin-bottom: 10px;

        padding: 10px;
        background: #FFFFFF;

        .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.20));
    }

    &__item-block{
        display: table-cell;
        vertical-align: middle;

        padding-right: 10px;

        a{
            display: block;
            position: relative;
        }

        &_num{
            font-size: 14px;

            a {
                width: 90px;
                white-space: nowrap;
                text-align: center;
            }
        }

        &_date{
            vertical-align: baseline;
            width: 100%;
            min-width: 0;
            font-size: 12px;
            text-align: left;

            a {
                color: #616161;
            }
        }

        &_sum{
            position: relative;
            white-space: nowrap;
            font-size: 14px;
            text-align: right;
        }

        &_ep{
            width: 70px;
            height: 60px;
            position: relative;
        }
    }

    &__item-block-status{
        display: block;

        padding-top: 5px;

        text-align: left;

        &_processing{
            color: #80c342;
        }
    }

    &__item-block-inner{
        display: block;
    }

    &__item-del{
        position: absolute;
        right: 10px;
        top: 10px;

        width: 20px;
        height: 20px;
        background: url("@{base-url}/favorit/img/close@2x.png") no-repeat;
        .background-size(cover);
    }

    &__item-rating{
        &.rating{
            margin: 3px 0 0 0;
        }
        .rating__star{
            font-size: 11px;
        }
    }

    &__item-availability{
        display: block;
        min-height: 16px;
        margin: 5px -10px 5px 0;
        
        span{
            display: block;
            width: 100%;

            background: #e5f5e9;

            font-size: 12px;
            color: #666666;
            text-align: center;
        }
        
        &_gray{

            span{
                background: #f2f2f2;
            }
        }
    }

    &__modal{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;

        display: none;

        background: rgba(0, 0, 0, 0.50);
    }

    &__modal-body{
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));

        width: 430px;
        min-height: 255px;
        .box-sizing();

        padding: 20px;

        background: #FFFFFF;

        &_small{
            width: 341px;
            min-height: 234px;
        }
    }

    &__modal-head{
        display: block;
        .box-sizing(border-box);

        margin: 0 0 20px 0;

        font-size: 20px;
        text-align: center;
    }

    &__modal-name-list{
        display: block;
        .box-sizing(border-box);
    }

    &__modal-row{
        display: block;
        .box-sizing(border-box);
    }

    &__modal-email{
        display: block;
        .box-sizing(border-box);

        width: 100%;
        height: 35px;
        margin-bottom: 5px;
        line-height: 35px;

        padding: 0 10px;
        border: 1px solid @grayL4;
        .rounded(3px);

        font-size: 12px;

        &:focus{

            border-color: @grayL4;
        }
    }

    &__modal-email-desc{
        display: block;
        margin-bottom: 10px;

        padding-left: 11px;

        font-size: 12px;
        color: #afafaf;
    }

    &__modal-checkbox{
        position: relative;

        display: block;
        margin: 0 0 20px 0;
        .box-sizing(border-box);

        font-size: 12px;
        color: @gray;

        cursor: pointer;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span{
            display: inline-block;
            vertical-align: middle;
            width: 356px;
        }
    }

    &__modal-send{
        display: block;
        width: 170px;
        height: 35px;
        line-height: 35px;
        margin: auto;

        border: none;
        .rounded(3px);
        padding: 0;

        background: @orangeD;

        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    &_gray{
        margin-right: 0;

        background: @lightGrey6;
        padding: 10px 0 10px 10px;
    }

    &_p20{
        padding: 20px 10px 20px 20px;
    }
}


.btn-del{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 13px;
    height: 13px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAFVBMVEUAAACgnZ2enp6fnZ2gnp6gn5+gn59zJN7HAAAABnRSTlMAa2xwq/6ys9sfAAAAOUlEQVR42l2OUQoAMAhCndXuf+RYTNj0w3hEKWJBYoBFQXFMcIdcOCDMA1LuBGxnd/bzz7MuwadnA0wUANaT+7mJAAAAAElFTkSuQmCC) no-repeat center center;

    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}

.btn-del_big{
    position: static;
    display: block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin: 20px auto auto auto;

    padding: 0;

    border: 1px solid @grayL4;
    .rounded(3px);
    outline: none;

    background: #FFFFFF;

    font-size: 18px;
    text-align: center;
}