.ep{
    &-list{
        &-i{
            padding: 10px;
            border-bottom: 1px solid #a0a0a0;
            min-height: 60px;
            &__fishka{
                width: 100%;
                height: 100%;
            }
            &__inn{
                width: 60px;
                height: 60px;
                position: relative;
                float: left;
            }
            &__lbl{
                position: absolute;
                width: 100%;
                height: 100%;

                text-align: center;
                top: 0px;
                left: 0px;
                font-size: 25px;
                .icon{
                    font-family: 'menuIconFont';
                    font-size: 70px;
                    height: 40px;
                    margin: 0 0 10px 0;
                    color: #000;
                }
                .rubl{
                    .inline-block(middle);
                    margin: 0;
                }
                img{
                    max-width: 25px;
                    max-height: 25px;
                    .inline-block(middle);
                }
                &:after{
                    content: '';
                    .inline-block(middle);
                    width: 0;
                    height: 100%;
                }
            }

            &__tl{
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                display: block;
                white-space: nowrap;
                .accented{
                    font-size: 18px;
                    .rubl{
                        marign: 0;
                    }
                }
            }
            &__desc{
                font-size: 14px;
                display: block;
            }
            &__txt{
                margin-left: 70px;
                margin-top: 10px;
            }
        }
    }
    &-coupon{
        width: 210px;
        height: 210px;
        margin: 15px auto 5px;
        position: relative;
        background-repeat: no-repeat;
        .background-size(contain);
        text-align: center;

        &__img{
            margin: 50px 0 0;
            max-width: 50px;
            max-height: 50px;
        }
        &__lbl{

            width: 100%;

            text-align: center;

            .icon{
                font-family: 'menuIconFont';
                font-size: 100px;
                height: 86px;
                margin: 0 0 10px 0;
                color: #000;
                display: block;
            }
            .type{
                font-size: 14px;
                display: block;
                margin-top: 5px;
            }
            .discount{
                font-size: 24px;
                display: block;
            }
        }
        &__info{
            padding: 0 10px 10px;
            display: block;
            text-align: center;
        }
        &__txt{
            font-size: 16px;
            display: block;
        }
        &__disc{
            font-size: 12px;
            margin-top: 10px;
            display: block;
        }
        &__term{
            color: #a0a0a0;
            font-size: 14px;
            margin-top: 5px;
            display: block;
        }
    }
}