.private-order{
    &__head{
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #cccccc;
    }
    &__tl{
        font-size: 14px;
        .inline-block(middle);
        margin: 0px;
    }
    &__date{
        .inline-block(middle);
        font-size: 12px;
        color: #5e5e5e;
        margin-left: 2px;
    }
}
.delivery-info{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    .delivery-date{
        font-size: 14px;

        &__d{
            font-size: 12px;
        }
    }
    .how-to-find{
        text-decoration: none;
        border-bottom: 1px dotted;
        color: #666666;
        font-size: 12px;

        &:hover{
            text-decoration: none;
        }
    }
}