<ul class="private-list">
    {{#addresses}}
        <li class="private-list__item">
            {{#deleteUrl}}
                <a class="private-list__item-del" href="{{deleteUrl}}"></a>
            {{/deleteUrl}}
            <div class="private-list__item-block">
                {{#region}}
                    <span class="private-list__item-block-inner address-section__item">{{region.name}}</span>
                {{/region}}
                <span class="private-list__item-block-inner address-section__item">
                    {{shownStreet}}
                </span>
                    <span class="private-list__item-block-inner address-section__item">
                        {{shownBuilding}}
                        {{#apartment}}кв. {{apartment}}{{/apartment}}
                    </span>
            </div>
        </li>
    {{/addresses}}
</ul>

{{#empty}}
    <div class="btn private-btn">
        <a class="private-btn__link" href="#">Добавить адрес</a>
    </div>
{{/empty}}