<ul class="private-list">
    {{#addresses}}
        <li class="private-list__item">
            <a class="js-user-address-delete private-list__item-del" href="{{deleteUrl}}" data-value="{{&dataValue}}"></a>
            <div class="private-list__item-block">
                {{#region}}
                    <span class="private-list__item-block-inner address-section__item">{{region.name}}</span>
                {{/region}}

                <span class="private-list__item-block-inner address-section__item">
                    {{street}}
                </span>

                <span class="private-list__item-block-inner address-section__item">
                    {{building}}{{#apartment}}{{#building}}, {{/building}}{{apartment}}{{/apartment}}
                </span>
            </div>
        </li>
    {{/addresses}}
</ul>

{{#empty}}
    <div class="btn private-btn">
        <a class="private-btn__link" href="#">Добавить адрес</a>
    </div>
{{/empty}}
