<form action="{{deleteUrl}}" method="post">
    <div>
        <span class="address-section__item">{{address.region.name}}</span>
        <span class="address-section__item">{{address.shownStreet}}</span>
        <span class="address-section__item">{{address.shownBuilding}}</span>
        <span class="address-section__item">{{#apartment}}кв. {{apartment}}{{/apartment}}</span>
    </div>

    <input type="hidden" name="addressId" value="{{address.id}}">

    <button type="submit" class="address-section__item-del">Удалить</button>
</form>
