/* ==========================================================================
   Каталог -> листинг товаров .catalogList 
   ========================================================================== */

.catalogList {
	font-size: 0;
    margin-top: 20px;

	&.productSet {
		margin-top: 25px;
	}

	&_item {
		position: relative;
		z-index: 10;

		display: inline-block;

		width: 199px;
		height: 370px;
		margin: 0 0 50px;
		padding: 0 20px 1px;

		vertical-align: top;

		border-right: 1px solid #e1e1e1;

		&:nth-child(4n),
		&:last-child {
			border-right: none;
		}

		&:hover {
			text-decoration: none;
		}

		&:after {
			position: absolute;
			bottom: -25px;
			left: 0;

			width: 101%;
			height: 1px;

			content: "";

			background: #E1E1E1;
		}

		.sticker {
			position: absolute;
			z-index: 1;
			top: 0;

			&.right {
				right: 10px;
			}

			&.left {
				left: 10px;
			}
		}
		.availability{
			font-size: 12px;
			color: #807f7f;
			margin: 5px 0 5px;
			text-align: center;

			&--instock{
				background-color: #f7f7f7;
			}
			&--selfdeliv{
				background-color: rgba(128,195,22,0.2);
			}
			&--on-display{
				background-color: rgba(128,195,22,0.2);
			}
			&--top{
				display: none;
				font-size: 10px;
				margin: 0 0 5px;
			}
            &--nobg{
              background: transparent;
            }
		}
		.bottom-info{
			text-align: center;
		}
	}//_item
    &_lk{
        display: block;
    }
    .list-img_lk{
        width: 100%;
    }
	.name {
		display: inline-block;
    	overflow: hidden;

		height: 110px;
		margin: 0 0 5px;

		vertical-align: top;

		font-size: 16px;
	}

	.rating{
        margin-bottom: 0px;
    }

	.price {
		margin: 5px 0 10px;

		&_old {
			.inline-block();
    		margin-right: 15px;

			color: #6b6b6b;
			font-size: 18px;
            .line-through{
                text-decoration: line-through;
            }
		}

		&_now {
			.inline-block();
			font-size: 22px;
			font-weight: bold;

			&-sale {
				color: #e62b34;
			}
		}
	}

	.img {
		margin: 0 0 15px;
		height: 200px;

		.flexbox();
		.align-items();
		.justify-content(center);

		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
}
// новые листинги
.catalogList {

  &_item {
    height: 395px;
  }

  .name {
      height: 45px;
  }

  .buyButtonWrapper {
      text-align: center;
  }

  .btnBuy {
      background: @typ-orange;
      border-bottom: 2px solid @typ-orange-shadow;
      color: #fff;

      display: none;
      width: auto;
      height: 32px;
      line-height: 30px;
      text-align: center;
      width: 100px;

      .rounded(3px);
      .box-sizing();
      font-size: 14px;
      &:hover{
        color: #fff;
      }
      &.seeProductBtn {
        .inCart(#8a8a8a);
      }
  }

  .btn-container{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .price {

    text-align: center;

    &_old {
      color: #8a8a8a;
      font-size: 18px;
    }

    &_now {
      font-size: 18px;
      font-weight: normal;

      &-sale {
        color: #000;
      }
    }
  }

  .btn {
    &--slot {
      &-lst {
        display: none;
      }
    }
  }

}

.buyBtnListing {
  .btnBuy {
    display: inline-block;

    &-incart {
      .inCart();
    }
  }

  .btn {
    &--slot {
      &-lst {
        .inline-block();
      }
    }
  }

}

.catalogList {
  .catalogListItemWrapper {
    display: none;
  }

  .mediumScreenItemDescription {
    display: block;
  }
}

