<div class="content shops">
    <section class="index">
       <div class="points-top">
        <div class="points-filter">
            <ul class="points-filter__lst">
                <li class="points-filter__i"><img src="css/modules/shops/img/logo1.png"><i class="closer"></i></li>
                <li class="points-filter__i selected"><img src="css/modules/shops/img/logo2.png"><i class="closer"></i></li>
                <li class="points-filter__i"><img src="css/modules/shops/img/logo3.png"><i class="closer"></i></li>
                <li class="points-filter__i"><img src="css/modules/shops/img/logo4.png"><i class="closer"></i></li>
                <li class="points-filter__i"><img src="css/modules/shops/img/logo5.png"><i class="closer"></i></li>
            </ul>
        </div>

        <div class="points-search">
                <form class="points-search__form js-search-points-form">
                    <button class="points-search__btn" type="submit">Найти</button>
                    <div class=points-search__inn><input class="points-search__input js-search-points-input"></div>
                </form>
        </div>
       </div>

        <div id="map" style="width: 600px; height: 400px"></div>

        <div class="points__container js-list-block" style="display:none;">
            <ul class="points__list">
                <li class="points__i">
                    <div class="shop-snippet clearfix">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/pickpoint.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Пункт выдачи Pickpoint</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-address">Россия, Воронеж г, Средне-Московская ул., д. 32 Б <br>10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00</div>
                        </div>

                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/pickpoint.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Enter.ru</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                                <div class="shop-snippet-metro">
                                    <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                                    <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                                </div>


                            <div class="shop-snippet-address">Орджоникидзе 11/10</div>
                        </div>


                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet clearfix">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/pickpoint.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Пункт выдачи Pickpoint</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-address">Россия, Воронеж г, Средне-Московская ул., д. 32 Б <br>10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00</div>
                        </div>

                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/enter.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Enter.ru</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-metro">
                                <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                                <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                            </div>


                            <div class="shop-snippet-address">Орджоникидзе 11/10</div>
                        </div>


                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/enter.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Enter.ru</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-metro">
                                <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                                <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                            </div>


                            <div class="shop-snippet-address">Орджоникидзе 11/10</div>
                        </div>


                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/enter.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Enter.ru</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-metro">
                                <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                                <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                            </div>


                            <div class="shop-snippet-address">Орджоникидзе 11/10</div>
                        </div>


                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/enter.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Enter.ru</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-metro">
                                <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                                <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                            </div>


                            <div class="shop-snippet-address">Орджоникидзе 11/10</div>
                        </div>


                    </div>
                </li>
                <li class="points__i">
                    <div class="shop-snippet">
                        <div class="shop-snippet-name table_cell">
                            <img src="/img/points/logos/100x100/enter.png" alt="" class="shop-snippet-name__img">
                            <span class="shop-snippet-name__text">Enter.ru</span>
                        </div>

                        <div class="shop-snippet-info table_cell">

                            <div class="shop-snippet-metro">
                                <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                                <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                            </div>


                            <div class="shop-snippet-address">Орджоникидзе 11/10</div>
                        </div>


                    </div>
                </li>
            </ul>
        </div>
        <div class="map-container js-map-block"></div>
    </section>
</div>