<div class="content shops">
    <section class="map">
        <div class="map-container" style="background: green"></div>
        <div class="one-point">
            <div class="one-point__photoslider">
                <ul class="photos">
                    <li class=""photos__i><img src="/css/modules/shops/img/slide1.png"></li>
                   <!-- <li class=""photos__i><img src="/css/modules/shops/img/slide2.png"></li>
                    <li class=""photos__i><img src="/css/modules/shops/img/slide2.png"></li>
                    <li class=""photos__i><img src="/css/modules/shops/img/slide2.png"></li>-->
                </ul>
            </div>
            <div class="one-point__info">
                <div class="shop-snippet">
                    <div class="shop-snippet-name">
                        <img src="/img/points/logos/100x100/pickpoint.png" alt="" class="shop-snippet-name__img">
                        <span class="shop-snippet-name__text">Enter.ru</span>
                    </div>

                    <div class="shop-snippet-info">

                        <div class="shop-snippet-metro">
                            <span class="shop-snippet-metro__bullet" style="background: orange;"></span>
                            <span class="shop-snippet-metro__text">Метро Ленинский  проспект</span>
                        </div>


                        <div class="shop-snippet-address">Орджоникидзе 11/10<br> Работаем с 10.00 до 20.00<br>
                            Телефон: 8 (800) 700-00-09</div>
                    </div>


                </div>
            </div>
            <div class="one-point__text">
                <p>Этот магазин Enter ближе всех расположился к офису компании, ко всем тем, кто день и ночь трудится, чтобы дарить вам время для настоящего. Магазин находится на первом этаже бизнес-центра компании Enter по ул. Орджоникидзе. Здесь можно при помощи электронного терминала или бумажного каталога выбрать любой товар из десятков тысяч позиций или купить что-нибудь прямо с витрины. Товары для дома, для детей и для спорта, электроника, бытовая техника, ювелирные украшения, часы, мебель, инструменты - уйти без покупки просто невозможно! Если товар будет на складе, вы сможете тут же забрать его, в остальных же случаях мы предложим вам оформить доставку - и привезем товар в указанное вами время в удобное место! Также в магазине вы можете забрать заказы, оформленный через интернет-сайт, мобильные приложения или круглосуточный Контакт-cENTER.</p>
                <h2>Как добраться</h2>
                <p>Этот магазин Enter ближе всех расположился к офису компании, ко всем тем, кто день и ночь трудится, чтобы дарить вам время для настоящего. Магазин находится на первом этаже бизнес-центра компании Enter по ул. Орджоникидзе. Здесь можно при помощи электронного терминала или бумажного каталога выбрать любой товар из десятков тысяч позиций или купить что-нибудь прямо с витрины. Товары для дома, для детей и для спорта, электроника, бытовая техника, ювелирные украшения, часы, мебель, инструменты - уйти без покупки просто невозможно! Если товар будет на складе, вы сможете тут же забрать его, в остальных же случаях мы предложим вам оформить доставку - и привезем товар в указанное вами время в удобное место! Также в магазине вы можете забрать заказы, оформленный через интернет-сайт, мобильные приложения или круглосуточный Контакт-cENTER.</p>
                <h3>Проезд общественным транспортом</h3>
                <p>Этот магазин Enter ближе всех расположился к офису компании, ко всем тем, кто день и ночь трудится, чтобы дарить вам время для настоящего. Магазин находится на первом этаже бизнес-центра компании Enter по ул. Орджоникидзе. Здесь можно при помощи электронного терминала или бумажного каталога выбрать любой товар из десятков тысяч позиций или купить что-нибудь прямо с витрины. Товары для дома, для детей и для спорта, электроника, бытовая техника, ювелирные украшения, часы, мебель, инструменты - уйти без покупки просто невозможно! Если товар будет на складе, вы сможете тут же забрать его, в остальных же случаях мы предложим вам оформить доставку - и привезем товар в указанное вами время в удобное место! Также в магазине вы можете забрать заказы, оформленный через интернет-сайт, мобильные приложения или круглосуточный Контакт-cENTER.</p>
            </div>

        </div>
    </section>
</div>