<div class="content js-content">
    <div class="contentBox960 js-content-hidden">

        <div class="grids">
            <div class="grids__row">
                <div class="grids__cell grids__cell_fix">
                    <div class="grids__cell-inner ">
                        <img class="grids__bg" src="/img/test.png" alt="#">
                        <h3 class="grids__title">
                            Black&White
                        </h3>
                    </div>
                </div>
                <div class="grids__cell grids__cell_fix">
                    <div class="grids__cell-inner">
                        <img class="grids__bg" src="/img/test.png" alt="#">
                        <h3 class="grids__title">
                            Black&White
                        </h3>
                    </div>
                </div>
            </div>

            <div class="grids__row">
                <div class="grids__cell grids__cell_fix">
                    <div class="grids__cell-inner ">
                        <img class="grids__bg" src="/img/test.png" alt="#">
                        <h3 class="grids__title">
                            Black&White
                        </h3>
                    </div>
                </div>
                <div class="grids__cell grids__cell_fix">
                    <div class="grids__cell-inner">
                        <img class="grids__bg" src="/img/test.png" alt="#">
                        <h3 class="grids__title">
                            Black&White
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


