<div class="content js-content">
    <div class="contentBox960 js-content-hidden">
    {{#productBlock}}
        <div class="grids grids__gray">
        {{#productsGroupedByRow}}
            <div class="grids__row">
                {{#products}}
                <div class="grids__cell grids__cell_fix">
                    <a href="#">
                        <div class="grids__cell-inner ">
                            <img class="grids__bg" src="{{image}}" alt="{{name}}">
                            <h3 class="grids__title">{{name}}</h3>
                        </div>
                    </a>
                </div>
                {{/products}}
            </div>
        {{/productsGroupedByRow}}
        </div>
    {{/productBlock}}
    </div>
</div>


