<!-- листинг товаров  -->
<div class="js-productList-container catalogList {{#isProductSet}}productSet{{/isProductSet}}" data-url="{{url}}" data-value="{{&dataValue}}" data-reset="{{&dataReset}}">
    {{#products}}
        {{!>partial/product-card/default}}
        {{>partial/product-card/product_with_buy_button}}
    {{/products}}
</div>

{{^products}}
    {{>partial/product-list/noProducts}}
{{/products}}

<!--/ листинг товаров  -->

{{#moreLink}}
    {{>partial/product-list/moreLink}}
{{/moreLink}}