<!-- листинг товаров  -->
<div class=" catalogList ">
   <div class="catalogList__row js-productList-container {{#isProductSet}}productSet{{/isProductSet}} {{#buyBtnListing}}buyBtnListing{{/buyBtnListing}}" data-url="{{url}}" data-value="{{&dataValue}}" data-reset="{{&dataReset}}">
        {{#products}}
            {{>partial/product-card/default}}
        {{/products}}
   </div>
</div>

{{^products}}
    {{>partial/product-list/noProducts}}
{{/products}}

<!--/ листинг товаров  -->

{{#moreLink}}
    {{>partial/product-list/moreLink}}
{{/moreLink}}