<!-- листинг товаров  -->
<div class="js-productList-container catalogList {{#isProductSet}}productSet{{/isProductSet}}" data-url="{{url}}" data-value="{{&dataValue}}" data-reset="{{&dataReset}}">
    {{#buyBtnListing}}
        {{#products}}
            {{>partial/product-card/product_with_buy_button}}
        {{/products}}
    {{/buyBtnListing}}

    {{^buyBtnListing}}
        {{#products}}
            {{>partial/product-card/default}}
        {{/products}}
    {{/buyBtnListing}}
</div>

{{^products}}
    {{>partial/product-list/noProducts}}
{{/products}}

<!--/ листинг товаров  -->

{{#moreLink}}
    {{>partial/product-list/moreLink}}
{{/moreLink}}