<a href="#" class="js-ga-click js-widget {{widgetId}} js-productList-more catalogMore btnStyleGrey" data-template-selector="#tpl-productList-moreLink" data-filter-selector="" data-container-selector=".js-productList-container" data-ga-click="{{&dataGa}}">{{name}}</a>
