<div class="noProducts js-noProducts" data-template-selector="#tpl-productList-noProducts">
    Нет товаров с такими параметрами<br />
    <a href="#" class="jsSelectCity">Смотреть в другом регионе</a>
</div>
