@media only screen and (max-width: 550px) {

	.orderAuth {
	    float: none;
	    width: 100%;
	}

	.orderU {

		&_flds {
		    display: block;
		    float: none;
		}

		&_tx {
		    display: block;
		    width: 100%;
		}

		&_hint {
		    text-align: right;
		}
	}

	.bonusCnt {

		&_it {

			&_fld {
				float: none;
				margin: 0 0 5px;
			}

			&_img {
				float: none;
			}
		}
	}

	.mdb {
		display: block;
	}
}

@media screen and (max-width: 480px) {
    .checkout-control-group__hint {
        text-align: right;
    }
}
@media screen and (max-width: 639px){
    .address-pick-snippet {
        
    }
}
@media screen and (min-width: 640px) {
    .checkout-control__container {
        margin-right: 230px;
    }
    .order-authorize {
        &__container {
            float: right;

            width: 220px;
            margin-right: 0;
            margin-left: 10px;
        }
    }
    .return-to-main-link__wrap{
        margin-top: 50px;
    }
    .online-pay-popup{
        width: 388px;
    }
    .checkout-done .checkout__tl{
        width: auto;
    }
    .search{
        &__section{
                .btn{
                    margin-left: 9%;
                }
        }
    }
    .shop-snippet-name__text{
    	width: 80px;
    }
}