<ul class="navList">
    {{#elements}}
        <li class="navList_item">
            <span class="navList_text"{{^hasChildren}} data-url="{{url}}"{{/hasChildren}}>
                <span class="navListIco"{{#style}} style="{{style}}"{{/style}}>
                    {{char}}
                    {{^char}}
                        {{#image}}<img src="{{image}}" />{{/image}}
                    {{/char}}
                </span>
                <span class="navListName">{{&name}}</span>
            </span>

            {{>partial/main-menu/level-2}}
        </li>
    {{/elements}}
</ul>
