<div class="js-slotButton-popup popupBox popupBox-bid">
    <div class="popupBox_close js-slotButton-popup-close" style="display: block;"></div>

    <div class="popupBox_inn">
        <form class="form-control js-user-form" action="/order/slot/create" method="post">
            <input type="hidden" name="productId" value="{{productId}}" />
            <input type="hidden" name="sender" value="{{sender}}" />

            <div class="popupBox_title">Отправить заявку</div>

            <ul class="lst-tree">
                <li class="lst-tree__i lst-tree__i--tl">Закажите обратный звонок и уточните:</li>
                <li class="lst-tree__i"><i style="background-color: #c1d837" class="lst-tree__bul"></i> комплектность мебели и техники;</li>
                <li class="lst-tree__i"><i style="background-color: #c1d837" class="lst-tree__bul"></i> условия доставки, сборки и оплаты.</li>
            </ul>

            <div class="popupBox-bid__err js-slotButton-popup-errors" style="display: none;"></div>

            <div class="common-control">
                <div class="common-control-group js-slotButton-popup-element">
                    <input class="common-control-input js-slotButton-popup-phone" type="tel" name="phone" value="{{userPhone}}" placeholder="+7 (___) ___-__-__" data-mask="+7 (xxx) xxx-xx-xx" data-field="phone" />
                    <label class="common-control-label">Телефон</label>
                </div>
                <span class="js-slotButton-popup-element-error err-elem" style="display: none">Неверный формат телефона</span>
            </div>

            <div class="common-control">
                <div class="common-control-group js-slotButton-popup-element">
                    <input class="common-control-input js-slotButton-popup-email" type="text" name="email" value="{{userEmail}}" placeholder="mail@domain.com" />
                    <label class="common-control-label">E-mail</label>
                </div>
                <span class="js-slotButton-popup-element-error err-elem" style="display: none">Неверный формат email</span>
            </div>

            <div class="common-control">
                <div class="common-control-group">
                    <label class="common-control-label">Имя</label>
                    <input class="common-control-input js-slotButton-popup-name" type="text" name="name" value="{{userName}}" />
                </div>
            </div>

            <div class="popupBox-bid__check js-slotButton-popup-element noselect"><input type="checkbox" class="custom-input custom-input--check js-slotButton-popup-confirm" name="confirm" id="confirm" value="1" /> <label class="custom-label" for="confirm">Я ознакомлен и&nbsp;согласен с&nbsp;информацией {{#partnerOfferUrl}}<a class="underline" href="{{partnerOfferUrl}}" target="_blank">{{/partnerOfferUrl}}о&nbsp;продавце и его офертой{{#partnerOfferUrl}}</a>{{/partnerOfferUrl}}</label></div>
            <div class="popupBox-bid__vendor">Продавец-партнёр: {{partnerName}}</div>

            <div class="popupBox-bid__footnote">
                <button type="submit" class="js-slotButton-popup-submitButton btn btn--big btn--slot noselect">Отправить заявку</button>
            </div>

            {{#full}}
                <div class="popupBox-bid__footnote">
                    <a href="{{productUrl}}" class="lnk--goto-card underline">Перейти в карточку товара</a>
                </div>
            {{/full}}
        </form>
    </div>
</div>