@media only screen and (max-width: 560px) {
    .orderHd {
        font-size: 14px;

        width: 100%;
        &_lg {
            width: 50px;
            margin: 10px 0 0 0;
        }
        &_stps {
            font-size: 14px;
            &_i {
                margin-right: 20px;
                &:after {
                    right: -15px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .orderInf {
        &_l {
            float: none;

            margin-bottom: 10px;
        }
        &_r {
            float: none;
        }
    }
}

@media only screen and (max-width: 390px) {
    .orderHd {
        .block {
            display: block;
        }
    }
}
