/*---------Оформление заказа 3.0 ----------*/

/* 
    orderCol
        orderCol_cnt
        orderCol_t
        orderCol_lk
        orderCol_img
        orderCol_n
        orderCol_data		-summ | -count | -sale | -del
*/

.orderCol {

	&_cnt {
		padding: 5px 0;
		border-bottom: 1px solid @typLightGray;

		&:last-child {
			border-bottom: none;
		}

		&:first-child {
			padding-top: 0;
		}
	}

	&_scrll {
		max-height: 260px;
		overflow: auto;
	}

	&_b {
		padding: 10px 10px;

		border-bottom: 1px solid @typGray;
		background: @lightGrey6;

		&-wht {
			background: @white;
		}

		&-t {
			line-height: 1;
			padding: 3px 10px 4px;
			font-weight: bold;
		}

		&-np {
			padding: 0;
		}

		&-confrm {
		
			.orderCol_mode,
			.orderCol_mode_i-act {
				background: @lightGrey6;
			}

			.orderCol_mode_i-act {
				background: @white;
				border-bottom: 1px solid @white;
			}

			.orderCol_inn {
				background: @white;
			}
		}
	}

	&_lk {
		width: 70px;
	}

	&_img {
		display: block;

		width: 70px;
	}

	&_n {
		vertical-align: top;
		line-height: 1.2;
		display: block;

		font-size: 14px;
	}

	&_data {
		.inline-block();

		margin-top: 10px;

		color: @darkGrey4;

		font-size: 16px;

		&-summ {

		}

		&-count {
			float: right;
		}

		&-sale {
			color: @firmRed;
		}

		&-del {
			color: @black;
			border-bottom: 1px dotted;
            cursor: pointer;

			font-size: 14px;
		}

		&-price {
			float: right;
			color: @black;
			padding-left: 60px;
		}
	}

	&_code {

		&_t {
			margin: 0 0 8px;
		}

		&_it {
    		width: 160px;
    		margin: 0;
    		.inline-block();		
    	}

		&_pinlbl {
			.inline-block();
			margin: 0 15px 0 25px;
		}

		&_pin {
			width: 60px;
			margin: 0;
			.inline-block();
		}

		&_btn {
			width: 160px;
			float: right;
		}
	}

	&_sale {
		font-size: 14px;

		&_t {
			border-bottom: 1px dotted;
			cursor: pointer;
		}

		&_count {
			.inline-block();
			background: #878787;
			color: @white;
			padding: 0 5px;
			margin-left: 5px;
			.rounded(4px);
			cursor: pointer;
		}
	}

	.shopLst {
	    max-height: 200px;
	    overflow: auto;
	    position: relative;

	    &_i {
	    	border-bottom: 1px solid @lightGrey1;
    		border-top: medium none;

    		&:last-child {
    			border-bottom: none;
    		}
	    }

	    &_addrs {

	    	&_tm {
				display: table;
	    	}
	    }
	}
}