html{
    height:100%;
    width: 100%;
}
body.fixed{
    height:100%;
    width: 100%;
    max-height: 100vh;
    overflow:hidden;
}
// враппер для фикса бага хедера с position: fixed на iOS.
.block-fixer{
    height:100%;
    overflow:auto;
}