.content-single-order{
    .checkout {
        &__tl{
            text-align: center;
        }
    }
}
.single-order{
    max-width: 300px;
    width: 100%;
    .box-sizing(border-box);
    margin: 0 auto 20px;
    border: 1px solid #c7c7c7;
    padding: 15px;

    &__greet{
        font-size: 16px;
        margin-bottom: 10px;
    }
    &__how-to-find{
        cursor: pointer;
        font-size: 14px;
        margin: 10px 0 15px;
    }
    &__payment-info{
        font-size: 12px;
        color: #616161;
        margin: 15px 0 0;
    }
    &__payment{
        .btn--submit{
            .inline-block(middle);
        }
        .confirm-payment__types{
            margin-left: 50px;
        }
    }
}