<div class="content">
    <div class="contentBox960 logCnt">
        <div data-state="{{formState}}" class="js-authContainer authBox state_{{formState}}">
	        <div class="authWrap">
                {{>partial/message}}

                {{#authForm}}
				    <form method="post" action="{{url}}" class="authForm authForm_login js-authForm">
				    <fieldset class="authForm_fld authForm_fld-scrll">
				        <!-- секция входа -->
				        <div class="authForm_inn">
				            <div class="authForm_t legend">Вход в Enter</div>

				            <input type="text" placeholder="Email или телефон" value="{{username}}" name="username" class="authForm_it textfield{{#errors.username}} fieldError{{/errors.username}}">
                            {{#errors.username}}<span class="errorText">{{errors.username}}</span>{{/errors.username}}

				            <div class="authForm_hint">
				                <input type="password" placeholder="Пароль" value="" name="password" class="authForm_it textfield{{#errors.password}} fieldError{{/errors.password}}">
                                {{#errors.password}}<span class="errorText">{{errors.password}}</span>{{/errors.password}}

				                <span data-state="reset" class="authForm_hint_tx authForm_resetLink js-link">забыли?</span>
				            </div>

                            <input type="hidden" name="redirect_to" value="{{redirectUrl}}" />

				            <input type="submit" value="Войти" name="" class="authForm_is btnsubmit">

				            <div class="authForm_socn">
				                Войти через

				                <ul class="authForm_socn_lst">
				                    <li class="authForm_socn_i">
				                        <a href="{{facebookLoginUrl}}" class="authForm_socn_lk authForm_socn_lk-fb">Войти через FB</a>
				                    </li>

				                    <li class="authForm_socn_i">
				                        <a href="{{vkontakteLoginUrl}}" class="authForm_socn_lk authForm_socn_lk-vk">Войти через VK</a>
				                    </li>
				                </ul>
				            </div>
				        </div>
				        <!--/ секция входа -->
				    </fieldset>
				</form>
                {{/authForm}}

                {{#registerForm}}
				    <form method="post" action="{{url}}" class="authForm authForm_register js-registerForm">
				    <fieldset class="authForm_fld authForm_fld-scrll">
				        <!-- секция регистрации -->
				        <div class="authForm_inn">
				            <div class="authForm_t legend">Регистрация</div>

				            <!--<input type="hidden" name="register[global]" disabled="disabled">-->

				            <!-- показываем при удачной регистрации, authForm_regbox скрываем -->
				            <div class="js-message authForm_regcomplt"></div>
				            <!--/ показываем при удачной регистрации, authForm_regbox скрываем -->

				            <div class="authForm_regbox">
				                <label class="authForm_lbl">Как к вам обращаться?</label>

				                <input type="text" placeholder="Имя" value="{{name}}" name="name" class="authForm_it textfield{{#errors.name}} fieldError{{/errors.name}}">
                                {{#errors.name}}<span class="errorText">{{errors.name}}</span>{{/errors.name}}

				                <input type="text" placeholder="Email" value="{{email}}" name="email" class="authForm_it textfield{{#errors.email}} fieldError{{/errors.email}}">
                                {{#errors.email}}<span class="errorText">{{errors.email}}</span>{{/errors.email}}

				                <input type="text" placeholder="Телефон" value="{{phone}}" name="phone" class="js-phone-mask authForm_it textfield{{#errors.phone}} fieldError{{/errors.phone}}">
                                {{#errors.phone}}<span class="errorText">{{errors.phone}}</span>{{/errors.phone}}

				                <div class="authForm_sbscr">
				                    <input type="checkbox" checked="checked" id="subscribe" name="subscribe" class="custom-input custom-input--defcheck jsCustomRadio" disabled>
				                    <label for="subscribe" class="custom-label">Стать участником Enter Prize,<br> получить скидку 300 рублей </label>
				                </div>
                                <div class="oferta-agreement">
                                    <input type="checkbox" id="oferta" name="agreed" class="custom-input custom-input--defcheck jsCustomRadio{{#errors.agreed}} fieldError{{/errors.agreed}}">
                                    <label for="oferta" class="custom-label">Согласен <a href="/reklamnaya-akcia-enterprize" target="_blank">с условиями оферты</a> </label>
                                    {{#errors.agreed}}<span class="errorText">{{errors.agreed}}</span>{{/errors.agreed}}
                                </div>

                                <input type="hidden" name="redirect_to" value="{{redirectUrl}}" />

				                <input type="submit" value="Регистрация" name="" class="authForm_is btnsubmit">

				                <p class="authForm_accept">Нажимая кнопку «Регистрация», я подтверждаю<br> свое согласие с <a href="/terms" target="_blank">Условиями продажи...</a></p>

				                <div class="authForm_socn">
				                    Войти через

				                    <ul class="authForm_socn_lst">
				                        <li class="authForm_socn_i">
				                        	<a href="{{facebookLoginUrl}}" class="authForm_socn_lk authForm_socn_lk-fb">Войти через FB</a>
				                        </li>

				                        <li class="authForm_socn_i">
				                            <a href="{{vkontakteLoginUrl}}" class="authForm_socn_lk authForm_socn_lk-vk">Войти через VK</a>
				                        </li>
				                    </ul>
				                </div>
				            </div>
				        </div>
				        <!--/ секция регистрации -->
				    </fieldset>
				</form>
                {{/registerForm}}
			</div>

            {{#resetForm}}
			    <form method="post" action="{{url}}" class="authForm authForm_reset js-resetForm">
			    <!-- секция восстановления пароля -->
			    <fieldset class="authForm_fld">
			        <legend class="authForm_t legend">Восстановление пароля</legend>

			        <!-- показываем при удачном восстановлении пароля, authForm_regbox скрываем -->
			        <div class="js-message authForm_regcomplt"></div>
			        <!--/ показываем при удачном восстановлении пароля, authForm_regbox скрываем -->

			        <div class="authForm_regbox">
			            <input type="text" placeholder="Email или телефон" value="{{username}}" name="username" class="authForm_it textfield{{#errors.username}} fieldError{{/errors.username}}">
                        {{#errors.username}}<span class="errorText">{{errors.username}}</span>{{/errors.username}}

                        <input type="hidden" name="redirect_to" value="{{redirectUrl}}" />

			            <input type="submit" value="Отправить" name="" class="authForm_is btnsubmit">
			        </div>
			    </fieldset>
			    <!--/ секция восстановления пароля -->
			</form>
            {{/resetForm}}

	        <!-- показываем этот текст в окне входа на сайт -->
	        <div class="authAct">
	            <span data-state="register" class="borderBd authForm_registerLink js-link">Регистрация</span>
	            <span data-state="default" class="borderBd authForm_authLink js-link">Войти</span>
	        </div>

	        <!-- показываем этот текст в окне регистрации -->
	        <!-- div class="authAct"><span class="borderBd">Вход в Enter</span></div-->

	        <!-- показываем этот текст в окне восстановления пароля -->
	        <!-- <div class="authAct">Вспомнили? <span class="borderBd">Вход в Enter</span></div> -->
    	</div>
    </div>
</div>