<div class="content">
    <div class="contentBox960 logCnt">
        <div data-state="default" class="authBox state_default">
	        <div class="authWrap">
				<form method="post" action="" data-state="default" class="authForm authForm_login js-authForm">
				    <fieldset class="authForm_fld authForm_fld-scrll">
				        <!-- секция входа -->
				        <div class="authForm_inn">
				            <div class="authForm_t legend">Вход в Enter</div>

				            <input type="text" placeholder="Email или телефон" value="" name="" class="authForm_it textfield">

				            <div class="authForm_hint">
				                <input type="password" placeholder="Пароль" value="" name="" class="authForm_it textfield">

				                <span class="authForm_hint_tx authForm_resetLink js-link">забыли?</span>
				            </div>

				            <input type="submit" value="Войти" name="" class="authForm_is btnsubmit">

				            <div class="authForm_socn">
				                Войти через

				                <ul class="authForm_socn_lst">
				                    <li class="authForm_socn_i">
				                        <a href="/login-facebook" class="authForm_socn_lk authForm_socn_lk-fb">Войти через FB</a>
				                    </li>
				                    
				                    <li class="authForm_socn_i">
				                        <a href="/login-vkontakte" class="authForm_socn_lk authForm_socn_lk-vk">Войти через VK</a>
				                    </li>
				                </ul>
				            </div>
				        </div>
				        <!--/ секция входа -->
				    </fieldset>
				</form>     

				<form method="post" action="" class="authForm authForm_register js-registerForm">
				    <fieldset class="authForm_fld authForm_fld-scrll">
				        <!-- секция регистрации -->
				        <div class="authForm_inn">
				            <div class="authForm_t legend">Регистрация</div>

				            <!--<input type="hidden" name="register[global]" disabled="disabled">-->

				            <!-- показываем при удачной регистрации, authForm_regbox скрываем -->
				            <div class="js-message authForm_regcomplt"></div>
				            <!--/ показываем при удачной регистрации, authForm_regbox скрываем -->

				            <div class="authForm_regbox">
				                <label class="authForm_lbl">Как к вам обращаться?</label>

				                <input type="text" placeholder="Имя" value="" name="register[first_name]" class="authForm_it textfield">

				                <input type="text" placeholder="Email" value="" name="register[email]" class="authForm_it textfield">

				                <input type="text" placeholder="Телефон" value="" name="register[phone]" class="authForm_it textfield">

				                <div class="authForm_sbscr">
				                    <input type="checkbox" checked="checked" id="subscribe" name="subscribe" class="customInput customInput-defcheck jsCustomRadio">
				                    <label for="subscribe" class="customLabel">Подписаться на рассылку,<br> получить скидку 300 рублей </label>
				                </div>

				                <input type="submit" value="Регистрация" name="" class="authForm_is btnsubmit">

				                <p class="authForm_accept">Нажимая кнопку «Регистрация», я подтверждаю<br> свое согласие с <a href="/terms">Условиями продажи...</a></p>

				                <div class="authForm_socn">
				                    Войти через

				                    <ul class="authForm_socn_lst">
				                        <li class="authForm_socn_i">
				                        	<a href="/login-facebook" class="authForm_socn_lk authForm_socn_lk-fb">Войти через FB</a>
				                        </li>
				                        
				                        <li class="authForm_socn_i">
				                            <a href="/login-vkontakte" class="authForm_socn_lk authForm_socn_lk-vk">Войти через VK</a>
				                        </li>
				                    </ul>
				                </div>
				            </div>
				        </div>
				        <!--/ секция регистрации -->
				    </fieldset>
				</form>        
			</div>
        
			<form method="post" action="" class="authForm authForm_reset js-resetForm">
			    <!-- секция восстановления пароля -->
			    <fieldset class="authForm_fld">
			        <legend class="authForm_t legend">Восстановление пароля</legend>

			        <!-- показываем при удачном восстановлении пароля, authForm_regbox скрываем -->
			        <div class="js-message authForm_regcomplt"></div>
			        <!--/ показываем при удачном восстановлении пароля, authForm_regbox скрываем -->

			        <div class="authForm_regbox">
			            <input type="text" placeholder="Email или телефон" value="" name="forgot[login]" class="authForm_it textfield">

			            <input type="submit" value="Отправить" name="" class="authForm_is btnsubmit">
			        </div>
			    </fieldset>
			    <!--/ секция восстановления пароля -->
			</form>

	        <!-- показываем этот текст в окне входа на сайт -->
	        <div class="authAct">
	            <span data-value="{&quot;target&quot;:&quot;#auth-block&quot;,&quot;state&quot;:&quot;register&quot;}" class="borderBd authForm_registerLink js-link">Регистрация</span>
	            <span data-value="{&quot;target&quot;:&quot;#auth-block&quot;,&quot;state&quot;:&quot;default&quot;}" class="borderBd authForm_authLink js-link">Войти</span>
	        </div>

	        <!-- показываем этот текст в окне регистрации -->
	        <!-- div class="authAct"><span class="borderBd">Вход в Enter</span></div-->

	        <!-- показываем этот текст в окне восстановления пароля -->
	        <!-- <div class="authAct">Вспомнили? <span class="borderBd">Вход в Enter</span></div> -->
    	</div>
    </div>
</div>