<div class="content content--root">
	<div class="pageTitle">{{title}}</div>

    {{#categoryBlock}}
        <div class="rootCategories">
            <div class="rootCategories__row">
                {{#categories}}
                    <div class="rootCategories__item">
                        <a href="{{url}}" class="rootCategories__link">
                            <span class="rootCategories__img-block"><img src="{{image}}" alt="{{name}}" class="img"></span>
                            <span class="rootCategories__name">{{name}}</span>
                        </a>
                    </div>
                {{/categories}}
            </div>
        </div>
    {{/categoryBlock}}
</div>