<div class="address-pick-snippet">
    <div id="order-{{order.id}}-address-map-container" data-map-option="{{&mapDataValue}}" class="order-popup-map"></div>

    <div class="address-pick-snippet__form">
        <form class="js-smartAddress-form" action="{{url}}" method="post" data-map-container-selector="#order-{{order.id}}-address-map-container" data-kladr-id-selector="#order-delivery-address-kladrId" novalidate>
            <div class="form-control__container">
                <div class="common-control">
                    <div class="common-control-group required">
                        <label class="common-control-label" for="order-delivery-address-street">Улица</label>
                        <input class="common-control-input js-smartAddress-input js-validator-form-field" id="order-delivery-address-street" type="text" name="{{fields.street.name}}" autocomplete="off" data-kladr-type="street" data-required-message="Укажите улицу" required />
                        <input type="hidden" name="{{fields.streetType.name}}" data-field="streetType" />
                    </div>
                    <span class="common-control-hint">&nbsp;</span>
                </div>
                <div class="common-control half-wide">
                    <div class="common-control-group required">
                        <label class="common-control-label" for="id-userForm-phone">Дом</label>
                        <input class="common-control-input js-smartAddress-input js-validator-form-field" id="order-delivery-address-building" type="text" name="{{fields.building.name}}" autocomplete="off" data-kladr-type="building" data-required-message="Укажите дом" required />
                    </div>
                    <span class="common-control-hint">&nbsp;</span>
                </div>
                <div class="common-control half-wide">
                    <div class="common-control-group">
                        <label class="common-control-label" for="order-delivery-address-apartment">Квартира</label>
                        <input class="common-control-input js-smartAddress-input" id="order-delivery-address-apartment" type="text" name="{{fields.apartment.name}}" />
                    </div>
                    <span class="common-control-hint">&nbsp;</span>
                </div>

                <input id="order-delivery-address-kladrId" type="hidden" name="{{fields.kladrId.name}}">

                <div class="btn-container">
                    <button class="btn btn--submit btn--orange btn--medium" type="submit">Готово</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--
<ul class="checkout-checkbox-lst">
    <li class="checkout-checkbox-lst__i">
        <input type="radio" id="adr1" name="paynow" class="custom-input custom-input--defradio" checked>

        <label class="custom-label" for="adr1">
            <span class="custom-label_tx">ул. Линии Октябрьской Железной Дороги, 12/1, 23</span>
        </label>
    </li>

    <li class="checkout-checkbox-lst__i">
        <input type="radio" id="adr2" name="adrnow" class="custom-input custom-input--defradio">

        <label class="custom-label" for="adr2">
            <span class="custom-label_tx">ул. Орджоникидзе, 10</span>
        </label>
    </li>

    <li class="checkout-checkbox-lst__i">
        <input type="radio" id="adr3" name="adrnow" class="custom-input custom-input--defradio">

        <label class="custom-label" for="adr3">
            <span class="custom-label_tx">Улицв Умывальников Начальника</span>
        </label>
    </li>
    <li class="checkout-checkbox-lst__i">
        <input type="radio" id="adr3" name="adrnow" class="custom-input custom-input--defradio">

        <label class="custom-label" for="adr3">
            <span class="custom-label_tx"><span class="custom-label_tx--gray">Другой адрес</span></span>
        </label>
    </li>
    <li class="checkout-checkbox-lst__i">
        <input type="radio" id="adr4" name="adrnow" class="custom-input custom-input--defradio">

        <label class="custom-label" for="adr4">
            <span class="custom-label_tx"><span class="custom-label_tx--gray">Изменить адрес</span>
                Улица Мочалок Командира</span>
        </label>
    </li>
</ul>
<div class="btn-container"><a href="" class="btn btn--orange btn--pay">Выбрать</a></div>
-->