{{>page/order/header}}

<div class="content">
    <div class="contentBox640 id-order-form-container">
        {{>page/order/delivery/form}}
    </div>
</div>

{{>page/order/delivery/address-popup}}

<div id="yandexMap-container" style="display: none">
    <div id="yandexMap" style="width: 640px; height: 480px"></div>
</div>

<div class="js-modal-parent">
<div class="order-popup modal js-modal-open">
    <div class="modal-head order-popup__head">
        <span class="popup-close js-modal-close">Отмена</span>
        <div class="modal-title">{{title}}</div>
    </div>

    <div class="js-modal-content" style="height: 100%;"></div>
</div>
</div>