{{>page/order/header}}

<div class="content">
    <div class="contentBox640 id-order-form-container">
        {{>page/order/delivery/form}}
    </div>
</div>

{{#orders}}
    {{#delivery.isSelf}}
        <div class="id-order-{{id}}-map" data-value="{{&pointDataValue}}"></div>
    {{/delivery.isSelf}}
{{/orders}}

{{>page/order/delivery/address-popup}}