<div class="js-order-content">
    <div class="content id-order-form-container">
        {{>page/order/delivery/form}}
    </div>
</div>

<div id="yandexMap-container" style="display: none">
    <div id="pointYandexMap" style="width: 640px; height: 480px"></div>
    <div id="addressYandexMap" style="width: 100%; height: 100%;"></div>
</div>