{{! ввести код скидки или сертефиката }}
<div class="order-popup order-popup--gray modal js-modal" style="display: none;">
    <div class="modal-head order-popup__head">
        <span class="popup-close js-modal-close">Отмена</span>
        <div class="modal-title">Добавить скидку</div>
    </div>
    <div class="js-modal-content">
        <div class="checkout-order__box">
            <div class="checkout-sale-code">
                <div class="checkout-sale-code__title">Код скидки или подарочный сертификат</div>

                <div class="checkout-sale-code__fields">
                    <input type="text" class="checkout-sale-code__it textfield">

                    <div class="checkout-sale-code-pin">
                        <label class="checkout-sale-code-pin__label">PIN-код</label>
                        <input type="text" class="checkout-sale-code__it checkout-sale-code__it--pin textfield">
                    </div>
                </div>

                <button class="checkout-sale-code__button btn-type btn-type--default js-order-btn" data-btn="selected-sale">Применить</button>
            </div>
        </div>
        <div class="sale-select">
            <div class="sale-select__tl">Ваши фишки EnterPrize</div>
            <div class="sale-select__list">
                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
                    <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

                    <span class="sale-select__right">- 2% на категорию Электроника</span>
                </a>

                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
                    <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

                    <span class="sale-select__right">- 2% на категорию Электроника</span>
                </a>
                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
                    <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

                    <span class="sale-select__right">- 2% на категорию Электроника</span>
                </a>
                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
                    <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

                    <span class="sale-select__right">- 2% на категорию Электроника</span>
                </a>
                <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
                    <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

                    <span class="sale-select__right">- 2% на категорию Электроника</span>
                </a>
            </div>
        </div>
    </div>
</div>
