{{! примененные скидки }}
{{#discounts}}
    <div class="checkout-order-items table">
        <div class="checkout-order-items__left table_cell">
            <img alt="" src="/css/modules/order/img/sertificate.png">
        </div>

        <div class="checkout-order-items__right table_cell">
            <div class="checkout-order-items__name">
                {{name}}
            </div>

            <div class="checkout-order-items__data">&nbsp;</div>
            <div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
            <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">-{{discount.value}}{{#discount.isCurrency}} <span class="rubl">p</span>{{/discount.isCurrency}}{{^discount.isCurrency}}%{{/discount.isCurrency}}</div>
        </div>
    </div>
{{/discounts}}

<!--
<div class="checkout-order-items table">
    <div class="checkout-order-items__left table_cell">
        <img alt="" src="/css/modules/order/img/fishka_act.png">
    </div>

    <div class="checkout-order-items__right table_cell">
        <div class="checkout-order-items__name">
            - 2% на категорию Электроника<br>
            Минимальная сумма заказа 6999 руб
        </div>

        <div class="checkout-order-items__data">&nbsp;</div>
        <div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
        <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">-680 <span class="rubl">p</span></div>
    </div>
</div>
<div class="checkout-order-items table">
    <div class="checkout-order-items__left table_cell">
        <img alt="" src="/css/modules/order/img/sertificate.png">
    </div>

    <div class="checkout-order-items__right table_cell">
        <div class="checkout-order-items__name">
            Подарочный сертификат<br>
            5000 руб
        </div>

        <div class="checkout-order-items__data">&nbsp;</div>
        <div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
        <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">-5 000 <span class="rubl">p</span></div>
    </div>
</div>
-->
{{! END примененные скидки }}
