{{! ввести код скидки или сертефиката }}
<div class="checkout-order__box checkout-order__box--light js-order-box" data-box="data-select-sale">
    <div class="checkout-sale-code">
        <div class="checkout-sale-code__title">Код скидки или подарочный сертификат</div>

        <div class="checkout-sale-code__fields">
            <input type="text" class="checkout-sale-code__it textfield">

            <div class="checkout-sale-code-pin">
                <label class="checkout-sale-code-pin__label">PIN-код</label>
                <input type="text" class="checkout-sale-code__it checkout-sale-code__it--pin textfield">
            </div>
        </div>

        <button class="checkout-sale-code__button btn-type btn-type--default js-order-btn" data-btn="selected-sale">Применить</button>
    </div>
    <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
        <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

        <span class="sale-select__right">- 2% на категорию Электроника</span>
    </a>

    <a href="" class="sale-select__item js-order-btn" data-btn="selected-sale">
        <img class="sale-select__left" src="/css/modules/order/img/fishka.png" alt="">

        <span class="sale-select__right">- 2% на категорию Электроника</span>
    </a>
</div>
{{! ввести код скидки или сертефиката }}

{{! примененные скидки }}
<div class="checkout-order__box checkout-order__box--light js-order-box" data-box="data-selected-sale">
    <div class="checkout-order-items table">
        <div class="checkout-order-items__left table_cell">
            <img alt="" src="/css/modules/order/img/fishka_act.png">
        </div>

        <div class="checkout-order-items__right table_cell">
            <div class="checkout-order-items__name">
                - 2% на категорию Электроника<br>
                Минимальная сумма заказа 6999 руб
            </div>

            <div class="checkout-order-items__data">&nbsp;</div>
            <div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
            <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">5 200 <span class="rubl">p</span></div>
        </div>
    </div>

    <div class="checkout-order-items table">
        <div class="checkout-order-items__left table_cell">
            <img alt="" src="/css/modules/order/img/fishka_act.png">
        </div>

        <div class="checkout-order-items__right table_cell">
            <div class="checkout-order-items__name">
                - 2% на категорию Электроника<br>
                Минимальная сумма заказа 6999 руб
            </div>

            <div class="checkout-order-items__data">&nbsp;</div>
            <div class="checkout-order-items__data ta-c"><span class="bb-dotted">удалить</span></div>
            <div class="checkout-order-items__data checkout-order-items__data--sale l ta-r">5 200 <span class="rubl">p</span></div>
        </div>
    </div>
</div>
{{! примененные скидки }}
