<section class="checkout">
    <form class="js-order-delivery-form" action="{{deliveryForm.url}}" data-container-selector=".id-order-form-container"></form>

    <h1 class="checkout__tl">Самовывоз и доставка</h1>

    {{#orderCountMessage}}
        <p class="orderInf">Товары будут оформлены как <strong class="mdb">{{orderCountMessage}}</strong></p>
    {{/orderCountMessage}}

    <div class="orderInf clearfix">
        <div class="orderInf_tx">Ваш регион: <strong>{{region.name}}</strong></div>

        <div class="orderInf_l">От региона зависят доступные способы получения и оплаты заказов.</div>

        <button class="jsSelectCity orderInf_r btn-transparent btn-transparent--normal"><span class="bb-dotted">Изменить регион</span></button>
    </div>

    <!--
            {{! разбиение заказа, адрес доставки не выбран }}
            <div class="checkout-order">
                <div class="checkout-order-head checkout-order__box checkout-order__box--head">
                    <strong class="checkout-order-head__title">Заказ №1</strong>
                    <a class="checkout-order-head__info checkout-order-head__right" href=""><span class="bb-dotted">Информация и оферта</span></a>
                    <span class="checkout-order-head__vendor checkout-order-head__right">продавец: ООО «Связной»</span>
                </div>

                <div class="checkout-order__box checkout-order__box--stretch">
                    <menu class="checkout-delivery-type clearfix">
                        <li class="checkout-delivery-type__item active js-delivery-type-name" data-type="delivery-type-self">
                            <span class="checkout-delivery-type__text">Самовывоз</span>
                        </li>

                        <li class="checkout-delivery-type__item js-delivery-type-name" data-type="delivery-type-buy">
                            <span class="checkout-delivery-type__text">Доставка</span>
                        </li>
                    </menu>

                    <div class="checkout-order__inn box-show js-delivery-type" id="delivery-type-self">

                        <button class="btn-transparent btn-transparent--normal js-order-btn" data-btn="select-shop">
                            <span class="bb-dotted">Выбрать точку самовывоза</span>
                        </button>

                    </div>

                    <div class="checkout-order__inn js-delivery-type" id="delivery-type-buy">
                        <div class="checkout-celendar js-popup-box-celendar-link">15 сентября 2014, воскресенье</div>

                        <div class="custom-select custom-select--button">
                            <span class="custom-select__value js-order-btn" data-btn="select-time">10:00…18:00 <i class="caret"></i></span>

                            <ul class="custom-select-list js-order-box" data-box="data-select-time">
                                <li class="custom-select-list__item">10:00…18:00</li>
                                <li class="custom-select-list__item">8:00…12:00</li>
                                <li class="custom-select-list__item">12:00…18:00</li>
                            </ul>
                        </div>

                        <div class="checkout-address">
                            <div class="checkout-address__title"><strong>Адрес</strong> для всех заказов с доставкой</div>

                            <button class="orderInf_r btn-transparent btn-transparent--normal"><span class="bb-dotted">Указать адрес</span></button>
                        </div>
                    </div>
                </div>

                <div class="checkout-order__box checkout-order__box--light">
                    <div class="checkout-order-items table error">
                        <div class="checkout-order-items__left table_cell">
                            <img alt="" src="http://fs03.enter.ru/1/1/163/4a/108293.jpg">
                        </div>

                        <div class="checkout-order-items__right table_cell">
                            <div class="checkout-order-items__name">
                                <a href="">
                                    Самокат<br>
                                    JD Bug Classic MS-305 синий JD Bug Classic MS-305 синий
                                </a>
                            </div>

                            <div class="checkout-order-items__data l">5 200 <span class="rubl">p</span></div>
                            <div class="checkout-order-items__data l ta-c">1 шт.</div>
                            <div class="checkout-order-items__data l ta-r">5 200 <span class="rubl">p</span></div>
                        </div>
                    </div>

                    <div class="checkout-order-items table">
                        <div class="checkout-order-items__left table_cell">
                            <img alt="" src="http://fs03.enter.ru/1/1/163/4a/108293.jpg">
                        </div>

                        <div class="checkout-order-items__right table_cell">
                            <div class="checkout-order-items__name">
                                <a href="">
                                    Самокат<br>
                                    JD Bug Classic MS-305 синий JD Bug Classic MS-305 синий
                                </a>
                            </div>

                            <div class="checkout-order-items__data l">5 200 <span class="rubl">p</span></div>
                            <div class="checkout-order-items__data l ta-c">1 шт.</div>
                            <div class="checkout-order-items__data l ta-r">5 200 <span class="rubl">p</span></div>
                        </div>
                    </div>
                </div>


        {{! общая стоимость заказа }}
                <div class="checkout-summary checkout-order__box table">
                    <div class="table_cell">
                        <button class="btn-transparent btn-transparent--normal"><span class="bb-dotted">Добавить скидку</span></button>
                    </div>

                    <div class="table_cell ta-r">
                        <div class="checkout-summary__item checkout-summary__item--val mb-10">150 <span class="rubl">p</span></div>
                        <div class="checkout-summary__item mb-10">Доставка:</div>

                        <div class="checkout-summary__item checkout-summary__item--val mb-5 grey-light clear-r l">42 334 <span class="rubl">p</span></div>

                        <div class="checkout-summary__item checkout-summary__item--val clear-r l">2 334 <span class="rubl">p</span></div>
                        <div class="checkout-summary__item l">Итого:</div>
                    </div>
                </div>
                {{! общая стоимость заказа }}

            </div>
            {{! разбиение заказа, адрес доставки не выбран }}
            <div class="btn-container btn-container--orange">
                <input type="checkbox" class="custom-input custom-input--check" id="accept" name="" value="" />
                <label class="order-accept custom-label custom-label--top" for="accept">Я ознакомлен и согласен с информацией о продавце и его офертой</label>

                <button class="btn btn--submit btn--orange btn--big">Оформить</button>
            </div>
            -->

    {{#orders}}
    {{! разбиение заказа, адрес доставки выбран }}
        <div class="checkout-order">
            <div class="checkout-order-head checkout-order__box checkout-order__box--head">
                <strong class="checkout-order-head__title">{{name}}</strong>
                {{#seller}}
                    <a class="checkout-order-head__info checkout-order-head__right" href="{{url}}" target="_blank"><span class="bb-dotted">Информация и оферта</span></a>
                    <span class="checkout-order-head__vendor checkout-order-head__right">продавец: {{name}}</span>
                {{/seller}}
            </div>

            <div class="checkout-order__box checkout-order__box--stretch{{#delivery.isCompleted}} complete{{/delivery.isCompleted}}">
                <menu class="checkout-delivery-type clearfix">
                    {{#deliveries}}
                        <li class="checkout-delivery-type__item js-order-delivery-form-control {{#isActive}}active{{/isActive}}" data-value="{{&dataValue}}">
                            <span class="checkout-delivery-type__text">{{name}}</span>
                        </li>
                    {{/deliveries}}
                </menu>

                <div>
                    <script id="order-{{id}}-date-data" type="application/json">{{&dateJson}}</script>

                    {{#delivery.isSelf}}
                        {{>page/order/delivery/group/self}}
                    {{/delivery.isSelf}}

                    {{#delivery.isStandart}}
                        {{>page/order/delivery/group/standart}}
                    {{/delivery.isStandart}}
                </div>
            </div>

            {{>page/order/delivery/product-list}}

            {{>page/order/delivery/discount}}

            {{! общая стоимость заказа }}
            <div class="checkout-summary checkout-order__box table">
                <div class="table_cell">
                    <button class="btn-transparent btn-transparent--normal"><span class="bb-dotted">Добавить скидку</span></button>
                </div>

                <div class="table_cell ta-r">
                    <div class="checkout-summary__item checkout-summary__item--val mb-10">
                        {{delivery.price.name}} {{#delivery.price.isCurrency}}<span class="rubl">p</span>{{/delivery.price.isCurrency}}
                    </div>
                    <div class="checkout-summary__item mb-10">{{delivery.name}}:</div>

                    <div class="checkout-summary__item checkout-summary__item--val clear-r l">{{sum.name}} <span class="rubl">p</span></div>
                    <div class="checkout-summary__item l">Итого:</div>
                </div>
            </div>
            {{! общая стоимость заказа }}

            {{#messages}}
                {{#isPrepayment}}
                    <div class="checkout-order-err">
                        <span class="checkout-order-err__msg">Требуется предоплата.</span>
                        <span class="checkout-order-err__info">Сумма заказа превышает {{cost}} <span class="rubl">p</span>. <a href="/how_pay" target="_blank" class="bb-dotted">Подробнее</a></span>
                    </div>
                {{/isPrepayment}}
            {{/messages}}

            {{! Оплата }}
            <div class="checkout-checkbox">
                <ul class="checkout-checkbox-lst">
                    <li class="checkout-checkbox-lst__i">
                        <input type="radio" id="type1" name="paynow" class="custom-input custom-input--defradio" checked>
                        <label class="custom-label" for="type1">
                            <span class="custom-label_tx">При получении</span>
                        </label>
                    </li>
                    <li class="checkout-checkbox-lst__i">
                        <input type="radio" id="type2" name="paynow" class="custom-input custom-input--defradio" checked>
                        <label class="custom-label" for="type2" checked>
                            <span class="custom-label_tx">Онлайн-оплата
                                <span class="custom-label_tx--gray custom-label_tx--small">Банковская карта, Яндекс.Деньги, PayPal и др.</span>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
            {{! Оплата - end }}
        </div>
    {{! разбиение заказа, адрес доставки выбран }}
    {{/orders}}

    <div class="btn-container btn-container--orange">
        <form action="{{form.url}}" method="post">
            <input type="checkbox" class="custom-input custom-input--check" id="id-orderForm-accept" name="accept" value="1" />
            <label class="order-accept custom-label custom-label--top" for="id-orderForm-accept">Я ознакомлен и согласен с информацией о продавце и его офертой</label>

            <button type="submit" class="btn btn--submit btn--orange btn--big">Оформить</button>
        </form>
    </div>
</section>
