{{! Оплата }}
<div class="checkout-checkbox">
    <ul class="checkout-checkbox-lst">
        <li class="checkout-checkbox-lst__i">
            <input type="radio" id="type1" name="paynow" class="custom-input custom-input--defradio" checked>
            <label class="custom-label" for="type1">
                <span class="custom-label_tx">При получении</span>
            </label>
        </li>
        <li class="checkout-checkbox-lst__i">
            <input type="radio" id="type2" name="paynow" class="custom-input custom-input--defradio" checked>
            <label class="custom-label" for="type2" checked>
                <span class="custom-label_tx">Онлайн-оплата
                    <span class="custom-label_tx--gray custom-label_tx--small">Банковская карта, Яндекс.Деньги, PayPal и др.</span>
                </span>
            </label>
        </li>
    </ul>
</div>
{{! Оплата - end }}
