<ul class="suggest-control-lst">
{{#items}}
    <li class="js-order-delivery-suggest-item suggest-control-lst-i" data-center="{{&dataCenterValue}}" data-container-selector="{{containerSelector}}">{{name}}</li>
{{/items}}
</ul>
