/* ==========================================================================
   Layout - default styles
   ========================================================================== */
html {
    height: 100%;
    &.no-scroll {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;

        height: 100%;
        max-height: 100%;
        body {
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;

            height: 100%;
            max-height: 100%;
        }
    }
}

body {
    height: 100%;
}
.body-footerless{
    height: 100%;

    .wrapper{
        height: 100%;
        position: relative;
    }
    .snap-content{
        height: 100%;
    }
}
.wrapper {

    width: 100%;
    height: 100%;

    margin: 0 auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    &-smpl {
       /* position: absolute;
        top:0;
        left:0;*/

        /*& > * {
            -webkit-transform: translate3d(0,0,0);
        }*/

        .content {
            padding-bottom: 0px;
        }
    }
// fix scrolling bug on android
 /*   & > * {
       *//*-webkit-transform: translateZ(0px);*//*
        -webkit-transform: translate3d(0,0,0);
    }*/
}
.noIOS{
    height: auto;
    min-height: 100%;

    .wrapper{
        height: auto;
        min-height: 100%;
        overflow: visible;
    }
    .header{
        position: fixed;
    }
    .snap-content{
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .content{
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	margin: 0;
	padding: 55px 0 215px;

	&-main {
		background: @black;
	}
}

.pageTitle {
    font-size: 19px;
    line-height: 40px;

    display: none;

    padding: 0 10px;

    border-bottom: 1px solid #b1b1b1;
}

.contentBox940 {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.contentBox960 {
    max-width: 960px;
    margin: 0 auto;
}

.contentBox640 {
    max-width: 620px;
    margin: 0 auto;
}

.viewportSizeWrapper {
    overflow: hidden;

    width: 100%;
}
/* AB-test main page  */
.body-main{
    background-color: @black;
}