/* ==========================================================================
   Layout - default styles
   ========================================================================== */
html,
body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    -webkit-overflow-scrolling: touch;

    &-smpl {
        overflow: visible;
        height: auto;

        .content {
            padding-bottom: 0px;
        }
    }
}

* {
    -webkit-overflow-scrolling: touch;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	margin: 0;
	padding: 55px 0 215px;

	&-main {
		background: @black;
	}
}

.pageTitle {
    font-size: 19px;
    line-height: 40px;

    display: none;

    padding: 0 10px;

    border-bottom: 1px solid #b1b1b1;
}

.contentBox940 {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.contentBox960 {
    max-width: 960px;
    margin: 0 auto;
}

.contentBox640 {
    max-width: 620px;
    margin: 0 auto;
}

/* AB-test main page  */
.body-main{
    background-color: @black;
}