{{#content}}
<main class="content">
    <div class="slider-parent m-loader js-slider-parent" data-value="{{&promoDataValue}}">
        <div class="main-banner-slider js-main-banner-slider">
            {{#promos}}
                <div class="main-banner-slider__item">
                    <a href="{{url}}" class="main-banner-slider__link js-ga-click">
                        <img src="{{image}}" alt="" class="main-banner-slider__img">
                    </a>
                </div>
            {{/promos}}
        </div>
    </div>

    <ul class="shop-info grid-4cols clearfix">
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="tel://8-800-700-0009">
                <i class="shop-info__item-icon i-shop-info i-shop-info__phone"></i>
                <span class="shop-info__item-text">8 (800) 700-00-09</span>
            </a>
        </li>
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="/delivery">
                <i class="shop-info__item-icon i-shop-info i-shop-info__delivery"></i>
                <span class="shop-info__item-text">Доставка</span>
            </a>
        </li>
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="/self-delivery">
                <i class="shop-info__item-icon i-shop-info i-shop-info__self-delivery"></i>
                <span class="shop-info__item-text">Самовывоз</span>
            </a>
        </li>
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="/shops">
                <i class="shop-info__item-icon i-shop-info i-shop-info__shops"></i>
                <span class="shop-info__item-text">Магазины</span>
            </a>
        </li>
    </ul>

    {{#mainMenuOnBottom}}
        {{>page/main/recommendation}}
        {{>page/main/menu}}
    {{/mainMenuOnBottom}}

    {{^mainMenuOnBottom}}
        {{>page/main/menu}}
        {{>page/main/recommendation}}
    {{/mainMenuOnBottom}}

    <div class="main-inn">
        <div class="{{#viewedSlider}}grid-2cols{{/viewedSlider}}{{^viewedSlider}}grid-1cols{{/viewedSlider}} grid-parent-row clearfix">
            {{#viewedSlider}}
                <div class="grid-2cols__item js-container viewedSliderContainer">
                    <div class="items-slider">
                        <div class="items-slider-nav">
                            <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-id-productSlider-viewedSlider js-ga-click"></div>

                            <div class="items-slider-nav__desc">
                                <div class="items-slider-nav__title">Вы смотрели</div>
                            </div>

                            <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-id-productSlider-viewedSlider js-ga-click"></div>
                        </div>
                        {{>partial/product-slider/viewed}}
                    </div>
                </div>
            {{/viewedSlider}}

            <div class="grid-2cols__item">
                <div class="items-slider">
                    <div class="items-slider-nav">
                        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-brands"></div>

                        <div class="items-slider-nav__desc">
                            <div class="items-slider-nav__title">Популярные бренды</div>
                        </div>

                        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-brands"></div>
                    </div>

                    <div class="slider-parent m-loader js-slider-parent">
						<div class="items-slider-slides items-slider-slides--images items-slider-slides--logos js-main-items-slider-brands" data-slick-slider="brands" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}' data-respons-show="3">
							{{#popularBrands}}
								<div class="items-slider-slides__item">
									{{#.}}
										<a class="items-slider__img-link" title="{{name}}" href="{{url}}">
											<img src="{{imageUrl}}" alt="{{name}}" class="items-slider__img">
										</a>
									{{/.}}
								</div>
							{{/popularBrands}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{/content}}