{{#content}}
<main class="content">
    <div class="slider-parent m-loader js-slider-parent" data-value="{{&promoDataValue}}">
        <div class="main-banner-slider js-main-banner-slider">
            {{#promos}}
                <div class="main-banner-slider__item">
                    <a href="{{url}}" class="main-banner-slider__link js-ga-click">
                        <img src="{{image}}" alt="" class="main-banner-slider__img">
                    </a>
                </div>
            {{/promos}}
        </div>
    </div>

    <ul class="shop-info grid-4cols clearfix">
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="tel://8-800-700-0009">
                <i class="shop-info__item-icon i-shop-info i-shop-info__phone"></i>
                <span class="shop-info__item-text">8 (800) 700-00-09</span>
            </a>
        </li>
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="/how_get_order">
                <i class="shop-info__item-icon i-shop-info i-shop-info__delivery"></i>
                <span class="shop-info__item-text">Доставка</span>
            </a>
        </li>
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="/delivery_types#delivr_self">
                <i class="shop-info__item-icon i-shop-info i-shop-info__self-delivery"></i>
                <span class="shop-info__item-text">Самовывоз</span>
            </a>
        </li>
        <li class="shop-info__item grid-4cols__item">
            <a class="shop-info__link" href="/shops">
                <i class="shop-info__item-icon i-shop-info i-shop-info__shops"></i>
                <span class="shop-info__item-text">Магазины</span>
            </a>
        </li>
    </ul>

    <div class="main-inn">
        <div class="grid-2cols clearfix">
            <div class="grid-2cols__item">
                {{#popularSlider}}
                    <div class="items-slider items-slider--left">
                        <div class="items-slider-nav">
                            <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-id-productSlider-popularSlider js-ga-click"></div>

                            <div class="items-slider-nav__desc">
                                <div class="items-slider-nav__title">Популярные товары</div>
                            </div>

                            <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-id-productSlider-popularSlider js-ga-click"></div>
                        </div>

                        {{>partial/product-slider/mainPage}}
                    </div>
                {{/popularSlider}}
            </div>

            <div class="grid-2cols__item">
                {{#personalSlider}}
                <div class="items-slider items-slider--right">
                    <div class="items-slider-nav">
                        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-id-productSlider-personalSlider js-ga-click"></div>

                        <div class="items-slider-nav__desc">
                            <div class="items-slider-nav__title">Мы рекомендуем</div>
                        </div>

                        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-id-productSlider-personalSlider js-ga-click"></div>
                    </div>

                    {{>partial/product-slider/mainPage}}
                </div>
                {{/personalSlider}}
            </div>
        </div>
    </div>

    {{#mainMenu}}
        <ul class="categories-grid clearfix">
            {{#elements}}
                <li class="categories-grid__item">
                    <a class="categories-grid__link js-ga-click" href="{{url}}" data-ga-click="{{&dataGa}}">
							<span class="categories-grid__icon">
								<span class="categories-grid__char"{{#style}} style="{{style}}"{{/style}}>{{char}}</span>
                                {{#image}}<img class="categories-grid__img" src="{{image}}" />{{/image}}
							</span>
                        <span class="categories-grid__text">{{&name}}</span>
                    </a>
                </li>
            {{/elements}}
        </ul>
    {{/mainMenu}}

    <div class="main-inn">
        <div class="grid-2cols clearfix">
            <div class="grid-2cols__item">
                {{#viewedSlider}}
                <div class="items-slider">
                    <div class="items-slider-nav">
                        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-id-productSlider-viewedSlider js-ga-click"></div>

                        <div class="items-slider-nav__desc">
                            <div class="items-slider-nav__title">Вы смотрели</div>
                        </div>

                        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-id-productSlider-viewedSlider js-ga-click"></div>
                    </div>
                    {{>partial/product-slider/viewed}}
                </div>
                {{/viewedSlider}}
            </div>

            <div class="grid-2cols__item">
                <div class="items-slider">
                    <div class="items-slider-nav">
                        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-brands"></div>

                        <div class="items-slider-nav__desc">
                            <div class="items-slider-nav__title">Популярные бренды</div>
                        </div>

                        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-brands"></div>
                    </div>

                    <div class="slider-parent m-loader js-slider-parent">
                        <div class="items-slider-slides items-slider-slides--images items-slider-slides--logos js-main-items-slider-brands" data-slick-slider="brands" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
							{{#popularBrands}}
								<div class="items-slider-slides__item">
									{{#.}}
										<a class="items-slider__img-link" title="{{name}}" href="{{url}}">
											<img src="{{imageUrl}}" alt="{{name}}" class="items-slider__img">
										</a>
									{{/.}}
								</div>
							{{/popularBrands}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{/content}}