{{#stars}}
    <i class="rating__star icon-star icon-star-full"></i>
    {{! иконка пустой звезды:
     <i class="rating__star icon-star icon-star-empty"></i>
     иконка звезды, заполненной наполовину:
    <i class="rating__star icon-star icon-star-half"></i> }}
{{/stars}}
