<ul class="private-list">
    {{#productCards}}
        <!-- товар -->
        <li class="private-list__item">

            <a class="js-user-favorite-delete private-list__item-del" href="{{deleteUrl}}" data-product-ui="{{ui}}" data-value="{{&dataValue}}"></a>
            <a class="private-list__item-block favorit-section__img-block" href="{{url}}">
                <img src="{{image}}" alt="{{webName}}">

                {{#labels.0}}
                <div class="sticker left">
                    <img src="{{imageUrl}}" alt="" />
                </div>
                {{/labels.0}}

                {{#brand.imageUrl}}
                <div class="sticker right">
                    <img src="{{brand.imageUrl}}" alt="" />
                </div>
                {{/brand.imageUrl}}
            </a>
            <div class="private-list__item-block favorit-section__item-block">
                <a class="favorit-section__title" href="{{url}}">
                    {{&namePrefix}}
                </a>

                <div class="private-list__item-rating rating">
                    {{#rating}}
                        {{>partial/rating/star-list}}
                    {{/rating}}
                </div>

                <div class="private-list__item-availability{{#states.isInShopShowroomOnly}} private-list__item-availability_gray{{/states.isInShopShowroomOnly}}">
                    <span>{{#states.isInShopStock}}Самовывоз сегодня{{/states.isInShopStock}}</span>
                    <span>{{#states.isInShopShowroomOnly}}На витрине{{/states.isInShopShowroomOnly}}</span>
                </div>

                <div class="price favorit-section__price">
                    <span class="price_old favorit-section__price-old"><span class="price_old favorit-section__price-old-sum">{{#shownOldPrice}}{{shownOldPrice}}</span> <span class="rubl">p</span>{{/shownOldPrice}}</span>
                    <span class="price_now favorit-section__price-now">{{shownPrice}} <span class="rubl">p</span></span>
                </div>
            </div>
        </li>
        <!--/ товар -->
    {{/productCards}}
</ul>
