.orderLn {
	margin: 0 0 20px;	

	border-width: 1px 1px 1px 5px;
	border-color: @typGray;
	border-style: solid;

	&_mgnr {
		margin-right: 15px;
	}

	&_b {
		padding: 10px 10px;
		background: @lightGrey6;

		&-bg {
			background: #feeed4;
		}

		&-wht {
			background: @white;
		}
	}

	&_col2 {
		line-height: 1.2;

		&_l {
			width: 48%;
			float: left;
		}

		&_r {
			width: 48%;
			float: right;
			position: relative;
		}

		&-r {

			.orderCol_col2_l {
				text-align: right;
				font-size: 16px;
				line-height: 33px;
			}
		}
	}

	&_f {
		font-size: 16px;

		&_t {
			.inline-block();
		}

		&_tx {
			.inline-block();
			text-align: right;
			width: 90px;
		}
	}

	&_box {
		position: relative;

		.customSel_i {
		    padding: 10px;
		}

		&-pay {

			.popupFl {
			    top: 17px;
			}
		}
	}

	&_l {
		float: left;

		width: 350px;
	}

	&_r {
		float: right;
	}

	&_c {
		float: left;

		width: 350px;
		padding: 37px 0 0;
	}

	&_row {
		margin: 0 0 10px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&_imgpay {
			.inline-block();
		}

		.customSel_lst-pay {
		    right: 0;
		    text-align: left;
		    top: 26px;
		    width: 500px;
		}

		&-t {  
			font-size: 20px;
		}

		&-summ {
			text-align: right;

			font-size: 16px;
		}

		&-bg {
			.rounded(4px);
			width: 200px;
			padding: 5px 5px 10px;

			text-align: center;

			background: rgba(252, 171, 47, 0.2);

			&-grey {
				//background: @lightgreyBg;
				padding: 5px;
			}
		}

		&-pay {
		    width: 200px;
		    margin: 0;
		    padding: 10px 5px 15px;

		    text-align: center;

			border-radius: 4px;
			//background: @lightgreyBg;

			font-size: 14px;
			line-height: 1.1;

			.payT {
				font-size: 14px;
			}
		}
	}

	&_btn {
    	line-height: 1.3;
    	padding: 3px 10px 5px;
	}

	&_lst {
		color: #474747;

		&_lk {
			color: #474747;
			border-bottom: 1px dotted;
		}
	}
}