/* ==========================================================================
   Навигации .nav
   ========================================================================== */
.nav-header {
    position: fixed;
    top: 0;
    left: 0;

    width: 260px;

    border-bottom: 1px solid #404040;
    background-color: @black;
    &__col {
        .inline-block();
    }
    &__icon {
        padding: 14px 10px 14px;
    }
    &__wrap {
        position: relative;

        overflow: hidden;

        width: 172px;
        margin: 0 0 0 15px;

        .inline-block();
        .transBg {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 18px;
            height: 20px;

            background-position: 0 0;
        }
        &-text {
            font-size: 1rem;

            max-width: 175px;
            padding: 13px 5px;

            cursor: pointer;

            .inline-block();
            .box-sizing(border-box);
            .text {
                overflow: hidden;

                max-width: 100%;

                white-space: nowrap;
                text-overflow: ellipsis;

                color: #fff;
                border-bottom: 1px dotted @white;

                .inline-block();
            }
        }
    }
}

.navList {
    overflow: auto;

    height: 100%;
    &_item {
        padding: 7px 0;
    }
    &_text {
        font-size: 15px;
        line-height: 40px;

        position: relative;

        display: block;

        height: 40px;
        padding: 0 5px 0 10px;

        cursor: pointer;
        text-transform: uppercase;

        color: @white;
        outline: none;
        &:active {
            text-decoration: none;

            color: @firmOrange;
            outline: none;
        }
    }
    .navListIco {
        font-family: 'menuIconFont';
        font-size: 80px;

        width: 45px;
        height: 40px;
        margin: 0 5px 0 0;

        background-repeat: no-repeat;
        background-position: 0 50%;

        .inline-block();
        img {
            width: 105%;
            margin: 2px 0 0;

            .inline-block();
        }
    }
    .navListName {
        .inline-block();
    }
}

.navListLevel2 {
    &_link {
        font-size: 14px;

        display: block;

        margin: 2px 0;
        padding: 5px 15px 5px 65px;

        color: #7e7e7e;
        &:focus,
        &:hover {
            color: #7e7e7e;
        }
        &:active {
            text-decoration: none;

            color: @white;
            outline: none;
            background: #333;
        }
    }
}
.menu-overlay {
    position: fixed;
    z-index: 13;
    top: 50px;
    right: 0;
    left: 0;
    left: 0;

    display: none;
    overflow: hidden;

    height: 100%;

    cursor: pointer;

    background: @white;

    .opacity(.5);
}
.menu-open .menu-overlay {
    left: 260px;
}
.nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
    overflow: hidden;

    width: 260px;
    padding-top: 51px;

    text-align: left;

    outline: 0;
    background-color: #f7f7f7;
    display: none;
    &-menu {
        position: relative;

        overflow: auto;
        width: 260px;
        padding-right: 20px;

        height: 100%;

        -webkit-overflow-scrolling: touch;
    }
    &__top {
        width: 260px;
    }
    &-list {
        width: 260px;
        &-i {
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;

            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            &__lk {
                font-size: 16px;

                display: block;
                overflow: hidden;

                padding: 10px 5px 10px 5px;

                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;

                color: inherit;
                border-bottom: 1px solid #5e5e5e;
                &:hover {
                    color: inherit;
                }
            }
        }
    }
    &-breadcrumbs {
        .nav-list-i {
            color: #fff;
            background-color: #3d3d3d;
            &__lk {
                &:before {
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;

                    content: '';

                    background: url('modules/nav/img/nav-sprite@2x.png') no-repeat 0 0;

                    .inline-block();
                    .background-size(138px 26px);
                }
            }
        }
    }
    &-links {
        .nav-list-i {
            color: #fff;
            background-color: #000;
            &__lk {
                padding-left: 10px;
                .nav-icon {
                    width: 29px;
                    height: 26px;
                    margin: -2px 5px -5px 0;

                    background: url('modules/nav/img/nav-sprite@2x.png') no-repeat 0 0;

                    .background-size(192px 26px);
                    &--shops {
                        background-position: -25px 0;
                    }
                    &--lk {
                        background-position: -111px 0;
                    }
                    &--lk-log {
                        background-position: -140px 0;
                    }
                    &--lk-ep {
                        background-position: -165px 0;
                    }
                    &--callback {
                        background-position: -54px 0;
                    }
                    &--phone {
                        background-position: -83px 0;
                    }
                }
            }
        }
    }
    &-catalog {
        width: 260px;
        &__h {
            font-size: 14px;

            position: relative;

            padding: 5px 0 5px 10px;

            color: #fff;
            background-color: #3d3d3d;
        }
        .nav-list {
            &:after {
                display: block;

                width: 100%;
                height: 35px;

                content: '';

                border-top: 1px solid #c7c7c7;
            }
        }
        .nav-list-i {
            color: #3d3d3d;
            &__lk {
                line-height: 20px;

                padding-left: 10px;

                border-bottom: 1px dotted #c7c7c7;
                .nav-icon {
                    font-family: 'menuIconFont';
                    font-size: 60px;

                    zoom: 1;

                    width: 33px;
                    height: 22px;
                    margin: 0 5px 0 0;

                    color: rgba(0,0,0,.8);
                    background-repeat: no-repeat;
                    background-position: 0 50%;

                    .inline-block();
                }
            }
            &:nth-last-child(1) {
                .nav-list-i__lk {
                    border-bottom: 0;
                }
            }
        }
    }
    &-icon {
        .inline-block();
        img {
            width: 105%;
            max-height: 100%;
            margin: -2px 0 0;

            .inline-block();
        }
    }
}

.menu-open {
    position: fixed;

    overflow: hidden;

    width: 100%;
    .page {
        -webkit-transform: translate3d(260px,0,0);
           -moz-transform: translate3d(260px,0,0);
            -ms-transform: translate3d(260px,0,0);
             -o-transform: translate3d(260px,0,0);
                transform: translate3d(260px,0,0);
    }
    .menu-overlay {
        display: block;
    }
    .nav {
        visibility: visible;
        z-index: 3;
        display: block;
    }
}
