
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        <meta name="format-detection" content="telephone=no" />

{{!         <!-- iPad and iPad mini (with @2× display) iOS ≥ 8 -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/touch/apple-touch-icon-180x180-precomposed.png">
        <!-- iPad 3+ (with @2× display) iOS ≥ 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/touch/apple-touch-icon-152x152-precomposed.png">
        <!-- iPad (with @2× display) iOS ≤ 6 -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <!-- iPhone (with @2× and @3 display) iOS ≥ 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/touch/apple-touch-icon-120x120-precomposed.png">
        <!-- iPhone (with @2× display) iOS ≤ 6 -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/touch/apple-touch-icon-76x76-precomposed.png">
        <!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6 -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <!-- Android Stock Browser and non-Retina iPhone and iPod Touch -->
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <!-- Fallback for everything else -->
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png"> }}

{{!         <!--
            Chrome 31+ has home screen icon 192×192 (the recommended size for multiple resolutions).
            If it’s not defined on that size it will take 128×128.
        -->
        <link rel="icon" sizes="192x192" href="img/touch/touch-icon-192x192.png">
        <link rel="icon" sizes="128x128" href="img/touch/touch-icon-128x128.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222"> }}

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link rel="stylesheet" href="/css/global.min.css">

		<meta id="js-enter-debug" name="enter-debug" content="{{&dataDebug}}">
	    <meta id="js-enter-version" name="enter-version" content="{{&dataVersion}}">
	    <meta id="js-enter-module" name="enter-module" content="{{&dataModule}}">

        {{>partial/javascript}}
    </head>

    <body data-module="{{&dataModule}}" data-config="{{&dataConfig}}">
    	{{>partial/header}}

		<main class="content">
			<div class="slider-parent m-loader js-slider-parent">
				<div class="main-banner-slider js-main-banner-slider">
					<div class="main-banner-slider__item"><a href="" class="main-banner-slider__link"><img src="img/main/banner-1.png" alt="" class="main-banner-slider__img"></a></div>
					<div class="main-banner-slider__item"><a href="" class="main-banner-slider__link"><img src="img/main/banner-2.png" alt="" class="main-banner-slider__img"></a></div>
					<div class="main-banner-slider__item"><a href="" class="main-banner-slider__link"><img src="img/main/banner-3.png" alt="" class="main-banner-slider__img"></a></div>
					<div class="main-banner-slider__item"><a href="" class="main-banner-slider__link"><img src="img/main/banner-1.png" alt="" class="main-banner-slider__img"></a></div>
					<div class="main-banner-slider__item"><a href="" class="main-banner-slider__link"><img src="img/main/banner-2.png" alt="" class="main-banner-slider__img"></a></div>
				</div>
			</div>

			<ul class="shop-info grid-4cols clearfix">
				<li class="shop-info__item grid-4cols__item">
					<a class="shop-info__link" href="">
						<i class="shop-info__item-icon i-shop-info i-shop-info__phone"></i>
						<span class="shop-info__item-text">8 (800) 700-00-09</span>
					</a>
				</li>
				<li class="shop-info__item grid-4cols__item">
					<a class="shop-info__link" href="">
						<i class="shop-info__item-icon i-shop-info i-shop-info__delivery"></i>
						<span class="shop-info__item-text">Доставка</span>
					</a>
				</li>
				<li class="shop-info__item grid-4cols__item">
					<a class="shop-info__link" href="">
						<i class="shop-info__item-icon i-shop-info i-shop-info__self-delivery"></i>
						<span class="shop-info__item-text">Самовывоз</span>
					</a>
				</li>
				<li class="shop-info__item grid-4cols__item">
					<a class="shop-info__link" href="">
						<i class="shop-info__item-icon i-shop-info i-shop-info__shops"></i>
						<span class="shop-info__item-text">Магазины</span>
					</a>
				</li>
			</ul>

			<div class="inn">
				<div class="grid-2cols clearfix">
					<div class="grid-2cols__item">
						<div class="items-slider items-slider--left">
							<div class="items-slider-nav">
						        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-featured"></div>

						        <div class="items-slider-nav__desc">
						            <div class="items-slider-nav__title">Популярные товары</div>
						        </div>

						        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-featured"></div>
						    </div>

							<div class="slider-parent m-loader js-slider-parent">
							    <div class="items-slider-slides items-slider-slides--goods js-main-items-slider-featured" data-slick-slider="featured" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="grid-2cols__item">
						<div class="items-slider items-slider--right">
							<div class="items-slider-nav">
						        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-recommended"></div>

						        <div class="items-slider-nav__desc">
						            <div class="items-slider-nav__title">Мы рекомендуем</div>
						        </div>

						        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-recommended"></div>
						    </div>

							<div class="slider-parent m-loader js-slider-parent">
							    <div class="items-slider-slides items-slider-slides--goods js-main-items-slider-recommended" data-slick-slider="recommended" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>

										<a class="items-slider__name">Смартфон Nokia Lumia 720 черный</a>

										<span class="items-slider__old-price"><span class="line-through">45 590</span> <span class="rubl">p</span></span>
										<span class="span items-slider__now-price">45 590 <span class="rubl">p</span></span>
										<a href="" class="span items-slider__buy btn--buy btn--extra">Купить</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{#mainMenu}}
			<ul class="categories-grid clearfix">
				{{#elements}}
				<li class="categories-grid__item">
					<a class="categories-grid__link js-ga-click" href="{{url}}" data-ga-click="{{&dataGa}}">
						<span class="categories-grid__icon">
							<span class="categories-grid__char"{{#style}} style="{{style}}"{{/style}}>{{char}}</span>
                        	{{#image}}<img class="categories-grid__img" src="{{image}}" />{{/image}}
						</span>
						<span class="categories-grid__text">{{&name}}</span>
					</a>
				</li>
				{{/elements}}
			</ul>
			{{/mainMenu}}

			<div class="inn">
				<div class="grid-2cols clearfix">
					<div class="grid-2cols__item">
						<div class="items-slider">
							<div class="items-slider-nav">
						        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-watched"></div>

						        <div class="items-slider-nav__desc">
						            <div class="items-slider-nav__title">Вы смотрели</div>
						        </div>

						        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-watched"></div>
						    </div>

						    <div class="slider-parent m-loader js-slider-parent">
							    <div class="items-slider-slides items-slider-slides--images js-main-items-slider-watched" data-slick-slider="watched" data-slick='{"slidesToShow": 6, "slidesToScroll": 6}'>
									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="http://a.imgenter.ru/uploads/media/23/ea/50/thumb_fdd5_product_160.jpeg" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="grid-2cols__item">
						<div class="items-slider">
							<div class="items-slider-nav">
						        <div class="items-slider-nav__btn items-slider-nav__btn--prev js-main-items-slider-btn-prev-brands"></div>

						        <div class="items-slider-nav__desc">
						            <div class="items-slider-nav__title">Популярные бренды</div>
						        </div>

						        <div class="items-slider-nav__btn items-slider-nav__btn--next js-main-items-slider-btn-next-brands"></div>
						    </div>

						    <div class="slider-parent m-loader js-slider-parent">
							    <div class="items-slider-slides items-slider-slides--images js-main-items-slider-brands" data-slick-slider="brands" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-1.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-2.png" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-3.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-4.png" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-5.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-6.png" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-7.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-8.png" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-1.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-2.png" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-3.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-4.png" />
										</a>
									</div>

									<div class="items-slider-slides__item">
										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-5.png" />
										</a>

										<a class="items-slider__img-link">
											<img class="items-slider__img" src="img/main/logo-6.png" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		{{>partial/footer}}
	</body>
</html>