<div class="top-banner">
    <div class="top-banner__inn">
        <div class="top-banner__l">
            <a href="/delivery">
                <span class="top-banner__txt">Бесплатные доставка домой и в офис и самовывоз из {{&pointCountMessage}} в {{regionName}} </span>
            </a>
        </div>
        <div class="top-banner__r">Для заказов от&nbsp;1990 <span class="rubl">p</span></div>
    </div>
</div>
