<div class="top-banner">
    <div class="top-banner__inn">
        <div class="top-banner__l">
            <a href="/delivery">
                <span class="top-banner__txt">{{&beginning}} {{#showCount}}{{&pointCountMessage}}{{/showCount}} в {{regionName}} </span>
            </a>
        </div>
        <div class="top-banner__r">{{&condition}}</div>
    </div>
</div>
