<div class="top-banner">
    <div class="top-banner__inn">
        <div class="top-banner__l">
            <span class="top-banner__txt">Бесплатный самовывоз из&nbsp;25&nbsp;точек&nbsp;в {{regionBlock.regionName}}</span>
        </div>
        <div class="top-banner__r">Для заказов от&nbsp;1990 <span class="rubl">p</span></div>
    </div>
</div>