<footer class="footer-bottom">
    <p class="footer-bottom__copy">© ООО «Энтер» 2011–2015. ENTER® ЕНТЕР® Enter®. Все права защищены.</p>
    <a href="//{{fullHost}}/" class="footer-bottom__full-site js-siteVersionSwitcher" title="">Полная версия сайта</a>
</footer>