<footer class="footerSmpl">
    <div class="footerCopy">
        <div class="contentBox940 clearfix">
            <a href="http://{{fullHost}}/" class="js-siteVersionSwitcher footerCopy__link">Полная версия сайта</a>
            &copy; ООО «Энтер» 2011&ndash;2015. ENTER&reg; ЕНТЕР&reg; Enter&reg;. Все права защищены.
            {{! <a href="javascript:void(0)" class="footerCopy__link" id="jira">Сообщить об ошибке</a> }}
        </div>
    </div>
</footer><!--/ Подвал -->