<header class="header clearfix js-header header-shops">
    <div class="header-center">
        {{#headerSwitchLink.backLink}}
            <a href="{{.}}" class="header-back">Закрыть</a>
        {{/headerSwitchLink.backLink}}

        {{#headerSwitchLink}}<a href="{{link}}" class="header-link">{{name}}</a>{{/headerSwitchLink}}
        <div class="pagetitle">
            <a class="pagetitle__link" >Магазины и самовывоз</a>
        </div>
    </div>
</header>