<header class="header">
    <a class="header-nav-link js-ga-click navIco" href="" data-ga-click="{&quot;m_sidebar&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_sidebar&quot;,&quot;click&quot;]}"><i class="i-header i-header__menu"></i></a>

    <div class="header__logotype"><a href="/" class="header__logotype-link"></a></div>

    {{#userBlock}}
        {{>partial/user}}
    {{/userBlock}}
</header>

<nav id="nav" class="nav">
    <div class="navHead">
        <div class="navHead_col navIco"><span class="navIco_link"></span></div>

        <a class="navHead_col navHead_col-ico" href="/">
            <img class="navHead_icoImg" src="/css/modules/header/img/logo.gif" />
        </a>

        <div class="navHead_colWrap">
            <span class="navHead_col navHead_col-text jsSelectCity"><span class="text">{{regionBlock.regionName}}</span></span>

            <div class="transBg"></div>
        </div>
    </div>

    {{#mainMenu}}
        {{>partial/main-menu/level-1}}
    {{/mainMenu}}
</nav>

<div class="fader"></div>