<header class="header clearfix js-header header-shops">
    <div class="header-center">
        <a href="#" class="header-back">Закрыть</a>
        <a href="#" class="header-link">Карта</a>
        <div class="pagetitle">
            <a class="pagetitle__link" >Магазины и самовывоз</a>
        </div>

    </div>
</header>