<header class="header js-header {{#headerTitle}} titled{{/headerTitle}}">
    <a class="header-nav-link js-ga-click js-nav-open-link" href="" data-ga-click="{&quot;m_sidebar&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_sidebar&quot;,&quot;click&quot;]}"><i class="i-header i-header--menu"></i></a>

    {{#userBlock}}
        {{>partial/user}}
    {{/userBlock}}

    <div class="header-center">
        <div class="header__logotype"><a href="/" class="header__logotype-link"></a></div>
        {{#headerTitle}}
            <div class="pagetitle">
                <a class="pagetitle__link" >{{&title}}</a>
            </div>
        {{/headerTitle}}
        <form action="/search" class="search-form js-search-form" data-input-selector="#js-search-input">
            <div class="search-form-inn">
                <i class="i-search i-search--search-selected"></i>
                <input class="search-form__it js-search-form-input" id="js-search-input" type="text" placeholder="Поиск" autocomplete="off" name="q" />
                <a class="search-form__clear js-search-input-clear" href=""><i class="i-search i-search--search-clear"></i></a>
            </div>
        </form>
    </div>
</header>