<div class="order-popup modal js-modal">
    <div class="modal-head order-popup__head">
        <span class="popup-close js-modal-close">Отмена</span>
    </div>

    <div class="js-modal-content" style="height: 100%;"></div>
</div>

<div class="modal-overlay js-modal-overlay"></div>