<div class="order-popup modal">
    <div class="modal-head order-popup__head">
        <span class="popup-close js-modal-close">Отмена</span>
        <div class="modal-title js-modal-title"></div>
    </div>

    <div class="modal-content js-modal-content"></div>
</div>