<!-- popup - выбор регина -->
<div class="popup-region jsCitySelectBox">
    <div class="popup-head">
        <div class="popup-head__inn">
            <div class="popup-close">Отмена</div>
            <div class="city-search">
                <form action="/search" class="search-form js-search-form" data-input-selector="">
                    <div class="search-form-inn">
                        <i class="i-search i-search--search-small"></i>
                        <input class="search-form__it" id="js-search-input" type="text" placeholder="" name="city">
                        <a class="search-form__clear"><i class="i-search i-search--search-clear"></i></a>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="popup-content">
        <ul class="cities-list">
            <li class="cities-list__i active">Москва</li>
            <li class="cities-list__i">Санкт-Петербург</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Петропавловск Камчатский</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
            <li class="cities-list__i">Москва</li>
        </ul>

        <!--<form action="{{!setUrl}}" class="js-ga-submit js-regionSet-form regionForm form2col clearfix">

            <div class="regionForm_selectCity form2col_boxWrap">
                <div class="regionForm_selectCityInner form2col_boxInner">
                    <input id="js-regionSet-input" data-url="{{!autocompleteUrl}}" data-form-selector=".js-regionSet-form" name="q" type="text" class="regionForm_selectCityInput form2col_input" placeholder="Название города" value="{{!regionName}}" />
                    <span class="js-regionSet-clear regionForm_selectCityDel" data-input-selector="#js-regionSet-input"></span>

                    <div class="regionForm_autocomplete" id="js-region-autocomplete"></div>
                </div>
            </div>
        </form>

        <ul class="regionList">
        {{!#regions}}
            <li class="regionList_item">
                <a class="js-regionSet-link js-ga-click regionList_link" href="{{!url}}" data-ga-click="{{!&dataGa}}">{{!name}}</a>
            </li>
        {{!/regions}}
        </ul>-->


    </div>
</div>
<!--/ popup - выбор регина -->
