<div class="js-widget {{widgetId}}" data-template-selector="#tpl-user">
    <manu class="header-controls">
        <li class="header-controls__item header-controls__item--search">
            <a href="" class="header-controls__link js-searchLink" data-ga-click="{&quot;m_top_menu&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_top_menu&quot;,&quot;Search&quot;]}">
                <i class="i-header i-header--search"></i>
            </a>
        </li>

        {{#isUserAuthorized}}
        <li class="header-controls__item header-controls__item--user">
            <a class="js-ga-click header-controls__link" href="{{userLink.url}}" data-ga-click="{&quot;m_top_menu&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_top_menu&quot;,&quot;Profile&quot;]}">
                {{#isEnterprizeMember}}
                    <i class="i-header i-header--user-ep"></i>
                {{/isEnterprizeMember}}
                {{^isEnterprizeMember}}
                    <i class="i-header i-header--user-log"></i>
                {{/isEnterprizeMember}}
            </a>
        </li><!-- пользователь залогинен -->
        {{/isUserAuthorized}}

        {{^isUserAuthorized}}
        <li class="header-controls__item header-controls__item--user">
            <a class="js-ga-click header-controls__link" href="{{userLink.url}}" data-ga-click="{&quot;m_top_menu&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_top_menu&quot;,&quot;Profile&quot;]}">
                <i class="i-header i-header--user"></i>
            </a>
        </li><!-- пользователь не залогинен -->
        {{/isUserAuthorized}}

        {{#isCartNotEmpty}}
        <li class="header-controls__item header-controls__item--cart">
            <a href="{{cart.url}}" class="header-controls__link js-ga-click js-cartToggle" data-ga-click="{&quot;m_top_menu&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_top_menu&quot;,&quot;Cart&quot;]}">
                <i class="i-header i-header--cart-full"></i>
                <span class="cart-qnt">{{cart.quantity}}</span>
            </a>
        </li><!-- полная корзина -->
        {{/isCartNotEmpty}}

        {{^isCartNotEmpty}}
        <li class="header-controls__item header-controls__item--cart">
            <a href="{{cart.url}}" class="header-controls__link js-ga-click js-cartToggle" data-ga-click="{&quot;m_top_menu&quot;:[&quot;send&quot;,&quot;event&quot;,&quot;m_top_menu&quot;,&quot;Cart&quot;]}">
                <i class="i-header i-header--cart"></i>
            </a>
        </li><!-- пустая корзина -->
        {{/isCartNotEmpty}}
    </manu>
</div>