@media only screen and (max-width: 600px) {

	.lineKit {
		display: block;
	    margin: 0 0 10px;

		&-full {
			display: none;
		}

		&-edit {

			.lineKitHead {
				font-size: 14px;
    			padding: 15px 0 5px 10px;
			}
		}
	}

	.lineKitHead {
		clear: both;

		&_title {
			display: block;
			margin-bottom: 5px;
		}

		&_change {
			float: none;
		}
	}

	.lineKitItem {
		display: block;
		padding: 10px 10px 5px;
		border-bottom: 1px solid @tabLightGreyBorder;

		&:last-child {
			border-bottom: 1px solid @tabLightGreyBorder;
		}

		&_name {
			font-size: 16px;
			margin: 0 0 15px;
		}

		&_l {
			float: left;
			width: 90px;
			clear: both;
			margin: 0 15px 5px 0;

			img {
				width: 70px;
			}
		}

		&_r {
			padding-left: 105px;
		}

		&_delvr {
			margin: 0 0 10px;
		}

		&_desc {
			font-size: 12px;
			min-height: 75px;

			.column {
				font-size: 12px;
			}
		}

		&_summ {
			float: right;
		}

		&-l {
			font-size: 16px;
			line-height: 28px;
		}

		&_grey {
			color: @tabGreyText;
		}

		&-disabled {

			.lineKitItem_name,
			.lineKitItem_desc,
			.lineKitItem_l {
				.opacity(0.4);
			}

			.lineKitItem_summ {
				text-decoration: line-through;
				.opacity(0.4);
			}
		}

		.counter {
			float: left;
		}
	}

	/* popup */
	.lineKitTitle {
		font-size: 14px;
    	padding: 19px 0 15px 135px;
	}

	.lineKitImg {
		float: left;
	    width: 135px;

		img {
			width: 120px;
		}
	}

	.lineKitFooter {

		&_summ {
			margin: 10px 0;
			clear: both;
		}
	}
}