//новые кнопки карточки товара
.btn{
    &-buy{
       // кнопка купить по умолчанию
        padding: 8px 30px;
        background-color: #f99b1c;
        color: #fff;
        .rounded(3px);
        font-size: 16px;

        &--slide{
            //маленькая кнопка купить в сладере "с этим товаром покупают"
            padding: 4px 12px;
            font-size: 12px;
            .inline-block();
        }
        &--listing{
            //кнопка в табах аксессуаров, доп товаров
            width: 113px;
            padding: 2px 0;
            text-align: center;
            font-size: 14px;
            .inline-block();
            border: 1px solid #f99b1c;

            &.watch-only{
                background: #fff;
                color: #616161;
                border-color: #c7c7c7;
                &:hover{
                    color: #616161;
                }
            }
        }
        &--slot{

        }
        &:hover{
            color: #fff;
        }
    }
}

@media screen and (max-width: 767px){
    .btn{
        &-buy{
            &--listing{
                width: 62px;
                padding: 5px 0;
            }
        }
    }
}