.btn {
    &-container {
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    &--big {
        overflow: visible;
        width: auto;
        padding: 4px 23px 3px;
        text-align: center;
        text-align: center;
        text-decoration: none;
        .inline-block();
        .box-sizing();
    }
    &--medium {
        display: block;
        overflow: visible;
        width: 120px;
        text-align: center;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        .rounded(4px);
        .inline-block();
        padding: 0px;
    }
    &--lstn {
        display: inline-block;
        width: auto;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        .rounded(3px);
        .box-sizing();
        border-bottom: 2px solid;
        font-size: 14px;
    }
    &--slot {
        font-size: 18px;
        min-width: 145px;
        color: #000;
        border: 1px solid #ccd594;
        border-bottom: 3px solid #b8c64b;
        background: #cbdf59;
        .rounded(5px);
        &:hover {
            background-color: #cee062;
        }
        &:active {
            margin-top: 2px;
            background-color: #cee062;
            border-bottom: 1px solid #b8c64b;
        }
        &-lst {
            padding: 0;
            width: 100px;
            min-width: 0;
            text-align: center;
            height: 30px;
            line-height: 30px;
            .rounded(3px);
            font-size: 14px;
            .inline-block();
            border-bottom: 2px solid #b8c64b;
        }
    }
    &--close {
        background: @white;
        color: #666666;
        border: 1px solid;
    }
    &--submit {
        background: #fcaa2a;
        color: #fff;
        border: 1px solid #ea7900;
    }
    &--buy {
        &-lst {
            background: @typ-orange;
            border-bottom: 2px solid @typ-orange-shadow;
            color: #fff;
            font-weight: bold;
            &:hover {
                color: #fff;
            }
        }
    }
    &--show {
        border: 1px solid #8a8a8a;
        border-bottom: 2px;
        color: #8a8a8a;
        &:hover {
            color: #8a8a8a;
        }
    }
}
