.btn {
    &-container {
        width: 100%;
        margin-top: 25px;

        text-align: center;
    }
    &--big {
        overflow: visible;

        width: auto;
        padding: 4px 23px 3px;

        text-align: center;
        text-align: center;
        text-decoration: none;

        .inline-block();
        .box-sizing();
    }
    &--medium {
        font-size: 16px;
        line-height: 38px;

        display: block;
        overflow: visible;

        width: 120px;
        height: 38px;
        padding: 0;

        text-align: center;

        .rounded(4px);
        .inline-block();
    }
    &--slot {
        font-size: 18px;

        min-width: 145px;

        color: #000;
        border: 1px solid #ccd594;
        border-bottom: 3px solid #b8c64b;
        background: #cbdf59;

        .rounded(5px);
        &:hover {
            background-color: #cee062;
        }
        &:active {
            margin-top: 2px;

            border-bottom: 1px solid #b8c64b;
            background-color: #cee062;
        }
    }
    &--close {
        color: #666;
        border: 1px solid;
        background: @white;
    }
    &--submit {
        color: #fff;
        border: 1px solid #ea7900;
        background: #fcaa2a;
    }
    &--checkout {
        font-size: 20px;
        line-height: 30px;

        width: 200px;
        height: 34px;

        color: #fff;
        border: 0;
        border-bottom: 2px solid #e26500;

        .rounded(6px);
        &:active {
            margin-top: 2px;
            margin-bottom: -2px;

            border-bottom: 0;
        }
    }
}

.btn-transparent {
    padding: 7px 15px;

    border: none;
    background: rgba(255, 255, 255, .75);

    .rounded(3px);
}

.btn-stretch {
    width: 100%;
    text-align: center;
    padding: 10px;
    .box-sizing();

    &--default {
        background: #f7f7f7;
    }

    &__link {
        border-bottom: 1px solid;
        .opacity(.6);
    }
}
