<div class="content">
	<div class="contentBox960 lineKitPopup js-fullimg-wrap">
        <div class="backLn js-fullimg-close">Назад</div>

        <!-- окно изменения комплектации -->
        <div>
	        <div class="lineKitImg"><img src="http://fs05.enter.ru/1/1/500/9b/282644.jpg"></div>

	        <div class="lineKitTitle">
	            Набор мебели для гостиной<br>Ксено № 2, дуб феррара/ясень
	        </div>

	        <div class="lineKit-full mlineKitEdit">

	            <div class="lineKitItem lineKitItem-head">
	                <div class="lineKitItem_cell"><div class="lineKitItem_cell_cap">Уточните комплектацию</div></div>
	                <div class="lineKitItem_cell"></div>
	                <div class="lineKitItem_cell" style="width: 125px;">Дата доставки</div> 
	                <div class="lineKitItem_cell" style="width: 95px;">Количество</div>
	                <div class="lineKitItem_cell ta-r" style="width: 90px;">Цена</div>
	            </div>

	            <div class="lineKitItem lineKitItem-body">
	                <a href="" class="lineKitItem_cell lineKitItem_cell-img">
	                    <img src="http://fs06.enter.ru/1/1/120/91/233395.jpg">
	                </a>

	                <div class="lineKitItem_cell lineKitItem_cell-desc">
	                    <div class="name">
	                        <a href="">Тумба под ТВ «Ксено СТЛ.078.12»</a>
	                    </div>

	                    <div class="price">5 100 <span class="rubl">p</span></div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Высота</span>
	                        <span class="dimantion_val">38.2</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Ширина</span>
	                        <span class="dimantion_val">153</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Глубина</span>
	                        <span class="dimantion_val">44.5</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val">см</span>
	                    </div>
	                </div>

	                <div class="lineKitItem_cell lineKitItem_cell-l">16.8.2014</div>

	                <div class="lineKitItem_cell lineKitItem_cell-counter">
	                    <div class="counter counter-mini">
	                        <button class="js-buySpinner-dec counter__btn counter__btn-plus">-</button>
	                        <input type="text" value="1" class="js-buySpinner-value counter__input">
	                        <button class="js-buySpinner-inc counter__btn counter__btn-minus">+</button>
	                    </div>
	                </div>

	                <div class="lineKitItem_cell lineKitItem_cell-price ta-r">
	                    5 100&nbsp;<span class="rubl">p</span>
	                </div>
	            </div>

	            <div class="lineKitItem lineKitItem-body lineKitItem-disabled">
	                <a href="" class="lineKitItem_cell lineKitItem_cell-img">
	                    <img src="http://fs06.enter.ru/1/1/120/91/233395.jpg">
	                </a>

	                <div class="lineKitItem_cell lineKitItem_cell-desc">
	                    <div class="name">
	                        <a href="">Тумба под ТВ «Ксено СТЛ.078.12»</a>
	                    </div>

	                    <div class="price">5 100 <span class="rubl">p</span></div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Высота</span>
	                        <span class="dimantion_val">38.2</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Ширина</span>
	                        <span class="dimantion_val">153</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Глубина</span>
	                        <span class="dimantion_val">44.5</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val">см</span>
	                    </div>
	                </div>

	                <div class="lineKitItem_cell lineKitItem_cell-l">16.8.2014</div>

	                <div class="lineKitItem_cell lineKitItem_cell-counter">
	                    <div class="counter counter-mini">
	                        <button class="js-buySpinner-dec counter__btn counter__btn-plus">-</button>
	                        <input type="text" value="1" class="js-buySpinner-value counter__input">
	                        <button class="js-buySpinner-inc counter__btn counter__btn-minus">+</button>
	                    </div>
	                </div>

	                <div class="lineKitItem_cell lineKitItem_cell-price ta-r">
	                    5 100&nbsp;<span class="rubl">p</span>
	                </div>
	            </div>
	        </div>

	        <!-- для мобилок -->
	        <div class="lineKit lineKit-mobile">
	            <div class="lineKitItem clearfix">
	            	<div class="lineKitItem_name">
	                    <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
	                </div>

	                <a href="" class="lineKitItem_l ta-c">
	                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
	                </a>

	                <div class="lineKitItem_r lineKitItem_desc">
	                	<div class="lineKitItem_delvr">
		                    Дата доставки: 16.8.2014
		                </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Высота</span>
	                        <span class="dimantion_val">80.2</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Ширина</span>
	                        <span class="dimantion_val">104</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Глубина</span>
	                        <span class="dimantion_val">29.5</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val">см</span>
	                    </div>
	                </div>
	      
	                <div class="lineKitItem_l lineKitItem-l ta-c">
	                    5 000&nbsp;<span class="rubl">p</span>
	                </div>

	                <div class="lineKitItem_r lineKitItem-l">
	                	<div class="counter counter-mini clearfix">
	                        <button class="js-buySpinner-dec counter__btn counter__btn-plus">-</button>
	                        <input type="text" value="1" class="js-buySpinner-value counter__input">
	                        <button class="js-buySpinner-inc counter__btn counter__btn-minus">+</button>
	                    </div> 
	                   
	                   	<span class="lineKitItem_summ">5 000&nbsp;<span class="rubl">p</span></span>
	                </div>
	            </div>

	            <div class="lineKitItem clearfix">
	            	<div class="lineKitItem_name">
	                    <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
	                </div>

	                <a href="" class="lineKitItem_l ta-c">
	                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
	                </a>

	                <div class="lineKitItem_r lineKitItem_desc">
	                	<div class="lineKitItem_delvr">
		                    Дата доставки: 16.8.2014
		                </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Высота</span>
	                        <span class="dimantion_val">80.2</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Ширина</span>
	                        <span class="dimantion_val">104</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Глубина</span>
	                        <span class="dimantion_val">29.5</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val">см</span>
	                    </div>
	                </div>
	      
	                <div class="lineKitItem_l lineKitItem-l ta-c">
	                    5 000&nbsp;<span class="rubl">p</span>
	                </div>

	                <div class="lineKitItem_r lineKitItem-l">1 шт.</div>
	            </div>

	            <div class="lineKitItem clearfix">
	            	<div class="lineKitItem_name">
	                    <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
	                </div>

	                <a href="" class="lineKitItem_l ta-c">
	                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
	                </a>

	                <div class="lineKitItem_r lineKitItem_desc">
	                	<div class="lineKitItem_delvr">
		                    Дата доставки: 16.8.2014
		                </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Высота</span>
	                        <span class="dimantion_val">80.2</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Ширина</span>
	                        <span class="dimantion_val">104</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val separation">x</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">Глубина</span>
	                        <span class="dimantion_val">29.5</span>
	                    </div>

	                    <div class="column dimantion">
	                        <span class="dimantion_name">&nbsp;</span>
	                        <span class="dimantion_val">см</span>
	                    </div>
	                </div>
	      
	                <div class="lineKitItem_l lineKitItem-l ta-c">
	                    5 000&nbsp;<span class="rubl">p</span>
	                </div>

	                <div class="lineKitItem_r lineKitItem-l">1 шт.</div>
	            </div>
	        </div>

	        <div class="lineKitFooter clearfix">
				<input type="checkbox" id="defaultSet" class="customInput customInput-checkbox" checked="checked">
	            <label for="defaultSet" class="customLabel">Базовый комплект</label>

	            <div class="lineKitFooter_summ fl-r">Итого за 6 предметов: 12 700 <span class="rubl">p</span></div>

	            <a href="" class="btnBuy fl-r">Купить</a>
	        </div>
	    </div>
    </div>

	<div class="contentBox960 js-fullimg-hidden">
		<div class="lineKitHead clearfix">
            <span class="lineKitHead_title">Базовая комплектация набора</span>
            <span class="lineKitHead_change"><span class="borderBd js-fullimg-open">Изменить комплектацию</span></span>
        </div>

		<div class="lineKit lineKit-full">
            <div class="lineKitItem clearfix lineKitItem-head">
                <div class="lineKitItem_cell lineKitItem_cell-img"></div>
                <div class="lineKitItem_cell lineKitItem_cell-desc"></div>
                <div class="lineKitItem_cell" style="width: 120px">Дата доставки</div>
                <div class="lineKitItem_cell ta-c" style="width: 100px">Цена за 1 шт.</div>
                <div class="lineKitItem_cell ta-r" style="width: 60px">Кол-во</div>
            </div>

            <div class="lineKitItem clearfix">
                <a href="#product=78589" class="lineKitItem_cell lineKitItem_cell-img">
                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
                </a>

                <div class="lineKitItem_cell lineKitItem_cell-desc">
                    <div class="name">
                        <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">80.2</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">104</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">29.5</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>

                <div class="lineKitItem_cell">
                    16.8.2014
                </div>

                <div class="lineKitItem_cell ta-c">
                    5 000&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_cell ta-r">1 шт.</div>
            </div>

            <div class="lineKitItem clearfix">
                <a href="#product=78965" class="lineKitItem_cell lineKitItem_cell-img">
                    <img src="http://fs04.enter.ru/1/1/120/34/147743.jpg" />
                </a>

                <div class="lineKitItem_cell lineKitItem_cell-desc">
                    <div class="name">
                        <a href="" class="">Навесная полка «Ксено СТЛ.078.05»</a>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">20</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">104</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">25</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>

                <div class="lineKitItem_cell">
                    16.8.2014
                </div>

                <div class="lineKitItem_cell ta-c">
                    970&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_cell ta-r">1 шт.</div>
            </div>

            <div class="lineKitItem clearfix">
                <a href="" class="lineKitItem_cell lineKitItem_cell-img">
                    <img src="http://fs10.enter.ru/1/1/120/24/150309.jpg" />
                </a>

                <div class="lineKitItem_cell lineKitItem_cell-desc">
                    <div class="name">
                        <a href="#product=79641" class="">Надстройка для тумбы под ТВ «Ксено СТЛ.078.13»</a>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">55</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">153</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">35.2</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>

                <div class="lineKitItem_cell">
                    16.8.2014
                </div>

                <div class="lineKitItem_cell ta-c">
                    1 630&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_cell ta-r">1 шт.</div>
            </div>

            <div class="lineKitItem clearfix">
                <a href="" class="lineKitItem_cell lineKitItem_cell-img">
                    <img src="http://fs06.enter.ru/1/1/120/91/233395.jpg" />
                </a>

                <div class="lineKitItem_cell lineKitItem_cell-desc">
                    <div class="name">
                        <a href="#product=125635" class="">Тумба под ТВ «Ксено СТЛ.078.12»</a>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">38.2</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">153</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">44.5</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>

                <div class="lineKitItem_cell">
                    16.8.2014
                </div>

                <div class="lineKitItem_cell ta-c">
                    5 100&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_cell ta-r">1 шт.</div>
            </div>
        </div>

		<!-- для мобилок -->
        <div class="lineKit lineKit-mobile">
            <div class="lineKitItem clearfix">
            	<div class="lineKitItem_name">
                    <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
                </div>

                <a href="" class="lineKitItem_l ta-c">
                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
                </a>

                <div class="lineKitItem_r lineKitItem_desc">
                	<div class="lineKitItem_delvr">
	                    Дата доставки: 16.8.2014
	                </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">80.2</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">104</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">29.5</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>
      
                <div class="lineKitItem_l lineKitItem-l ta-c">
                    5 000&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_r lineKitItem-l">1 шт.</div>
            </div>

            <div class="lineKitItem clearfix">
            	<div class="lineKitItem_name">
                    <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
                </div>

                <a href="" class="lineKitItem_l ta-c">
                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
                </a>

                <div class="lineKitItem_r lineKitItem_desc">
                	<div class="lineKitItem_delvr">
	                    Дата доставки: 16.8.2014
	                </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">80.2</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">104</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">29.5</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>
      
                <div class="lineKitItem_l lineKitItem-l ta-c">
                    5 000&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_r lineKitItem-l">1 шт.</div>
            </div>

            <div class="lineKitItem clearfix">
            	<div class="lineKitItem_name">
                    <a href="" class="">Настенный шкаф-витрина «Ксено СТЛ.078.14»</a>
                </div>

                <a href="" class="lineKitItem_l ta-c">
                    <img src="http://fs07.enter.ru/1/1/120/97/146336.jpg" />
                </a>

                <div class="lineKitItem_r lineKitItem_desc">
                	<div class="lineKitItem_delvr">
	                    Дата доставки: 16.8.2014
	                </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Высота</span>
                        <span class="dimantion_val">80.2</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Ширина</span>
                        <span class="dimantion_val">104</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val separation">x</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">Глубина</span>
                        <span class="dimantion_val">29.5</span>
                    </div>

                    <div class="column dimantion">
                        <span class="dimantion_name">&nbsp;</span>
                        <span class="dimantion_val">см</span>
                    </div>
                </div>
      
                <div class="lineKitItem_l lineKitItem-l ta-c">
                    5 000&nbsp;<span class="rubl">p</span>
                </div>

                <div class="lineKitItem_r lineKitItem-l">1 шт.</div>
            </div>
        </div>
    </div>
</div>
