/* ==========================================================================
   Подвал сайта .footer .socLink .publicInfoList .publicInfoText .footerCopy
   ========================================================================== */
   
@media only screen and (max-width: 900px) {
	.footer {
	    height: 223px;
	    margin: 0 auto;
	}

	.socLink {
	    float: none;

	    width: 125px;
	    margin: 15px auto;
	}

	.aboutList {
	    float: none;

	    text-align: center;

	    &__item {
			margin-right: 15px;
		}
	}

	.publicInfoList {
	    text-align: center;

	    &__item {
			margin-right: 15px;
		}
	}
}
@media only screen and (max-width: 640px) {
	.appList {
			width: auto;

			&__item {
				display: block;

	    		margin: 0 0 15px;

	    		text-align: center;
			}
		}
}

@media only screen and (max-width: 610px) {
	.footer {
	    height: 580px;
	    margin: 0 auto;
	}

	.aboutList {
		width: auto;

		&__item {
			display: block;

    		margin: 0 0 15px;

    		text-align: center;
		}
	}

	.publicInfoList {
		width: auto;

		&__item {
			display: block;

    		margin: 0 0 15px;

    		text-align: center;
		}
	}

	.footerCopy__link {
		display: block;
	    float: none;
	    padding: 3px 0 10px;
	    text-align: center;
	}
}