<div class="content">
    <div class="contentBox960 cart">
        <div class="pageTitle">Корзина</div>

        {{#productBlock}}
           <div class="cart__inn">
            {{#products}}
            <!-- товар в корзине -->
                <div class="js-cartProduct-container cart-item clearfix">
                    {{#cartDeleteButton}}
                        {{>partial/cart/deleteButton}}
                    {{/cartDeleteButton}}

                    <a class="cart-item__img" href="{{url}}">
                        <img src="{{image}}" alt="{{&name}}" />
                    </a>
                    <div class="cart-item__descr">
                        <a class="cart-item__name" href="{{url}}">{{#namePrefix}}<span class="name_cat">{{namePrefix}}</span>{{/namePrefix}}{{name}}</a>
                    </div>
                    <div class="cart-item__price-info table_row">
                        <div class="cart-item__item-price table_cell"><span class="price-inn">{{shownPrice}}&ensp;<span class="rubl">p</span></div>
                        <div class="cart-item__change table_cell">
                            {{#cartSpinner}}
                                {{>partial/cart/spinner}}
                            {{/cartSpinner}}
                        </div>
                        <div class="cart-item__item-sum table_cell">
                            <span class="price-inn">{{#sum}}
                                {{>partial/cart/productSum}}
                            {{/sum}}</span>
                        </div>
                    </div>
                </div>
                <!--/ товар в корзине -->
            {{/products}}
           </div>
        {{/productBlock}}

        {{>partial/cart/bar}}

        {{^cart}}
        <div class="cartEmpty">
            <div class="cartEmpty_title">В вашей корзине еще нет товаров.</div>

            <div class="cartEmpty_now"><a href="/">Перейти к покупкам &rsaquo;</a></div>
        </div>
        {{/cart}}
    </div>
</div>